<div class="row mx-0">
  <div class="fb-item col-12" [ngClass]="{ 'background-color': count !== 1, 'not-window': !window }"
    *ngFor="let a of arr">
    <div class="row mx-0">
      <div class="col-12 pl-0">
        <div class="commentsSection pt-3">
          <div class="row mx-0 mb-2">
            <div class="col-12 pr-0">
              <app-list-loader [style]="{ width: '100%', 'border-radius': '5px', height: '35px', 'margin-bottom': '0px' }">
              </app-list-loader>
            </div>
          </div>
          <div class="row mx-0 py-3">
            <div class="col-12 pr-0">
              <app-list-loader [style]="{ width: '45%', 'border-radius': '0', height: '20px', 'margin-bottom': '0px' }">
              </app-list-loader>
              <div class="media">
                <app-list-loader class="mr-1" [style]="{ width: '10px', 'border-radius': '100px', height: '10px', 'margin-bottom': '0px' }"></app-list-loader>
                <div class="media-body">
                  <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }"></app-list-loader>
                </div>
              </div>
              <div class="media">
                <app-list-loader class="mr-1"
                  [style]="{ width: '10px', 'border-radius': '100px', height: '10px', 'margin-bottom': '0px' }"></app-list-loader>
                <div class="media-body">
                  <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                </div>
              </div>
              <div class="media">
                <app-list-loader class="mr-1"
                  [style]="{ width: '10px', 'border-radius': '100px', height: '10px', 'margin-bottom': '0px' }"></app-list-loader>
                <div class="media-body">
                  <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                </div>
              </div>
              <div class="media">
                <app-list-loader class="mr-1"
                  [style]="{ width: '10px', 'border-radius': '100px', height: '10px', 'margin-bottom': '0px' }"></app-list-loader>
                <div class="media-body">
                  <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                </div>
              </div>
              <div class="media">
                <app-list-loader class="mr-1"
                  [style]="{ width: '10px', 'border-radius': '100px', height: '10px', 'margin-bottom': '0px' }"></app-list-loader>
                <div class="media-body">
                  <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="commentsSection">
          <div class="row mx-0 py-3">
            <div class="col-12 pr-0">
              <app-list-loader [style]="{ width: '45%', 'border-radius': '0', height: '20px', 'margin-bottom': '0px' }">
              </app-list-loader>
              <div class="media">
                <app-list-loader class="mr-1"
                  [style]="{ width: '10px', 'border-radius': '100px', height: '10px', 'margin-bottom': '0px' }">
                </app-list-loader>
                <div class="media-body">
                  <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                </div>
              </div>
              <div class="media">
                <app-list-loader class="mr-1"
                  [style]="{ width: '10px', 'border-radius': '100px', height: '10px', 'margin-bottom': '0px' }">
                </app-list-loader>
                <div class="media-body">
                  <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                </div>
              </div>
              <div class="media">
                <app-list-loader class="mr-1"
                  [style]="{ width: '10px', 'border-radius': '100px', height: '10px', 'margin-bottom': '0px' }">
                </app-list-loader>
                <div class="media-body">
                  <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                </div>
              </div>
              <div class="media">
                <app-list-loader class="mr-1"
                  [style]="{ width: '10px', 'border-radius': '100px', height: '10px', 'margin-bottom': '0px' }">
                </app-list-loader>
                <div class="media-body">
                  <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                </div>
              </div>
              <div class="media">
                <app-list-loader class="mr-1"
                  [style]="{ width: '10px', 'border-radius': '100px', height: '10px', 'margin-bottom': '0px' }">
                </app-list-loader>
                <div class="media-body">
                  <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="commentsSection">
          <div class="row mx-0 py-3">
            <div class="col-12 pr-0">
              <app-list-loader [style]="{ width: '45%', 'border-radius': '0', height: '20px', 'margin-bottom': '0px' }">
              </app-list-loader>
              <div class="media">
                <app-list-loader class="mr-1"
                  [style]="{ width: '10px', 'border-radius': '100px', height: '10px', 'margin-bottom': '0px' }">
                </app-list-loader>
                <div class="media-body">
                  <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                </div>
              </div>
              <div class="media">
                <app-list-loader class="mr-1"
                  [style]="{ width: '10px', 'border-radius': '100px', height: '10px', 'margin-bottom': '0px' }">
                </app-list-loader>
                <div class="media-body">
                  <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                </div>
              </div>
              <div class="media">
                <app-list-loader class="mr-1"
                  [style]="{ width: '10px', 'border-radius': '100px', height: '10px', 'margin-bottom': '0px' }">
                </app-list-loader>
                <div class="media-body">
                  <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                </div>
              </div>
              <div class="media">
                <app-list-loader class="mr-1"
                  [style]="{ width: '10px', 'border-radius': '100px', height: '10px', 'margin-bottom': '0px' }">
                </app-list-loader>
                <div class="media-body">
                  <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                </div>
              </div>
              <div class="media">
                <app-list-loader class="mr-1"
                  [style]="{ width: '10px', 'border-radius': '100px', height: '10px', 'margin-bottom': '0px' }">
                </app-list-loader>
                <div class="media-body">
                  <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
