<app-challenge-top-summary></app-challenge-top-summary>
<div class="row pt-5">
  <div class="col-12 col-md-10 offset-md-1">
    <p class="uppercase text-muted bold mb-2">Challenge Participants</p>
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <!-- start one -->
          <div class="col-3">
            <div class="media mb-5">
              <img
                class="rounded-circle mr-3 ml-2"
                src="https://via.placeholder.com/75x75"
              />
              <div class="media-body">
                <h5 class="mb-0">
                  <a routerLink="/profile-container" class="inverseLinkDark">
                    Coby Skonord
                  </a>
                </h5>
                <ul class="list-inline mb-2">
                  <li class="list-inline-item mr-2">
                    <p class="small mb-0 text-muted">
                      <fa-icon [icon]="['fas', 'lightbulb']"></fa-icon>
                      10 Ideas
                    </p>
                  </li>
                  <li class="list-inline-item mr-0">
                    <p class="small mb-0 text-muted">
                      <fa-icon [icon]="['fas', 'certificate']"></fa-icon>
                      1,000 XP
                    </p>
                  </li>
                </ul>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item mr-0">
                    <button class="btn btn-primary btn-sm py-0 px-3">
                      <fa-icon [icon]="['fas', 'rss']"></fa-icon>
                      Follow
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end one -->
          <!-- start one -->
          <div class="col-3">
            <div class="media mb-5">
              <img
                class="rounded-circle mr-3 ml-2"
                src="https://via.placeholder.com/75x75"
              />
              <div class="media-body">
                <h5 class="mb-0">
                  <a routerLink="/profile-container" class="inverseLinkDark">
                    Coby Skonord
                  </a>
                </h5>
                <ul class="list-inline mb-2">
                  <li class="list-inline-item mr-2">
                    <p class="small mb-0 text-muted">
                      <fa-icon [icon]="['fas', 'lightbulb']"></fa-icon>
                      10 Ideas
                    </p>
                  </li>
                  <li class="list-inline-item mr-0">
                    <p class="small mb-0 text-muted">
                      <fa-icon [icon]="['fas', 'certificate']"></fa-icon>
                      1,000 XP
                    </p>
                  </li>
                </ul>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item mr-0">
                    <button class="btn btn-primary btn-sm py-0 px-3">
                      <fa-icon [icon]="['fas', 'rss']"></fa-icon>
                      Follow
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end one -->
          <!-- start one -->
          <div class="col-3">
            <div class="media mb-5">
              <img
                class="rounded-circle mr-3 ml-2"
                src="https://via.placeholder.com/75x75"
              />
              <div class="media-body">
                <h5 class="mb-0">
                  <a routerLink="/profile-container" class="inverseLinkDark">
                    Coby Skonord
                  </a>
                </h5>
                <ul class="list-inline mb-2">
                  <li class="list-inline-item mr-2">
                    <p class="small mb-0 text-muted">
                      <fa-icon [icon]="['fas', 'lightbulb']"></fa-icon>
                      10 Ideas
                    </p>
                  </li>
                  <li class="list-inline-item mr-0">
                    <p class="small mb-0 text-muted">
                      <fa-icon [icon]="['fas', 'certificate']"></fa-icon>
                      1,000 XP
                    </p>
                  </li>
                </ul>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item mr-0">
                    <button class="btn btn-primary btn-sm py-0 px-3">
                      <fa-icon [icon]="['fas', 'rss']"></fa-icon>
                      Follow
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end one -->
          <!-- start one -->
          <div class="col-3">
            <div class="media mb-5">
              <img
                class="rounded-circle mr-3 ml-2"
                src="https://via.placeholder.com/75x75"
              />
              <div class="media-body">
                <h5 class="mb-0">
                  <a routerLink="/profile-container" class="inverseLinkDark">
                    Coby Skonord
                  </a>
                </h5>
                <ul class="list-inline mb-2">
                  <li class="list-inline-item mr-2">
                    <p class="small mb-0 text-muted">
                      <fa-icon [icon]="['fas', 'lightbulb']"></fa-icon>
                      10 Ideas
                    </p>
                  </li>
                  <li class="list-inline-item mr-0">
                    <p class="small mb-0 text-muted">
                      <fa-icon [icon]="['fas', 'certificate']"></fa-icon>
                      1,000 XP
                    </p>
                  </li>
                </ul>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item mr-0">
                    <button class="btn btn-primary btn-sm py-0 px-3">
                      <fa-icon [icon]="['fas', 'rss']"></fa-icon>
                      Follow
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end one -->
          <!-- start one -->
          <div class="col-3">
            <div class="media mb-5">
              <img
                class="rounded-circle mr-3 ml-2"
                src="https://via.placeholder.com/75x75"
              />
              <div class="media-body">
                <h5 class="mb-0">
                  <a routerLink="/profile-container" class="inverseLinkDark">
                    Coby Skonord
                  </a>
                </h5>
                <ul class="list-inline mb-2">
                  <li class="list-inline-item mr-2">
                    <p class="small mb-0 text-muted">
                      <fa-icon [icon]="['fas', 'lightbulb']"></fa-icon>
                      10 Ideas
                    </p>
                  </li>
                  <li class="list-inline-item mr-0">
                    <p class="small mb-0 text-muted">
                      <fa-icon [icon]="['fas', 'certificate']"></fa-icon>
                      1,000 XP
                    </p>
                  </li>
                </ul>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item mr-0">
                    <button class="btn btn-primary btn-sm py-0 px-3">
                      <fa-icon [icon]="['fas', 'rss']"></fa-icon>
                      Follow
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end one -->
        </div>
      </div>
    </div>
  </div>
</div>
