.singleContentContainerUploader {
  border-radius: 0.15rem;
  background-color: #f8f9fa;
  vertical-align: middle;
  // box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  // height: 140px;
}
