<div class="container pageTopPadding">
  <div class="row">
    <div class="col-12">
      <div
        class="alert alert-secondary alert-dismissible fade show mb-4"
        role="alert"
      >
        Did you know that you can save this search?
        <span class="underline">Save Search</span>
        <button type="button" class="close">
          <span>&times;</span>
        </button>
      </div>
      <div class="row">
        <div class="col-2">
          <!-- start of filters insert -->
          <p class="uppercase text-muted bold mb-4">FILTER RESULTS</p>
          <p class="uppercase small text-muted bold mb-2">Content Type</p>
          <ul class="list-unstyled ml-1">
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >All Content Types</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >Challenges Types</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >Ideas</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >Insights</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >Groups</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >People</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >Comments</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >Tags</label
                >
              </div>
            </li>
          </ul>
          <p class="uppercase small text-muted bold mb-2">Tags</p>
          <ul class="list-unstyled ml-1">
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >All Tags (1,245)</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >#aginginplace
                </label>
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >#millenialengagement (25)</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >entrepreneurship</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >Groups</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >People</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >Comments</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >Tags</label
                >
              </div>
            </li>
          </ul>
          <p class="uppercase small text-muted bold mb-2">Content Source</p>
          <ul class="list-unstyled ml-1">
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >All Sources</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >Created by me</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >Owned by Me</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >Assigned to Me</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >External</label
                >
              </div>
            </li>
            <li class="small">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="allContentTypes"
                />
                <label
                  class="custom-control-label font-weight-normal pointer adjustSmallLabel"
                  for="allContentTypes"
                  >Internal</label
                >
              </div>
            </li>
          </ul>
          <p class="uppercase small text-muted bold mb-2">Date Created</p>
          <p class="uppercase small text-muted bold mb-2">Media Type</p>
          <!-- end of filters insert -->
        </div>
        <div class="col-7">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <p class="uppercase text-muted bold mb-3">205 RESULTS RETURNED</p>
            </li>
            <li class="list-inline-item float-right mr-2">
              <ul class="list-inline">
                <li class="list-inline-item nav-underline active">
                  Popular
                </li>
                <li class="list-inline-item nav-underline">
                  Newest
                </li>
                <li class="list-inline-item nav-underline">
                  Active
                </li>
                <li class="list-inline-item nav-underline">
                  Oldest
                </li>
              </ul>
            </li>
          </ul>
          <!-- user widget -->
          <div class="card mb-3">
            <div class="card-body pl-3 pr-3 pt-3 pb-3">
              <div class="row">
                <div class="col-9">
                  <div class="media">
                    <img
                      class="rounded-circle mr-3"
                      src="https://via.placeholder.com/50x50"
                    />
                    <div class="media-body">
                      <p class="mb-1 bold">
                        <a routerLink="/profile-container">Full Name</a>
                      </p>
                      <p class="mb-0">
                        <fa-icon
                          [icon]="['fas', 'hashtag']"
                          class="text-muted mr-1"
                        ></fa-icon>
                        <span class="tagLink mr-2">skillone</span>
                        <span class="tagLink mr-2">skilltwo</span>
                        <span class="tagLink mr-2">skillthree</span>
                      </p>
                      <p class="mb-2">
                        We could include bio here but people very rarely fill it
                        out and pry not that valuable
                      </p>
                      <p class="mb-0 mt-2 small">
                        <span class="mr-2">
                          <fa-icon
                            [icon]="['fas', 'lightbulb']"
                            class="text-muted mr-1"
                          ></fa-icon>
                          2,520
                        </span>
                        <span class="mr-2">
                          <fa-icon
                            [icon]="['fas', 'users']"
                            class="text-muted mr-1"
                          ></fa-icon>
                          22
                        </span>
                        <span class="mr-2">
                          <fa-icon
                            [icon]="['fas', 'atom']"
                            class="text-muted mr-1"
                          ></fa-icon>
                          15
                        </span>
                        <span class="mr-2">
                          <fa-icon
                            [icon]="['fas', 'comment']"
                            class="text-muted mr-1"
                          ></fa-icon>
                          18
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <button
                    class="btn btn-outline-primary btn-sm btn-block mb-2 pointer"
                  >
                    Follow
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- user widget -->
          <app-idea-widget-feed></app-idea-widget-feed>
          <!-- tag widget -->
          <div class="card mb-3">
            <div class="card-body pl-3 pr-3 pt-0 pb-4">
              <div class="row border-bottom bg-dark pt-3">
                <div class="col-9">
                  <div class="media">
                    <div class="media-body">
                      <p class="mb-3 pb-3 bold border-bottom whiteTagLink">
                        <fa-icon
                          [icon]="['fas', 'hashtag']"
                          class="text-primary"
                        ></fa-icon>
                        aginginplace
                      </p>
                      <p class="mb-3 small">
                        <span class="grayTagLink mr-2">
                          <fa-icon
                            [icon]="['fas', 'lightbulb']"
                            class="text-primary mr-1"
                          ></fa-icon>
                          2,520 Ideas
                        </span>
                        <span class="grayTagLink mr-2">
                          <fa-icon
                            [icon]="['fas', 'user']"
                            class="text-primary mr-1"
                          ></fa-icon>
                          22 Skills
                        </span>
                        <span class="grayTagLink mr-2">
                          <fa-icon
                            [icon]="['fas', 'atom']"
                            class="text-primary mr-1"
                          ></fa-icon
                          >15 Insights
                        </span>
                        <span class="grayTagLink mr-2">
                          <fa-icon
                            [icon]="['fas', 'comment']"
                            class="text-primary mr-1"
                          ></fa-icon
                          >18 Comments
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <button
                    class="btn btn-outline-primary btn-sm btn-block mb-2 pointer"
                  >
                    <fa-icon
                      [icon]="['fas', 'rss']"
                      class="float-left"
                    ></fa-icon>
                    Follow
                  </button>
                  <!-- <button class="btn btn-outline-light btn-sm btn-block mb-2 pointer">
                    <fa-icon [icon]="['fas', 'plus-circle']" class="float-left"></fa-icon>
                    Add to Idea
                  </button> -->
                </div>
              </div>
              <div class="row pt-3">
                <div class="col-12">
                  <a
                    href="https://drive.google.com/uc?export=view&id=1D5-OySRN_sMN-VvU0QTVnyx6yQ7ZGPym"
                  >
                    <img
                      src="https://drive.google.com/uc?export=view&id=1D5-OySRN_sMN-VvU0QTVnyx6yQ7ZGPym"
                      style="max-width: 100%; height: auto;"
                      title="Click for the larger version."
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- tag widget -->
          <!-- insight widget -->
          <div class="card mb-2">
            <div class="card-body"></div>
          </div>
          <!-- insight widget -->
          <!-- comment widget -->
          <div class="card mb-2">
            <div class="card-body"></div>
          </div>
        </div>
        <!-- comment widget -->
        <div class="col-3">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <p class="uppercase text-muted bold mb-1">POPULAR TAGS</p>
            </li>
            <li class="list-inline-item float-right">
              <span class="text-primary pointer">View All</span>
            </li>
          </ul>
          <!-- tags component -->
          <div class="card">
            <div class="card-body pb-0">
              <h5 class="mb-0 mb-3 tagLink">
                <fa-icon
                  [icon]="['fas', 'hashtag']"
                  class="text-muted mr-2"
                ></fa-icon
                >tagname
              </h5>
              <h5 class="mb-0 mb-3 tagLink">
                <fa-icon
                  [icon]="['fas', 'hashtag']"
                  class="text-muted mr-2"
                ></fa-icon
                >tagname
              </h5>
              <h5 class="mb-0 mb-3 tagLink">
                <fa-icon
                  [icon]="['fas', 'hashtag']"
                  class="text-muted mr-2"
                ></fa-icon
                >tagname
              </h5>
            </div>
          </div>
          <!-- end tags component -->
        </div>
      </div>
    </div>
  </div>
</div>
