<!-- when user arrives on the pending invites page -->
<ngb-alert [dismissible]="true" type="success">
  Nice work! All <strong>425</strong> of your invites have been successfully
  scheduled for sending. You can track their status from this page.
</ngb-alert>

<ngb-alert [dismissible]="true" type="warning">
  Nice work! All <strong>425</strong> of your invites have been successfully
  scheduled for sending. You can track their status from this page.
</ngb-alert>

<ngb-alert [dismissible]="true" type="danger">
  Nice work! All <strong>425</strong> of your invites have been successfully
  scheduled for sending. You can track their status from this page.
</ngb-alert>

<!-- end when user arrives on the pending invites page -->
