<!-- for edit mode -->
<ul class="list-inline mb-2">
  <!-- if in edit mode -->
  <li class="list-inline-item mb-2">
    <div class="badge badge-light badgePadding border">
      <div class="form-row">
        <div class="form-control col-8 p-0 bg-light" style="border: aliceblue;">
          <input type="text" class="form-control form-control-sm" />
        </div>
        <div class="form-control col-2 p-0 bg-light" style="border: aliceblue;">
          <button class="btn btn-primary btn-sm">
            <fa-icon [icon]="['fas', 'check']"></fa-icon>
          </button>
        </div>
        <div class="form-control col-2 p-0 bg-light" style="border: aliceblue;">
          <button class="btn btn-danger btn-sm btn-block">
            <fa-icon [icon]="['fas', 'times']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </li>
  <!-- end if in edit mode -->
  <li class="list-inline-item mb-2">
    <span class="badge badge-light badgePadding border">
      <fa-icon [icon]="['fas', 'hashtag']" class="text-muted"></fa-icon>
      tagname
      <fa-icon
        [icon]="['fas', 'edit']"
        class="pointer pl-1 inverseLink"
        ngbTooltip="Edit Tag"
      ></fa-icon>
      <fa-icon
        [icon]="['fas', 'times']"
        class="pointer pl-2 align-middle inverseLinkDanger"
        ngbTooltip="Archive Tag"
      ></fa-icon>
    </span>
  </li>
  <li class="list-inline-item mb-2">
    <span class="badge badge-light badgePadding border">
      <fa-icon [icon]="['fas', 'hashtag']" class="text-muted"></fa-icon>
      tagname
      <fa-icon
        [icon]="['fas', 'edit']"
        class="pointer pl-1 inverseLink"
        ngbTooltip="Edit Tag"
      ></fa-icon>
      <fa-icon
        [icon]="['fas', 'times']"
        class="pointer pl-2 align-middle inverseLinkDanger"
        ngbTooltip="Archive Tag"
      >
      </fa-icon>
    </span>
  </li>
  <li class="list-inline-item mb-2">
    <span class="badge badge-light badgePadding border">
      <fa-icon [icon]="['fas', 'hashtag']" class="text-muted"></fa-icon>
      tagname
      <fa-icon
        [icon]="['fas', 'edit']"
        class="pointer pl-1 inverseLink"
        ngbTooltip="Edit Tag"
      ></fa-icon>
      <fa-icon
        [icon]="['fas', 'times']"
        class="pointer pl-2 align-middle inverseLinkDanger"
        ngbTooltip="Archive Tag"
      >
      </fa-icon>
    </span>
  </li>
  <li class="list-inline-item mb-2">
    <span class="badge badge-light badgePadding border">
      <fa-icon [icon]="['fas', 'hashtag']" class="text-muted"></fa-icon>
      tagname
      <fa-icon
        [icon]="['fas', 'edit']"
        class="pointer pl-1 inverseLink"
        ngbTooltip="Edit Tag"
      ></fa-icon>
      <fa-icon
        [icon]="['fas', 'times']"
        class="pointer pl-2 align-middle inverseLinkDanger"
        ngbTooltip="Archive Tag"
      >
      </fa-icon>
    </span>
  </li>
</ul>
<!-- end of edit mode -->
