<div class="card mb-4">
  <div class="card-header pb-2 pt-2">
    <p class="uppercase bold text-muted mb-0 small">Missions</p>
  </div>
  <div class="card-body pl-1 pr-1 pb-0 pt-0">
    <ul class="list-group list-group-flush">
      <li class="list-group-item small completed">
        View 3 ideas
      </li>
      <li class="list-group-item small notCompleted">
        Follow one hashtag topic
      </li>
      <li class="list-group-item small notCompleted">
        <span class="inverseLink">Post your first idea</span>
      </li>
      <li class="list-group-item small notCompleted">
        Post your first comment
      </li>
      <li class="list-group-item small notCompleted">
        Complete your first review
      </li>
    </ul>
  </div>
</div>
