<div class="row pageTopPadding loginBackground h-100">
  <div class="col-md-6 offset-md-3 col-sm-12">
    <div class="my-auto align-middle">
      <div class="card mb-3">
        <!-- <div class="card-header">
          <p class="uppercase mb-0 bold text-muted small">Reset Your Password</p>
        </div> -->
        <div class="card-body pb-0">
          <h4 class="montserrat text-center bold mb-0">
            {{ 'Login.ResetPasswordHeader' | translationPipe }}
          </h4>
          <p class="text-muted text-center">
            {{ 'Login.EnterNewPassword' | translationPipe }}
          </p>
          <hr class="mt-0" />
          <form [formGroup]="resetPasswordForm" (submit)="onSubmit()">
            <div class="form-group">
              <label>
                {{ 'Login.PleaseEnter' | translationPipe }}
              </label>
              <input
                type="password"
                formControlName="password"
                placeholder="****************"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label>
                {{ 'Login.PleaseReEnter' | translationPipe }}
              </label>
              <input
                type="password"
                formControlName="confirmPass"
                placeholder="****************"
                class="form-control"
              />
            </div>
            <div
              *ngIf="
                submitted &&
                resetPasswordForm.controls.confirmPass.errors &&
                resetPasswordForm.controls.confirmPass.errors.notEquivalent
              "
              style="color: red;"
            >
              {{ 'Login.PasswordsDontMatch' | translationPipe }}
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block montserrat">
                {{ 'Login.SavePassword' | translationPipe }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
