.removeMargins {
  margin-right: -0.6rem;
}

.userImage {
  border: 2px solid white;
  max-width: 3rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.circleIcon {
  font-size: 5px;
  position: relative;
  bottom: 0.15rem;
}

// .ng-select.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value .ng-value-label{
//   padding: 4px 8px !important;
// }
.ng-value-label {
  padding: 4px 8px !important;
}

.ng-select.ng-select-disabled > .ng-select-container {
  background-color: transparent !important;
}
