@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~src/variables';
@import '~src/variables-custom';

.multicoloredBackground {
  background-color: linear-gradient(135deg, $primary 0, $secondary 60%);
  background: url('https://3.bp.blogspot.com/-6xyJ92jKRjg/XD930UNULaI/AAAAAAAAAuM/jfz5tKgvmxYKj-YAtmhFM-s-JcGC1k7DQCKgBGAs/w2560-h1600-c/abstract-space-8-4k.jpg')
    no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 91vh;
}
