.page-item.active .page-link {
  background-color: inherit !important;
  color: #434343 !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  border-color: #dddddd !important;
}
