<ul class="list-inline mb-0 d-flex align-items-center">
  <li class="list-inline-item">
    <p class="small text-muted mb-0 float-right">
      {{ startPage || 0 }} - {{ endPage || 0 }} of {{ totalCount || 0 }} Results
    </p>
  </li>
  <li class="list-inline-item">
    <select
      class="form-control form-control-sm"
      (ngModelChange)="changePageSize($event)"
      [(ngModel)]="pageSize"
    >
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="12">12</option>
      <option value="30">30</option>
      <option value="60">60</option>
      <option value="100">100</option>
      <option value="150">150</option>
    </select>
  </li>
  <li class="list-inline-item">
    <ngb-pagination
      (pageChange)="pageChange($event)"
      [collectionSize]="totalCount"
      size="sm"
      [(page)]="pageNumber"
      [pageSize]="pageSize"
      [maxSize]="maxSize"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
    >
      <ng-template ngbPaginationFirst>
        <fa-icon [icon]="['fas', 'angle-double-left']"></fa-icon>
      </ng-template>
      <ng-template ngbPaginationPrevious>
        <fa-icon [icon]="['fas', 'angle-left']"></fa-icon>
      </ng-template>
      <ng-template ngbPaginationNext>
        <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
      </ng-template>
      <ng-template ngbPaginationLast>
        <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon>
      </ng-template>
    </ngb-pagination>
  </li>
</ul>
