.background-color {
  background-color: #f9f9f9;
}

.descriptionSection{
  background-color: #fefefe;
  height: auto;
  min-height: 200px;
  border-radius: .15rem;
  margin: 1.5rem 0;
  padding: 1.5rem;
}

.commentsSection{
  background-color: #fefefe;
  height: auto;
  min-height: 150px;
  border-radius: .15rem;
  margin: 0;
  padding: 2.5rem 1.5rem;
}

.votingSection{
  background-color: #fefefe;
  height: auto;
  min-height: 90px;
  border-radius: .15rem;
  margin: 1.5rem 0;
  padding: 1.5rem;
}

.teamSection{
  background-color: #fefefe;
  height: auto;
  min-height: 120px;
  border-radius: .15rem;
  margin: 1.5rem 0;
  padding: 1.5rem;
}

.fb-item {
  margin-bottom: 40px;
  border-bottom: 1px solid #f3f3f4;
  background-color: #FFFFFF;
  padding-top: 50px;
  display: inline-block;
  width: 100%;
  max-height: 100%;
  max-height: 350px;
  min-height: 350px;
}

.gravatar {
  width: 100px;
  height: 90px;
}

.gravatar-title {
  // width: 500px;
  width: 100%;
  margin: 0;
  padding: 1.5rem;
  height: 175px;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.first-section-wrapper,
.second-section-wrapper {
  width: 100%;
  height: auto;
  flex: 1;
  margin: 0;
  padding: 0;
}

.third-section-wrapper{
  width: 100%;
  height: 20px;
  flex: 1;
}

.first-section-wrapper {
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.second-section-wrapper {
  padding: 1rem;
}

.wrapper {
  width: 100%;
  flex: 1;
}

