<div class="container pageTopPadding">
  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-10 offset-1">
              <h4 class="text-center montserrat pt-4 uppercase">
                Terms and Conditions
              </h4>
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-10 offset-1">
              <h4 class="pt-3 montserrat">In General</h4>
              <p class="small text-muted">
                Inventalator, Inc. d/b/d IdeaWake (“www.ideawake.com”) owns and
                operates this Website. This document governs your relationship
                with www.ideawake.com (“Website”). Access to and use of this
                Website and the products and services available through this
                Website (collectively, the "Services") are subject to the
                following terms, conditions and notices (the "Terms of
                Service"). By using the Services, you are agreeing to all of the
                Terms of Service, as may be updated by us from time to time. You
                should check this page regularly to take notice of any changes
                we may have made to the Terms of Service.
              </p>
              <p class="small text-muted">
                Access to this Website is permitted on a temporary basis, and we
                reserve the right to withdraw or amend the Services without
                notice. We will not be liable if for any reason this Website is
                unavailable at any time or for any period. From time to time, we
                may restrict access to some parts or all of this Website.
              </p>
              <p class="small text-muted">
                This Website may contain links to other websites (the "Linked
                Sites"), which are not operated by www.ideawake.com.
                www.ideawake.com has no control over the Linked Sites and
                accepts no responsibility for them or for any loss or damage
                that may arise from your use of them. Your use of the Linked
                Sites will be subject to the terms of use and service contained
                within each such site.
              </p>
              <h4 class="pt-3 montserrat">Privacy Policy</h4>
              <p class="small text-muted">
                Our privacy policy, which sets out how we will use your
                information, can be found at www.ideawake.com/privacy. By using
                this Website, you consent to the processing described therein
                and warrant that all data provided by you is accurate.
              </p>
              <h4 class="pt-3 montserrat">Permitted Use</h4>
              <p class="small text-muted">
                You must not misuse this Website. You will not: commit or
                encourage a criminal offense; transmit or distribute a virus,
                trojan, worm, logic bomb or any other material which is
                malicious, technologically harmful, in breach of confidence or
                in any way offensive or obscene; hack into any aspect of the
                Service; corrupt data; cause annoyance to other users; infringe
                upon the rights of any other person's proprietary rights; send
                any unsolicited advertising or promotional material, commonly
                referred to as "spam"; or attempt to affect the performance or
                functionality of any computer facilities of or accessed through
                this Website. Breaching this provision would constitute a
                criminal offense and www.ideawake.com will report any such
                breach to the relevant law enforcement authorities and disclose
                your identity to them.
              </p>
              <p class="small text-muted">
                We will not be liable for any loss or damage caused by a
                distributed denial-of-service attack, viruses or other
                technologically harmful material that may infect your computer
                equipment, computer programs, data or other proprietary material
                due to your use of this Website or to your downloading of any
                material posted on it, or on any website linked to it.
              </p>
              <p class="small text-muted">
                Certain Third Party Providers impose additional terms and
                conditions of use set forth elsewhere herein. Your use of
                Content from those Third Party Providers is also subject to
                those terms and conditions of use and you forever hold
                www.ideawake.com harmless from any and all claims, obligations,
                and/or liability arising in connection with the use of any
                Content, materials and information provided by any Third Party
                Provider.
              </p>
              <h4 class="pt-3 montserrat">Digital Millennium Copyright Act</h4>
              <p class="small text-muted">
                www.ideawake.com has registered itself as a Service Provider and
                identified an agent with the United States Copyright Office in
                accordance with the terms of the Digital Millennium Copyright
                Act (the "Act") and avails itself of the protections under the
                Act. www.ideawake.com reserves the right to remove any Contents
                contained in or posted to www.ideawake.com that allegedly
                infringes another person's copyright. Notices to
                www.ideawake.com regarding any alleged copyright infringement on
                the Website should be directed to www.ideawake.com Counsel's
                Office, at Maucere Law Group LLC, 6708 Heritage Business Court,
                Chattanooga, TN 37421.
              </p>
              <h4 class="pt-3 montserrat">
                Intellectual Property, Software and Content
              </h4>
              <p class="small text-muted">
                The intellectual property rights in all software and content
                (including photographic images) made available to you on or
                through this Website remains the property of Inventalator, Inc.
                d/b/d IdeaWake, its affiliates, partners, or its licensors and
                are protected by copyright laws and treaties around the world.
                All such rights are reserved by www.ideawake.com and its
                licensors. You may store, print and display the content supplied
                solely for your own personal use. You are not permitted to
                publish, manipulate, distribute or otherwise reproduce, in any
                format, any of the content or copies of the content supplied to
                you or which appears on this Website nor may you use any such
                content in connection with any business or commercial
                enterprise.
              </p>
              <h4 class="pt-3 montserrat">
                Jurisdiction
              </h4>
              <p class="small text-muted">
                Except as otherwise described, all Contents on the Site are made
                available only to provide information about www.ideawake.com and
                its services. Inventalator, Inc. d/b/d IdeaWake controls and
                operates the "www.ideawake.com" site and makes no representation
                that the Contents on such Site are appropriate or available for
                use in other locations. Other www.ideawakecom Sites may be
                controlled and operated outside of the United States of America
                and may be subject to the laws of the country in which they are
                controlled and operated. If you use the www.ideawake.com Site
                from a location other than the location where the site is
                controlled and operated, you are responsible for compliance with
                applicable local laws.
              </p>
              <h4 class="pt-3 montserrat">
                Terms of Sale
              </h4>
              <p class="small text-muted">
                By placing an order you are offering to purchase a service or
                product on and subject to the following terms and conditions.
                All orders are subject to availability and confirmation of the
                order price.
              </p>
              <p class="small text-muted">
                In order to contract with www.ideawake.com you must be over 18
                years of age and possess a valid credit or debit card issued by
                a bank acceptable to us. Your purchase is subject to the Credit
                Card Authorization and Recurrent Billing Agreement that may be
                found here [www.ideawake.com/creditcard] and which terms, by
                making a purchase, you agree to. www.ideawake.com retains the
                right to refuse any request made by you. If your order is
                accepted we will inform you by email and we will confirm the
                identity of the party which you have contracted with. This will
                usually be www.ideawake.com or may in some cases be a third
                party. Where a contract is made with a third party,
                www.ideawake.com is not acting as either agent or principal and
                the contract is made between yourself and that third party and
                will be subject to the terms of sale which they supply you. When
                placing an order you undertake that all details you provide to
                us are true and accurate, that you are an authorized user of the
                credit or debit card used to place your order and that there are
                sufficient funds to cover the cost of the goods. The cost of
                foreign products and services may fluctuate. All prices
                advertised are subject to such changes.
              </p>
              <ol>
                <li>
                  <p class="small text-muted">
                    <b>
                      Our Contract -
                    </b>
                    When you place an order, you will receive an acknowledgement
                    e-mail confirming receipt of your order: this email will
                    only be an acknowledgement and will not constitute
                    acceptance of your order. A contract between us will not be
                    formed until we or our partners or affiliates have begun
                    providing the services that you have ordered.
                  </p>
                </li>
                <li>
                  <p class="small text-muted">
                    <b>
                      Pricing and Availability -
                    </b>
                    While we try and ensure that all details, descriptions and
                    prices which appear on this Website are accurate, errors may
                    occur. If we discover an error in the price of any goods
                    which you have ordered we will inform you of this as soon as
                    possible and give you the option of reconfirming your order
                    at the correct price or cancelling it. If we are unable to
                    contact you we will treat the order as cancelled. If you
                    cancel and you have already paid for the goods, you will
                    receive a full refund.
                  </p>
                </li>
                <li>
                  <p class="small text-muted">
                    <b>
                      Payment -
                    </b>
                    Upon receiving your order we carry out a standard
                    authorization check on your payment card to ensure there are
                    sufficient funds to fulfil the transaction. Your card will
                    be debited upon authorization being received. The monies
                    received upon the debiting of your card shall be treated as
                    a deposit against the value of the goods you wish to
                    purchase. Once the goods have been shipped and you have been
                    sent a confirmation email the monies paid as a deposit shall
                    be used as consideration for the value of goods you have
                    purchased as listed in the confirmation email.
                    Www.ideawake.com uses third party payment processors which
                    are responsible for securely processing your payment and
                    www.ideawake.com is not liable for security breaches of the
                    third party processors. Details of information collected and
                    processed when making payment are included in our privacy
                    policy.
                  </p>
                </li>
              </ol>
              <h4 class="pt-3 montserrat">
                Restriction of Liability
              </h4>
              <p class="small text-muted">
                WWW.IDEAWAKE.COM WILL NOT BE LIABLE FOR ANY DAMAGES OR INJURY
                CAUSED BY ANY MATERIALS OR SOFTWARE, INCLUDING BUT NOT LIMITED
                TO, ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION,
                DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, OR
                LINE FAILURE. WWW.IDEAWAKE.COM WILL NOT BE LIABLE TO YOU OR ANY
                THIRD PARTY FOR ANY DAMAGES OR INJURY, INCLUDING BUT NOT LIMITED
                TO, INDIRECT, SPECIAL, INCIDENTAL, RELIANCE, CONSEQUENTIAL OR
                PUNITIVE DAMAGES THAT RESULT FROM THE USE OF, OR THE INABILITY
                TO USE, THE MATERIALS IN OR SOFTWARE AVAILABLE THROUGH THIS
                SITE, EVEN IF THERE IS NEGLIGENCE OR EVEN IF WWW.IDEAWAKE.COM OR
                AN AUTHORIZED WWW.IDEAWAKE.COM REPRESENTATIVE HAS BEEN ADVISED
                OF THE POSSIBILITY OF SUCH DAMAGES, OR BOTH. THE ABOVE
                LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU TO THE EXTENT THAT
                APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF
                LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES.
                WWW.IDEAWAKE.COM'S TOTAL LIABILITY TO YOU FOR ALL LOSSES,
                DAMAGES, AND CAUSES OF ACTION (IN CONTRACT, TORT [INCLUDING
                WITHOUT LIMITATION, NEGLIGENCE, PRODUCT LIABILITY AND STRICT
                LIABILITY], OR OTHERWISE) WILL NOT BE GREATER THAN THE AMOUNT
                YOU PAID TO ACCESS THIS SITE.
              </p>
              <p class="small text-muted">
                THERE MAY BE DELAYS, OMISSIONS, ERRORS, OR INACCURACIES IN THE
                CONTENT, AND THE CONTENT IS PROVIDED TO YOU ON AN "AS IS" BASIS
                WITHOUT WARRANTIES OF ANY KIND. WWW.IDEAWAKE.COM, THE THIRD
                PARTY PROVIDERS, AND THEIR RESPECTIVE AFFILIATES, OFFICERS,
                DIRECTORS, EMPLOYEES, AGENTS AND LICENSORS CANNOT AND DO NOT
                MAKE ANY REPRESENTATIONS AND, TO THE FULLEST EXTENT PERMITTED BY
                APPLICABLE LAW, HEREBY DISCLAIM WITH RESPECT TO THE SITE AND THE
                CONTENTS ALL EXPRESS, IMPLIED AND STATUTORY WARRANTIES OF ANY
                KIND TO YOU OR ANY THIRD PARTY, INCLUDING, BUT NOT LIMITED TO,
                REPRESENTATIONS AND WARRANTIES REGARDING ACCURACY, TIMELINESS,
                COMPLETENESS, CURRENTNESS, RELIABILITY, STABILITY, READINESS,
                NON-INFRINGEMENT, MERCHANTABILITY, OR FITNESS FOR ANY PARTICULAR
                PURPOSE, OR ANY REPRESENTATIONS OR WARRANTIES ARISING FROM USAGE
                OR CUSTOM OR TRADE OR BY OPERATION OF LAW. WWW.IDEAWAKE.COM
                ASSUMES NO RESPONSIBILITY FOR THE CONSEQUENCES OF ANY ERRORS OR
                OMISSIONS. ANY MATERIAL, INFORMATION OR CONTENT DOWNLOADED OR
                OTHERWISE OBTAINED THROUGH THE USE OF THE SITE IS ACCESSED AT
                YOUR OWN RISK AND DISCRETION AND YOU ALONE WILL BE RESPONSIBLE
                FOR ANY DAMAGE OR LOSS TO YOU, INCLUDING AND NOT LIMITED TO YOUR
                COMPUTER SYSTEM, LOSS OF DATA OR LOSS OR DAMAGE TO ANY PROPERTY
                OR LOSS OF DATA OR LOSS OF REVENUE THAT RESULTS FROM THE
                DOWNLOAD OR USE OF SUCH MATERIAL.
              </p>
              <p class="small text-muted">
                WWW.IDEAWAKE.COM DOES NOT CONTROL THE CONTENT PROVIDED BY THIRD
                PARTY PROVIDERS AND DOES NOT GUARANTEE THE ACCURACY, INTEGRITY
                OR QUALITY OF SUCH CONTENT. YOU UNDERSTAND THAT BY USING THE
                SITE YOU MAY BE EXPOSED TO CONTENT PROVIDED BY THIRD PARTY
                PROVIDERS THAT IS OFFENSIVE, INDECENT AND/OR OBJECTIONABLE.
                UNDER NO CIRCUMSTANCES WILL WWW.IDEAWAKE.COM BE LIABLE IN ANY
                WAY FOR ANY CONTENT PROVIDED BY THIRD PARTY PROVIDERS, INCLUDING
                ANY ERRORS OR OMISSIONS IN ANY SUCH CONTENT, OR ANY LOSS OR
                DAMAGE OF ANY KIND INCURRED AS A RESULT OF YOUR USE OF ANY SUCH
                CONTENT.
              </p>
              <p class="small text-muted">
                IN NO EVENT SHALL WWW.IDEAWAKE.COM OR ANY THIRD PARTY PROVIDER
                OR ANY OF THEIR RESPECTIVE AFFILIATES, OFFICERS, DIRECTORS,
                EMPLOYEES, AGENTS OR LICENSORS BE LIABLE TO YOU OR TO ANYONE
                ELSE FOR (i) ANY DIRECT, SPECIAL, INCIDENTAL, INDIRECT,
                PUNITIVE, CONSEQUENTIAL DAMAGES OR ANY OTHER LOSS OR INJURY
                CAUSED IN WHOLE OR IN PART BY CONTINGENCIES BEYOND THEIR CONTROL
                OR ANY NEGLIGENCE, INCLUDING ANY GROSS NEGLIGENCE, IN PROCURING,
                PROVIDING COMPILING, INTERPRETING, EDITING, WRITING, REPORTING,
                TRANSMITTING OR DELIVERING THE SITE OR ANY CONTENT THEREON OR
                (ii) ANY CLAIM ARISING OUT OF OR RELATING TO THE SITE OR ANY
                CONTENT, INCLUDING, BUT NOT LIMITED TO, ANY DECISION MADE OR
                ACTION TAKEN BY YOU IN RELIANCE UPON SUCH CONTENT, ANY DELAYS,
                ERRORS, OMISSIONS OR INTERRUPTIONS IN THE DELIVERY OR
                TRANSMISSION OF CONTENT, DATA AND SERVICES AVAILABLE ON THE SITE
                OR ANY WEBSITE OF A THIRD PARTY PROVIDER OR (iii) ANY OTHER
                ASPECT OF THE SITE OR ANY WEBSITE OF A THIRD PARTY PROVIDER OR
                (iv) FOR ANY TYPES OF DAMAGES (SUCH AS, BUT NOT LIMITED TO,
                DIRECT, CONSEQUENTIAL, SPECIAL, INCIDENTAL, PUNITIVE OR INDIRECT
                DAMAGES), EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
              </p>
              <p class="small text-muted">
                NOTHING IN THE PRECEDING PARAGRAPHS SHALL LIMIT OR OTHERWISE
                MODIFY ANY OF YOUR LIABILITIES OR OBLIGATIONS, ANY RESTRICTIONS
                ON CONTRIBUTED CONTENT OR ANY OTHER PROVISION SET FORTH IN THIS
                AGREEMENT.
              </p>
              <h4 class="pt-3 montserrat">
                Linking to this Website
              </h4>
              <p class="small text-muted">
                You may link to our home page, provided you do so in a way that
                is fair and legal and does not damage our reputation or take
                advantage of it, but you must not establish a link in such a way
                as to suggest any form of association, approval or endorsement
                on our part where none exists. You must not establish a link
                from any website that is not owned by you. This Website must not
                be framed on any other site, nor may you create a link to any
                part of this Website other than the home page. We reserve the
                right to withdraw linking permission without notice.
              </p>
              <h4 class="pt-3 montserrat">
                Linked Sites
              </h4>
              <p class="small text-muted">
                The Site includes links to other sites which are not maintained
                by www.ideawake.com. Www.ideawake.com is not responsible for the
                content of those sites and makes no representations whatsoever
                concerning the content or accuracy of, opinions expressed in or
                other links provided by, such other sites. The inclusion of any
                link to such sites does not imply endorsement by
                www.ideawake.com of the sites or any products or services
                referred to therein. www.ideawake.com may terminate a link at
                any time. The terms of use and privacy policies applicable to
                such sites may be different from those applicable to the Site.
                If you decide to access any third party site linked to the Site,
                you do so entirely at your own risk and www.ideawake.com shall
                have no liability for any loss or damage arising from your use
                of any such site.
              </p>
              <h4 class="pt-3 montserrat">
                Disclaimer as to ownership of trade marks, images of
                personalities and third party copyright
              </h4>
              <p class="small text-muted">
                Except where expressly stated to the contrary all persons
                (including their names and images), third party trademarks and
                content, services and/or locations featured on this Website are
                in no way associated, linked or affiliated with www.ideawake.com
                and you should not rely on the existence of such a connection or
                affiliation. Any trade marks/names featured on this Website are
                owned by the respective trade mark owners. Where a trade mark or
                brand name is referred to it is used solely to describe or
                identify the products and services and is in no way an assertion
                that such products or services are endorsed by or connected to
                www.ideawake.com.
              </p>
              <h4 class="pt-3 montserrat">
                Indemnity
              </h4>
              <p class="small text-muted">
                You agree to indemnify, defend and hold harmless
                www.ideawake.com, its directors, officers, employees,
                consultants, agents, and affiliates, from any and all third
                party claims, liability, damages and/or costs, including, but
                not limited to, attorneys’ fees arising from your use this
                Website or your breach of the Terms of Service.
              </p>
              <h4 class="pt-3 montserrat">
                Miscellaneous
              </h4>
              <p class="small text-muted">
                www.ideawake.com may, without notice, revise these Terms of Use
                at any time by updating this posting. Your continued use of the
                Site now, or following the posting of any changes or
                modifications, will indicate acceptance by you of such changes
                or modifications. These Terms of Use will be governed and be
                interpreted pursuant to the laws of the State of Tennessee and
                the United States of America, notwithstanding any principles of
                conflicts of law. If any part of these Terms of Use is declared
                unlawful, void, or unenforceable, that part will be deemed
                severable and will not affect the validity and enforceability of
                any remaining provisions. Possible evidence of use of the Site
                for illegal purposes will be provided to law enforcement
                authorities. This is the entire agreement between the parties
                relating to the use of the www.ideawake.com Site.
              </p>
              <p class="small text-muted">
                www.ideawake.com reserves the right to seek all remedies
                available at law and in equity for violations of this Agreement,
                including the right to block access from a particular Internet
                address to our Site.
              </p>
              <h4 class="pt-3 montserrat">
                Invalidity
              </h4>
              <p class="small text-muted">
                If any part of the Terms of Service is unenforceable (including
                any provision in which we exclude our liability to you) the
                enforceability of any other part of the Terms of Service will
                not be affected all other clauses remaining in full force and
                effect. So far as possible where any clause/sub-clause or part
                of a clause/sub-clause can be severed to render the remaining
                part valid, the clause shall be interpreted accordingly.
                Alternatively, you agree that the clause shall be rectified and
                interpreted in such a way that closely resembles the original
                meaning of the clause /sub-clause as is permitted by law.
              </p>
              <h4 class="pt-3 montserrat">
                Compliants
              </h4>
              <p class="small text-muted">
                We operate a complaints handling procedure which we will use to
                try to resolve disputes when they first arise, please let us
                know if you have any complaints or comments by contacting us.
              </p>
              <h4 class="pt-3 montserrat">
                Waiver
              </h4>
              <p class="small text-muted">
                If you breach these conditions and we take no action, we will
                still be entitled to use our rights and remedies in any other
                situation where you breach these conditions.
              </p>
              <h4 class="pt-3 montserrat">
                Entire Agreement
              </h4>
              <p class="small text-muted">
                The above Terms of Service constitute the entire agreement of
                the parties and supersede any and all preceding and
                contemporaneous agreements between you and WWW.IDEAWAKE.COM. Any
                waiver of any provision of the Terms of Service will be
                effective only if in writing and signed by a Director of
                www.ideawake.com.
              </p>
              <p class="pt-4 text-center font-italic">
                This document was last updated on July 23rd 2016.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
