<div class="row">
  <div class="col-12 col-md-2">
    <app-community-navigation></app-community-navigation>
  </div>
  <div class="col-12 col-md-10">
    <!-- Start of Challenge Roles -->
    <div class="row pageTopPadding">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <div class="card">
              <div class="card-header">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <p class="uppercase mb-0 bold pt-1">
                      Manage Challenge Roles - Applies to All Opportunities
                      Posted in a Challenge
                    </p>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <ngb-tabset>
                      <ngb-tab>
                        <ng-template ngbTabTitle>Ideas</ng-template>
                        <ng-template ngbTabContent>
                          <div class="row">
                            <div class="col-12">
                              <form>
                                <div class="card rounded-0">
                                  <div class="card-header">
                                    <p class="mb-0 bold">
                                      Idea Ownership Settings
                                    </p>
                                  </div>
                                  <div class="card-body pt-0">
                                    <div class="form-row border-bottom pt-3">
                                      <div class="form-group col-8 mb-0">
                                        <label>Idea Ownership</label>
                                        <p class="small text-muted">
                                          Enable idea ownership if you would
                                          like to be able to assign and hold
                                          individuals accountable for
                                          progression of ideas in your system.
                                        </p>
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="ideaOwnership"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="ideaOwnership"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-row border-bottom pt-3">
                                      <div class="form-group col-8 mb-0">
                                        <label>Multiple Ownership</label>
                                        <p class="small text-muted">
                                          If enabled, multiple idea owners will
                                          be able to be assigned to a single
                                          idea.
                                        </p>
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="multipleOwnership"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="multipleOwnership"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-row border-bottom pt-3">
                                      <div class="form-group col-8 mb-0">
                                        <label
                                          >Assign Idea Submitter as Idea
                                          Owner</label
                                        >
                                        <p class="small text-muted">
                                          If enabled, the idea submitter will be
                                          added automatically as the owner of
                                          the idea they submit.
                                        </p>
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="assignSubmitterAsOwner"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="assignSubmitterAsOwner"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-row border-bottom pt-3">
                                      <div class="form-group col-8 mb-0">
                                        <label
                                          >Require Confirmation Before Assigning
                                          Ownership</label
                                        >
                                        <p class="small text-muted">
                                          If enabled, owners will not be
                                          assigned as the owner to an idea until
                                          they confirm that they are the correct
                                          owner for it.
                                        </p>
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="requireConfirmation"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="requireConfirmation"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-row border-bottom pt-3">
                                      <div class="form-group col-8 mb-0">
                                        <label
                                          >Pre-Select Potential Owners</label
                                        >
                                        <p class="small text-muted">
                                          If enabled, only specific users that
                                          you select within your community will
                                          be able to be assigned as owners of an
                                          idea.
                                        </p>
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="preSelectOwners"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="preSelectOwners"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <!-- show if preselect potential owners is enabled -->

                                    <!-- end show if preselect potential owners is enabled -->
                                  </div>
                                </div>
                                <div class="card rounded-0">
                                  <div class="card-header">
                                    <p class="mb-0 bold">
                                      Idea Owner Permissions
                                    </p>
                                  </div>
                                  <div class="card-body pt-0">
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label>Edit Idea Title & Details</label>
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="editIdeaDetails"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="editIdeaDetails"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label>Edit Idea Tags</label>
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="editIdeaTags"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="editIdeaTags"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label
                                          >Add Idea Custom Fields (Limit to
                                          specific fields / field
                                          sections)</label
                                        >
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="addCustomFields"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="addCustomFields"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label
                                          >Edit Idea Custom Fields (Limit to
                                          specific fields / field
                                          sections)</label
                                        >
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="editCustomFields"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="editCustomFields"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label
                                          >Remove Idea Custom Fields (Limit to
                                          specific fields / field
                                          sections)</label
                                        >
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="removeCustomFields"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="removeCustomFields"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label>Edit Idea Settings</label>
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="ideaSettings"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="ideaSettings"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label>Add New Owners</label>
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="addOwners"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="addOwners"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label>Remove Owners</label>
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="removeOwners"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="removeOwners"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label>Add New Team Members</label>
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="addTeamMembers"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="addTeamMembers"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label>Remove Team Members</label>
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="removeTeamMembers"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="removeTeamMembers"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label>Add Co-Submitters to Idea</label>
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="addCoSubmitters"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="addCoSubmitters"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label
                                          >Remove Co-Submitters from Idea</label
                                        >
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="removeCoSubmitters"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="removeCoSubmitters"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label
                                          >Edit Original Idea Submitter</label
                                        >
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="editOriginalSubmitter"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="editOriginalSubmitter"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-3"
                                    >
                                      <div class="form-group col-sm-8 mb-0">
                                        <label
                                          >Post Updates that Generate Email
                                          Notifications</label
                                        >
                                      </div>
                                      <div
                                        class="form-group col-sm-4 mb-xs-2 mb-0 mt-1"
                                      >
                                        <select class="form-control">
                                          <option>All Users</option>
                                          <option>Specific Groups</option>
                                          <option>Followers of Idea</option>
                                          <option
                                            >Idea Team and Submitters</option
                                          >
                                          <option>None</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label
                                          >Add and Assign Action Items (Limit to
                                          specific action items / assignment to
                                          specific groups)</label
                                        >
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="addActionItems"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="addActionItems"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label
                                          >Remove Action Items (Limit to
                                          specific action items / assignment to
                                          specific groups)</label
                                        >
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="removeActionItems"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="removeActionItems"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label
                                          >Change Idea Stage (Limit to specific
                                          stages)</label
                                        >
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="changeStage"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="changeStage"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label
                                          >Change Idea Status (limit to specific
                                          statuses)</label
                                        >
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="changeStatus"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="changeStatus"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-row border-bottom pt-3 pb-2"
                                    >
                                      <div class="form-group col-8 mb-0">
                                        <label
                                          >Edit or Change Idea Workflow (May
                                          want to limit to specific
                                          workflows)</label
                                        >
                                      </div>
                                      <div class="form-group col-4 mb-0">
                                        <div
                                          class="custom-control custom-switch mr-auto float-right"
                                        >
                                          <input
                                            type="checkbox"
                                            class="custom-control-input pointer"
                                            id="changeWorkflow"
                                          />
                                          <label
                                            class="custom-control-label"
                                            for="changeWorkflow"
                                            >Enabled</label
                                          >
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab>
                        <ng-template ngbTabTitle
                          >Challenge Management</ng-template
                        >
                        <ng-template ngbTabContent> </ng-template>
                      </ngb-tab>
                    </ngb-tabset>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Challenge Roles -->
  </div>
</div>
