<div
  *ngIf="!isLoading"
  class="shadow animated slideInDown border-top-0 hide-navigation"
  id="navbarTwo"
>
  <div class="px-2">
    <div class="row pt-1">
      <div class="col-12">
        <div class="row workflowContainerPadding">
          <div class="col-9">
            <!-- start of insert -->
            <div class="row">
              <div class="col-12 removePaddingOnMobile">
                <ul
                  class="nav nav-pills-secondary uppercase border-bottom-0 small bold montserrat"
                >
                  <li class="nav-item mr-2">
                    <a
                      class="nav-link pointer"
                      routerLinkActive="active"
                      [routerLinkActiveOptions]="{ boolean: true }"
                      [routerLink]="['/challenges/view/', challenge?.id]"
                    >
                      {{ 'ChallengeTop.Labels.Home' | translationPipe }}
                    </a>
                  </li>
                  <li class="nav-item mr-2">
                    <a
                      class="nav-link pointer"
                      [routerLink]="['/challenges/ideas/', challenge?.id]"
                      routerLinkActive="active"
                      [routerLinkActiveOptions]="{ boolean: true }"
                    >
                      {{ 'ChallengeTop.Labels.BrowseIdeas' | translationPipe }}
                      <span class="d-none d-md-inline">
                        {{ challenge?.opportunityType?.name | pluralize }}
                      </span>
                      ({{ challenge?.opportunityCount || 0 }})
                    </a>
                  </li>
                  <li class="nav-item mr-2">
                    <a
                      class="nav-link pointer"
                      [routerLink]="['/challenges/updates/', challenge?.id]"
                      routerLinkActive="active"
                      [routerLinkActiveOptions]="{ boolean: true }"
                    >
                      {{ 'ChallengeView.Updates' | translationPipe }}
                      ({{ totalCount || 0 }})
                    </a>
                  </li>
                  <li
                    class="nav-item pointer d-none d-md-inline"
                    *ngIf="
                      userChallengePermissions?.editChallengeDetails ||
                      userChallengePermissions?.editChallengeSettings ||
                      userChallengePermissions?.editChallengeTargetting
                    "
                  >
                    <a
                      class="nav-link"
                      [routerLink]="['/challenges/analytics/', challenge?.id]"
                      routerLinkActive="active"
                      [routerLinkActiveOptions]="{ boolean: true }"
                    >
                      <!-- <fa-icon [icon]="['fas', 'chart-bar']" class="text-primary"></fa-icon> -->
                      {{ 'ChallengeTop.Labels.Analytics' | translationPipe }}
                    </a>
                  </li>
                  <li
                    class="nav-item pointer"
                    ngbDropdown
                    *ngIf="
                      userChallengePermissions?.editChallengeDetails ||
                      userChallengePermissions?.editChallengeSettings ||
                      userChallengePermissions?.editChallengeTargetting
                    "
                  >
                    <a
                      class="nav-link removeCaret"
                      ngbDropdownToggle
                      routerLinkActive="active"
                      [routerLinkActiveOptions]="{ boolean: true }"
                    >
                      <!-- <fa-icon [icon]="['fas', 'cog']" class="text-primary"></fa-icon> -->
                      {{ 'ChallengeTop.Labels.Admin' | translationPipe }}
                      <fa-icon
                        [icon]="['fas', 'angle-down']"
                        class="text-muted ml-1"
                      ></fa-icon>
                    </a>
                    <div
                      ngbDropdownMenu
                      class="modalMinWidth mt-2 rounded-top-0"
                    >
                      <!-- *ngIf="userChallengePermissions?.editChallengeTargeting" -->
                      <button
                        ngbDropdownItem
                        class="pl-3 py-2 btn montserrat"
                        (click)="openModal('audience')"
                      >
                        {{
                          'ChallengeTop.Labels.EditAudience' | translationPipe
                        }}
                      </button>
                      <!-- *ngIf="userChallengePermissions?.editChallengeDetails" -->
                      <button
                        ngbDropdownItem
                        class="pl-3 py-2 btn montserrat"
                        (click)="openModal('details')"
                      >
                        {{
                          'ChallengeTop.Labels.EditDetails' | translationPipe
                        }}
                      </button>
                      <!-- *ngIf="userChallengePermissions?.editChallengeSettings" -->
                      <button
                        ngbDropdownItem
                        class="pl-3 py-2 btn montserrat"
                        (click)="openEditSettings()"
                      >
                        {{
                          'ChallengeTop.Labels.EditSettings' | translationPipe
                        }}
                      </button>
                      <button
                        ngbDropdownItem
                        class="pl-3 py-2 btn montserrat"
                        (click)="openModal('workflow')"
                      >
                        {{
                          'ChallengeTop.Labels.EditWorkflow' | translationPipe
                        }}
                      </button>
                      <hr class="my-0" />
                      <button
                        ngbDropdownItem
                        class="pl-3 py-2 btn montserrat"
                        (click)="openChallenegeStatusSettings()"
                      >
                        {{
                          'ChallengeTop.Labels.ChangeStatus' | translationPipe
                        }}
                        <p class="small text-muted mb-0 mt-1">
                          <fa-icon
                            [icon]="['fas', 'circle']"
                            class="small"
                            [ngClass]="
                              challengeStatuses[challenge?.status]?.font_bg
                            "
                          ></fa-icon>
                          {{
                            'ChallengeTop.Labels.CurrentStatus'
                              | translationPipe
                          }}
                          -
                          {{ challengeStatuses[challenge?.status]?.status }}
                        </p>
                      </button>
                      <!-- <button ngbDropdownItem class="pl-3 py-2 btn montserrat">
                              <app-update-create></app-update-create>
                            </button>
                            <button ngbDropdownItem class="pl-3 py-2 btn montserrat">
                              Change Phase
                            </button>
                            <hr class="my-0" />
                            <button ngbDropdownItem class="pl-3 py-2 btn montserrat">
                              Visualize Submissions
                            </button>
                            <button ngbDropdownItem class="pl-3 py-2 btn montserrat">
                              Manage Pipeline
                            </button>
                            <button ngbDropdownItem class="pl-3 py-2 btn montserrat">
                              Manage Action Items
                            </button> -->
                      <hr class="my-0" />
                      <!-- *ngIf="!challenge?.isDeleted && userCommunityPermissions?.postChallenge" -->
                      <button
                        ngbDropdownItem
                        class="pl-3 py-2 btn montserrat"
                        *ngIf="
                          !challenge?.isDeleted &&
                          userCommunityPermissions?.postChallenge
                        "
                        (click)="openArchiveModal()"
                      >
                        {{
                          'ChallengeTop.Labels.ArchiveChallenge'
                            | translationPipe
                        }}
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- end of insert -->
          </div>
          <!-- <div class="col-2"></div> -->
          <div
            class="col-3 col-md-2 offset-md-1 adjustFloatUp"
            *ngIf="userChallengePermissions?.postOpportunity"
          >
            <button
              class="btn btn-primary montserrat btn-block"
              (click)="openPostIdea()"
            >
              <fa-icon
                [icon]="['fas', challenge?.opportunityType?.icon]"
                class="text-white"
              ></fa-icon>
              {{ 'Shared.Post' | translationPipe }}
              <span class="d-none d-md-inline">{{
                challenge?.opportunityType?.name
              }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="alert alert-warning rounded-0 mb-0 negativeAlertMargins">
  <p class="text-center mb-0">This challenge is in draft mode. You need to take it live for users to be invited to
    it.
    <button class="btn btn-sm btn-warning ml-2" (click)="open(launchChallenge)">Take it Live</button></p>
</div> -->
<!-- challenge admin insert -->
<!-- end challenge admin insert -->
<!-- *ngIf="!isLoading" -->
<div *ngIf="!isLoading" class="row pb-2" (scroll)="onWindowScroll($event)">
  <div class="col-12">
    <div class="row mt-2">
      <div class="col-12">
        <div class="card bg-transparent border-0">
          <div class="card-body px-0 pt-1 pb-0">
            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-12 removePaddingOnMobile">
                    <ul
                      class="nav nav-pills-challenge border-bottom-0 small uppercase bold mb-0"
                    >
                      <li class="nav-item mr-2">
                        <a
                          class="nav-link pointer montserrat mr-0"
                          routerLinkActive="active"
                          [routerLinkActiveOptions]="{ boolean: true }"
                          [routerLink]="['/challenges/view/', challenge?.id]"
                        >
                          <!-- <fa-icon [icon]="['fas', 'info-circle']" class="text-primary"></fa-icon> -->
                          {{ 'ChallengeTop.Labels.Home' | translationPipe }}
                          <!-- {{ 'ChallengeNavigation.Labels.DescriptionRules' | translationPipe }} -->
                        </a>
                      </li>
                      <li class="nav-item mr-2">
                        <a
                          class="nav-link pointer montserrat mr-0"
                          [routerLink]="['/challenges/ideas/', challenge?.id]"
                          routerLinkActive="active"
                          [routerLinkActiveOptions]="{ boolean: true }"
                        >
                          <!-- <fa-icon [icon]="['fas', 'lightbulb']" class="text-primary"></fa-icon> -->
                          <!-- {{ 'ChallengeNavigation.Labels.BrowseIdeas' | translationPipe }} -->
                          {{
                            'ChallengeTop.Labels.BrowseIdeas' | translationPipe
                          }}
                          <span class="d-none d-md-inline">
                            {{ challenge?.opportunityType?.name | pluralize }}
                          </span>
                          ({{ challenge?.opportunityCount || 0 }})
                        </a>
                      </li>
                      <!-- <li class="nav-item">
                        <a
                          class="nav-link pointer"
                          [routerLink]="['/challenges/ideas/', challenge?.id]"
                          routerLinkActive="active"
                          [routerLinkActiveOptions]="{ boolean: true }"
                        >
                          <fa-icon [icon]="['fas', 'thumbs-up']" class="text-primary"></fa-icon>
                          Pairwise
                        </a>
                      </li> -->
                      <!-- <li class="nav-item pointer" routerLink="/challenge-evaluations">
                        <a class="nav-link text-white">
                          <fa-icon [icon]="['fas', 'star']" class="text-primary"></fa-icon>
                          Rank Ideas
                        </a>
                      </li>
                      <li class="nav-item pointer" routerLink="/challenge/discussion">
                        <a class="nav-link" routerLink="/challenges/pairwise/{{ challenge?.id }}">
                          <fa-icon [icon]="['fas', 'thumbs-up']" class="text-muted pr-1"></fa-icon>
                          Pairwise / Vote
                          <span class="badge badge-secondary adjustLabel">10</span>
                        </a>
                      </li> -->
                      <!-- <li class="nav-item" routerLink="/challenge-activity">
                        <a class="nav-link pointer text-white">
                          <fa-icon [icon]="['fas', 'stream']" class="text-primary"></fa-icon>
                          Activity
                        </a>
                      </li>
                      <li class="nav-item pointer" routerLink="/challenge-participants">
                        <a class="nav-link text-white">
                          <fa-icon [icon]="['fas', 'users']" class="text-primary"></fa-icon>
                          Participants (15)
                        </a>
                      </li> -->
                      <li class="nav-item pointer">
                        <a
                          class="nav-link montserrat mr-0"
                          [routerLink]="['/challenges/updates/', challenge?.id]"
                          routerLinkActive="active"
                          [routerLinkActiveOptions]="{ boolean: true }"
                        >
                          <!-- <fa-icon [icon]="['fas', 'bullhorn']" class="text-primary"></fa-icon> -->
                          {{ 'ChallengeView.Updates' | translationPipe }}
                          ({{ totalCount || 0 }})
                        </a>
                      </li>
                      <!-- <li class="nav-item pointer" routerLink="/challenge/discussion">
                        <a class="nav-link">
                          <fa-icon [icon]="['fas', 'comment']" class="text-primary"></fa-icon>
                          Discussion (10)
                        </a>
                      </li> -->
                      <li
                        class="nav-item d-none d-md-inline"
                        *ngIf="
                          userChallengePermissions?.editChallengeDetails ||
                          userChallengePermissions?.editChallengeSettings ||
                          userChallengePermissions?.editChallengeTargetting
                        "
                      >
                        <a
                          class="nav-link montserrat"
                          [routerLink]="[
                            '/challenges/analytics/',
                            challenge?.id
                          ]"
                          routerLinkActive="active"
                          [routerLinkActiveOptions]="{ boolean: true }"
                        >
                          <!-- <fa-icon [icon]="['fas', 'chart-bar']" class="text-primary"></fa-icon> -->
                          {{
                            'ChallengeTop.Labels.Analytics' | translationPipe
                          }}
                        </a>
                      </li>
                      <li
                        class="nav-item pointer"
                        ngbDropdown
                        *ngIf="
                          userChallengePermissions?.editChallengeDetails ||
                          userChallengePermissions?.editChallengeSettings ||
                          userChallengePermissions?.editChallengeTargetting
                        "
                      >
                        <a
                          class="nav-link removeCaret montserrat mr-0"
                          ngbDropdownToggle
                          routerLinkActive="active"
                          [routerLinkActiveOptions]="{ boolean: true }"
                        >
                          <!-- <fa-icon [icon]="['fas', 'cog']" class="text-primary"></fa-icon> -->
                          {{ 'ChallengeTop.Labels.Admin' | translationPipe }}
                          <fa-icon
                            [icon]="['fas', 'angle-down']"
                            class="ml-1"
                          ></fa-icon>
                        </a>
                        <div
                          ngbDropdownMenu
                          class="modalMinWidth mt-2 rounded-top-0"
                        >
                          <button
                            ngbDropdownItem
                            class="pl-3 py-2 btn montserrat"
                            *ngIf="
                              userChallengePermissions?.editChallengeTargetting
                            "
                            (click)="openModal('audience')"
                          >
                            {{
                              'ChallengeTop.Labels.EditAudience'
                                | translationPipe
                            }}
                          </button>
                          <button
                            ngbDropdownItem
                            class="pl-3 py-2 btn montserrat"
                            *ngIf="
                              userChallengePermissions?.editChallengeDetails
                            "
                            (click)="openModal('details')"
                          >
                            {{
                              'ChallengeTop.Labels.EditDetails'
                                | translationPipe
                            }}
                          </button>
                          <button
                            ngbDropdownItem
                            class="pl-3 py-2 btn montserrat"
                            *ngIf="
                              userChallengePermissions?.editChallengeSettings
                            "
                            (click)="openEditSettings()"
                          >
                            {{
                              'ChallengeTop.Labels.EditSettings'
                                | translationPipe
                            }}
                          </button>
                          <button
                            ngbDropdownItem
                            class="pl-3 py-2 btn montserrat"
                            (click)="openModal('workflow')"
                          >
                            {{
                              'ChallengeTop.Labels.EditWorkflow'
                                | translationPipe
                            }}
                          </button>
                          <app-update-create
                            [level]="'challenge'"
                            [entityObjectId]="challenge.id"
                            [inNavigation]="true"
                          ></app-update-create>
                          <hr class="my-0" />
                          <button
                            ngbDropdownItem
                            class="pl-3 py-2 btn montserrat"
                            (click)="openChallenegeStatusSettings()"
                          >
                            {{
                              'ChallengeTop.Labels.ChangeStatus'
                                | translationPipe
                            }}
                            <p class="small text-muted mb-0 mt-1">
                              <fa-icon
                                [icon]="['fas', 'circle']"
                                class="small"
                                [ngClass]="
                                  challengeStatuses[challenge?.status]?.font_bg
                                "
                              ></fa-icon>
                              {{
                                'ChallengeTop.Labels.CurrentStatus'
                                  | translationPipe
                              }}
                              -
                              {{ challengeStatuses[challenge?.status]?.status }}
                            </p>
                          </button>
                          <!-- <hr class="my-0" />
                          <button
                            ngbDropdownItem
                            class="pl-3 py-2 btn montserrat"
                          >
                            Visualize Submissions
                          </button>
                          <button
                            ngbDropdownItem
                            class="pl-3 py-2 btn montserrat"
                          >
                            Manage Pipeline
                          </button>
                          <button
                            ngbDropdownItem
                            class="pl-3 py-2 btn montserrat"
                          >
                            Manage Action Items
                          </button> -->
                          <hr class="my-0" />
                          <button
                            ngbDropdownItem
                            class="pl-3 py-2 btn montserrat"
                            *ngIf="
                              !challenge?.isDeleted &&
                              userCommunityPermissions?.postChallenge
                            "
                            (click)="openArchiveModal()"
                          >
                            {{
                              'ChallengeTop.Labels.ArchiveChallenge'
                                | translationPipe
                            }}
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div
                class="col-3 col-md-2 offset-md-1 adjustFloatUp"
                *ngIf="userChallengePermissions?.postOpportunity"
              >
                <button
                  class="btn btn-primary montserrat btn-block"
                  (click)="openPostIdea()"
                >
                  <fa-icon
                    [icon]="['fas', challenge?.opportunityType?.icon]"
                    class="text-white"
                  ></fa-icon>
                  {{ 'Shared.Post' | translationPipe }}
                  <span class="d-none d-md-inline">{{
                    challenge?.opportunityType?.name
                  }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #changePhase let-modal>
  <div class="modal-header card-header px-3">
    <p class="mb-0 bold text-medium uppercase">Change Challenge Status</p>
  </div>
  <div class="modal-body modalScrollMaxHeight">
    <!-- <div class="alert alert-warning text-medium">
      <div class="media">
        <fa-icon
          [icon]="['fas', 'exclamation-triangle']"
          class="mr-2"
        ></fa-icon>
        <div class="media-body">
          Updating these settings will impact 10 ideas.
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-12">
        <div class="form-row">
          <div class="form-group col-12">
            <label>Select Status</label>
            <div ngbDropdown class="w-100">
              <div
                class="removeCaret py-2 px-2 border rounded addHover pl-2"
                ngbDropdownToggle
              >
                <div class="media align-items-center">
                  <fa-icon
                    [icon]="['fas', 'circle']"
                    class="text-success mr-1"
                  ></fa-icon>
                  <div class="media-body align-items-center ml-1">
                    <div class="row">
                      <div class="col-10">
                        Open
                        <span class="float-right">
                          <span class="badge border border-success text-success"
                            >Active Status</span
                          >
                        </span>
                      </div>
                      <div class="col-2">
                        <span class="float-right mr-2">
                          <fa-icon [icon]="['fas', 'angle-down']"></fa-icon>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div ngbDropdownMenu class="w-100">
                <button class="pl-2" ngbDropdownItem>
                  <fa-icon
                    [icon]="['fas', 'circle']"
                    class="text-success mr-1"
                  ></fa-icon>
                  Open
                </button>
                <button class="pl-2" ngbDropdownItem>
                  <fa-icon
                    [icon]="['fas', 'circle']"
                    class="text-warning mr-1"
                  ></fa-icon>
                  Evaluation
                </button>
                <button class="pl-2" ngbDropdownItem>
                  <fa-icon
                    [icon]="['fas', 'circle']"
                    class="text-danger mr-1"
                  ></fa-icon>
                  Closed
                </button>
              </div>
            </div>
          </div>
        </div>
        <p class="bold mb-0">Experience Settings</p>
        <hr class="mt-1 mb-0" />
        <div class="form-row dottedBottomBorder pt-2 pb-2 mx-0">
          <div class="form-group col-9 mb-0">
            <label class="mb-0 font-weight-normal"
              >Allow New Submissions to Challenge</label
            >
          </div>
          <div class="form-group col-3 mb-0">
            <div class="custom-control custom-switch mr-auto float-right">
              <input
                type="checkbox"
                class="custom-control-input pointer"
                id="newSubmissions"
              />
              <label
                class="custom-control-label font-weight-normal"
                for="newSubmissions"
                >Enabled</label
              >
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12 col-12 mb-0">
            <!-- <div class="form-row dottedBottomBorder pt-2 pb-2 mx-0">
              <div class="form-group col-9 mb-0">
                <label class="mb-0 font-weight-normal">Enable Start and End Date</label>
              </div>
              <div class="form-group col-3 mb-0">
                <div class="custom-control custom-switch mr-auto float-right">
                  <input type="checkbox" class="custom-control-input pointer" id="dates" (click)="toggleDate = !toggleDate" />
                  <label class="custom-control-label font-weight-normal" for="dates">Enabled</label>
                </div>
              </div>
            </div>
            <div class="form-row bg-light border-bottom mx-0 p-2" *ngIf="toggleDate">
              <div class="form-group col-12 mb-0">
                <div class="row">
                  <div class="col-6">
                    <label class="text-medium bold">Start Date</label>
                    <div ngbDropdown container="body" #startDrop="ngbDropdown">
                      <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon2">
                            <fa-icon [icon]="['fas', 'calendar']"></fa-icon>
                          </span>
                        </div>
                        <input type="text" formControlName="expiryStartDate" class="form-control" placeholder="Start Date"
                          ngbDropdownToggle />
                        <div ngbDropdownMenu class="shadow py-0" isOpen="dropdownIsOpen">
                          <div class="card border-0">
                            <div class="card-body pt-2">
                              <div class="pb-2">
                                <label class="text-medium">Select Date</label>
                                <input type="text" formControlName="expiryStartDate" class="form-control form-control-sm"
                                  placeholder="10/22/20" />
                              </div>
                              <ngb-datepicker #dateDisplay></ngb-datepicker>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <label class="text-medium">End Date</label>
                    <div ngbDropdown container="body" #endDrop="ngbDropdown">
                      <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">
                            <fa-icon [icon]="['fas', 'calendar']"></fa-icon>
                          </span>
                        </div>
                        <input type="text" formControlName="expiryEndDate" class="form-control" placeholder="End Date"
                          ngbDropdownToggle />
                        <div ngbDropdownMenu class="shadow py-0">
                          <div class="card border-0">
                            <div class="card-body pt-2">
                              <div class="pb-2">
                                <label class="text-medium">Select Date</label>
                                <input type="text" formControlName="expiryEndDate" class="form-control form-control-sm"
                                  placeholder="10/22/20" />
                              </div>
                              <ngb-datepicker #dateDisplay></ngb-datepicker>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="form-row dottedBottomBorder pt-2 pb-2 mx-0">
              <div class="form-group col-9 mb-0">
                <label class="mb-0 font-weight-normal"
                  >Display Alert Message on Top of Page</label
                >
              </div>
              <div class="form-group col-3 mb-0">
                <div class="custom-control custom-switch mr-auto float-right">
                  <input
                    type="checkbox"
                    class="custom-control-input pointer"
                    id="alert"
                    (click)="toggleAlert = !toggleAlert"
                  />
                  <label
                    class="custom-control-label font-weight-normal"
                    for="alert"
                    >Enabled</label
                  >
                </div>
              </div>
            </div>
            <div
              class="form-row bg-light border-bottom mx-0 p-2"
              *ngIf="toggleAlert"
            >
              <div class="form-group col-12 mb-1">
                <label class="text-medium">Alert Message</label>
                <textarea
                  class="form-control form-control-sm"
                  rows="3"
                  placeholder="Please enter your notification message here..."
                ></textarea>
              </div>
            </div>
            <div
              class="form-row dottedBottomBorder pt-2 pb-2 mx-0 align-items-center"
            >
              <div class="form-group col-9 mb-0">
                <label class="mb-0 font-weight-normal"
                  >Default Sort Option on Submission List Pages</label
                >
              </div>
              <div class="form-group col-3 mb-0">
                <div ngbDropdown class="w-100">
                  <div
                    class="removeCaret py-1 px-0 border rounded addHover pl-2 dropdown-toggle small"
                    ngbDropdownToggle
                  >
                    Newest
                    <span class="float-right mr-1">
                      <fa-icon [icon]="['fas', 'angle-down']"></fa-icon>
                    </span>
                  </div>
                  <div ngbDropdownMenu class="w-100">
                    <button class="pl-2" ngbDropdownItem>
                      Oldest
                    </button>
                    <button class="pl-2" ngbDropdownItem>
                      Random
                    </button>
                    <button class="pl-2" ngbDropdownItem>
                      Most Votes
                    </button>
                    <button class="pl-2" ngbDropdownItem>
                      Most Comments
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row dottedBottomBorder pt-2 pb-2 mx-0">
              <div class="form-group col-9 mb-0">
                <label class="mb-0 font-weight-normal">Allow Voting</label>
              </div>
              <div class="form-group col-3 mb-0">
                <div class="custom-control custom-switch mr-auto float-right">
                  <input
                    type="checkbox"
                    class="custom-control-input pointer"
                    id="voting"
                  />
                  <label
                    class="custom-control-label font-weight-normal"
                    for="voting"
                    >Enabled</label
                  >
                </div>
              </div>
            </div>
            <div class="form-row dottedBottomBorder pt-2 pb-2 mx-0">
              <div class="form-group col-9 mb-0">
                <label class="mb-0 font-weight-normal">Allow Commenting</label>
              </div>
              <div class="form-group col-3 mb-0">
                <div class="custom-control custom-switch mr-auto float-right">
                  <input
                    type="checkbox"
                    class="custom-control-input pointer"
                    id="commenting"
                  />
                  <label
                    class="custom-control-label font-weight-normal"
                    for="commenting"
                    >Enabled</label
                  >
                </div>
              </div>
            </div>
            <div class="form-row dottedBottomBorder pt-2 pb-2 mx-0">
              <div class="form-group col-9 mb-0">
                <label class="mb-0 font-weight-normal">Allow Sharing</label>
              </div>
              <div class="form-group col-3 mb-0">
                <div class="custom-control custom-switch mr-auto float-right">
                  <input
                    type="checkbox"
                    class="custom-control-input pointer"
                    id="sharing"
                  />
                  <label
                    class="custom-control-label font-weight-normal"
                    for="sharing"
                    >Enabled</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- start of insert -->
        <p class="bold mb-0 mt-4">Submission Visibility Settings</p>
        <hr class="my-1" />
        <div class="form-row">
          <div class="form-group col-md-12 col-12">
            <div class="custom-control custom-radio mb-2 mt-2 text-medium">
              <input
                type="radio"
                id="public"
                name="customRadio"
                class="custom-control-input"
                checked
              />
              <label
                class="custom-control-label font-weight-normal"
                for="public"
                ><b>Public</b> - All users who have access to the community can
                view submissions to this challenge.</label
              >
            </div>
            <div class="custom-control custom-radio mb-2 text-medium">
              <input
                type="radio"
                id="specificGroups"
                name="customRadio"
                class="custom-control-input"
                (click)="selectGroups = !selectGroups"
              />
              <label
                class="custom-control-label font-weight-normal"
                for="specificGroups"
                ><b>Specific Groups</b> - Only the groups you designate will be
                able to view submissions made to this challenge.</label
              >
            </div>
            <!-- if specific groups is selected -->
            <div class="card bg-light mb-2 shadow-sm" *ngIf="selectGroups">
              <div class="card-body pt-2">
                <label class="small bold">Select Groups</label>
                <app-search-groups></app-search-groups>
              </div>
            </div>
            <!-- end if specific groups is selected -->
            <div class="custom-control custom-radio mb-2 text-medium">
              <input
                type="radio"
                id="private"
                name="customRadio"
                class="custom-control-input"
              />
              <label
                class="custom-control-label font-weight-normal"
                for="private"
                ><b>Private</b> - Only Challenge Sponsor, Challenge Moderators,
                Owners, Team Members, and the idea submitter will be able to see
                this idea.</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-light">
    <button class="btn btn-light border">Cancel</button>
    <button class="btn btn-primary ml-1">Save and Change Status</button>
  </div>
</ng-template>

<ng-template #challengeSettings let-modal>
  <div class="modal-header card-header">
    Edit Challenge Settings test
  </div>
  <div class="modal-body">
    <!-- <div class="alert alert-warning text-medium">
      <div class="media">
        <fa-icon
          [icon]="['fas', 'exclamation-triangle']"
          class="mr-2"
        ></fa-icon>
        <div class="media-body">
          Updating these settings will impact 10 ideas.
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-12">
        <!-- start of insert -->
        <p class="bold mb-0">Visibility Settings</p>
        <hr class="my-1" />
        <div class="form-row">
          <div class="form-group col-md-12 col-12">
            <div class="custom-control custom-radio mb-2 mt-2 text-medium">
              <input
                type="radio"
                id="public"
                name="customRadio"
                class="custom-control-input"
                checked
              />
              <label
                class="custom-control-label font-weight-normal"
                for="public"
                ><b>Public</b> - All users who have access to the community can
                view submissions to this challenge.</label
              >
            </div>
            <div class="custom-control custom-radio mb-2 text-medium">
              <input
                type="radio"
                id="specificGroups"
                name="customRadio"
                class="custom-control-input"
              />
              <label
                class="custom-control-label font-weight-normal"
                for="specificGroups"
                ><b>Specific Groups</b> - Only the groups you designate will be
                able to view submissions made to this challenge.</label
              >
            </div>
            <!-- if specific groups is selected -->
            <div class="card bg-light mb-2 shadow-sm">
              <div class="card-body pt-2">
                <label class="small bold">Select Groups</label>
                <app-search-groups></app-search-groups>
              </div>
            </div>
            <!-- end if specific groups is selected -->
            <div class="custom-control custom-radio mb-2 text-medium">
              <input
                type="radio"
                id="private"
                name="customRadio"
                class="custom-control-input"
              />
              <label
                class="custom-control-label font-weight-normal"
                for="private"
                ><b>Private</b> - Only Challenge Sponsor, Challenge Moderators,
                Owners, Team Members, and the idea submitter will be able to see
                this idea.</label
              >
            </div>
          </div>
        </div>
        <p class="bold mb-0">Experience Settings</p>
        <hr class="my-1" />
        <div class="form-row">
          <div class="form-group col-md-12 col-12 mb-0">
            <div class="form-row dottedBottomBorder pt-2 pb-2 mx-0">
              <div class="form-group col-9 mb-0">
                <label class="mb-0 font-weight-normal"
                  >Allow New Submissions to Challenge</label
                >
              </div>
              <div class="form-group col-3 mb-0">
                <div class="custom-control custom-switch mr-auto float-right">
                  <input
                    type="checkbox"
                    class="custom-control-input pointer"
                    id="voting"
                  />
                  <label class="custom-control-label" for="voting"
                    >Enabled</label
                  >
                </div>
              </div>
            </div>
            <div class="form-row dottedBottomBorder pt-2 pb-2 mx-0">
              <div class="form-group col-9 mb-0">
                <label class="mb-0 font-weight-normal"
                  >Default Sorting Option on Ideas List</label
                >
              </div>
              <div class="form-group col-3 mb-0">
                <select class="form-control form-control-sm">
                  <option>
                    Newest
                  </option>
                  <option>
                    Oldest
                  </option>
                  <option>
                    Most Comments
                  </option>
                  <option>
                    Most Votes
                  </option>
                  <option>
                    Random
                  </option>
                  <option>
                    Top Score
                  </option>
                </select>
              </div>
            </div>
            <div class="form-row dottedBottomBorder pt-2 pb-2 mx-0">
              <div class="form-group col-9 mb-0">
                <label class="mb-0 font-weight-normal">Allow Voting</label>
              </div>
              <div class="form-group col-3 mb-0">
                <div class="custom-control custom-switch mr-auto float-right">
                  <input
                    type="checkbox"
                    class="custom-control-input pointer"
                    id="voting"
                  />
                  <label class="custom-control-label" for="voting"
                    >Enabled</label
                  >
                </div>
              </div>
            </div>
            <div class="form-row dottedBottomBorder pt-2 pb-2 mx-0">
              <div class="form-group col-9 mb-0">
                <label class="mb-0 font-weight-normal">Allow Commenting</label>
              </div>
              <div class="form-group col-3 mb-0">
                <div class="custom-control custom-switch mr-auto float-right">
                  <input
                    type="checkbox"
                    class="custom-control-input pointer"
                    id="commenting"
                  />
                  <label class="custom-control-label" for="commenting"
                    >Enabled</label
                  >
                </div>
              </div>
            </div>
            <div class="form-row dottedBottomBorder pt-2 pb-2 mx-0">
              <div class="form-group col-9 mb-0">
                <label class="mb-0 font-weight-normal">Allow Sharing</label>
              </div>
              <div class="form-group col-3 mb-0">
                <div class="custom-control custom-switch mr-auto float-right">
                  <input
                    type="checkbox"
                    class="custom-control-input pointer"
                    id="sharing"
                  />
                  <label class="custom-control-label" for="sharing"
                    >Enabled</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-light">
    <button class="btn btn-light border">Cancel</button>
    <button class="btn btn-primary ml-1">Save Changes</button>
  </div>
</ng-template>

<ng-template #archiveChallenge let-modal let-archive="archiveChallenge">
  <div class="modal-header card-header">
    {{ 'ChallengeTop.Labels.ArchiveChallenge' | translationPipe }}
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <p>{{ 'ChallengeTop.Labels.AreYouSure' | translationPipe }}</p>
        <ul class="pl-4">
          <li class="text-medium mb-2">
            {{ 'ChallengeTop.Labels.TermOne' | translationPipe }}
          </li>
          <li class="text-medium">
            {{ 'ChallengeTop.Labels.TermTwo' | translationPipe }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-light">
    <button class="btn btn-light border" (click)="modal.dismiss()">
      {{ 'ChallengeTop.Labels.Cancel' | translationPipe }}
    </button>
    <button class="btn btn-danger ml-1" (click)="archive(modal)">
      {{ 'ChallengeTop.Labels.ArchiveThisChallenge' | translationPipe }}
    </button>
  </div>
</ng-template>
