<div class="modal-header card-header">
  <p class="small uppercase bold mb-0">Save This View</p>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group mb-2">
    <label>View Name</label>
    <input
      type="text"
      [(ngModel)]="formValues.title"
      maxlength="60"
      class="form-control"
      placeholder="Enter a name for your view..."
    />
  </div>
  <!-- <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" />
          <label class="custom-control-label font-weight-normal" for="customCheck1">Set this view as my default
            opportunity view
            <fa-icon [icon]="['fas', 'info-circle']" class="text-primary" placement="top"
              ngbTooltip="If checked, you will automatically be directed to this page when you go to the opportunity list page.">
            </fa-icon></label>
        </div>
      </div> -->
  <div class="form-group">
    <label>Who Has Access to This View?</label>
    <!-- <app-search-groups [isUser]="true" [selection]="formValues.hasAccess" (dataEmitter)="getAccessUsers($event)"></app-search-groups> -->
    <div class="custom-control custom-radio mb-2 mt-2 pb-2 dottedBottomBorder">
      <input
        type="radio"
        id="public"
        name="customRadio"
        class="custom-control-input"
        [checked]="hasPermission(permissionTypes.public)"
        (click)="changePermission(permissionTypes.public)"
      />
      <label
        class="custom-control-label font-weight-normal text-medium"
        for="public"
      >
        <b>All Community Members</b> - All users who have access to the
        community.
      </label>
    </div>
    <div class="custom-control custom-radio mb-2 pb-2 pt-1 dottedBottomBorder">
      <input
        type="radio"
        id="specificGroups"
        name="customRadio"
        class="custom-control-input"
        [checked]="hasPermission(permissionTypes.specificGroups)"
        (click)="changePermission(permissionTypes.specificGroups)"
      />
      <label
        class="custom-control-label font-weight-normal text-medium"
        for="specificGroups"
        ><b>Specific Community Members</b> - Only selected users, Admins,
        Moderators and Saved View Creator.</label
      >
    </div>
    <!-- if specific groups is selected -->
    <div
      class="card bg-white mb-2 shadow-sm"
      *ngIf="hasPermission(permissionTypes.specificGroups)"
    >
      <div class="card-body pt-2">
        <label class="small bold">Select Groups or Users</label>
        <app-search-groups
          [isUser]="true"
          [selection]="usersAndGroups"
          (dataEmitter)="getAccessUsers($event)"
        ></app-search-groups>
      </div>
    </div>
    <!-- end if specific groups is selected -->
    <div class="custom-control custom-radio mb-2 pb-2 pt-1 dottedBottomBorder">
      <input
        type="radio"
        id="private"
        name="customRadio"
        class="custom-control-input"
        [checked]="hasPermission(permissionTypes.private)"
        (click)="changePermission(permissionTypes.private)"
      />
      <label
        class="custom-control-label font-weight-normal text-medium"
        for="private"
      >
        <b>Private</b> - Only Admins, Moderators and Saved View Creator.
      </label>
    </div>
  </div>
</div>
<div class="modal-footer bg-light">
  <button class="btn btn-light border" (click)="close()">Cancel</button>
  <button class="btn btn-primary ml-2" (click)="saveView()">Save View</button>
</div>
