<div class="form-row">
  <div class="col-2 mb-3">
    <button class="btn btn-dark btn-block colorSelect"></button>
  </div>
  <div class="col-2 mb-3">
    <button class="btn btn-secondary btn-block colorSelect">
      <fa-icon [icon]="['fas', 'check']"></fa-icon>
    </button>
  </div>
  <div class="col-2 mb-3">
    <button class="btn btn-warning btn-block colorSelect"></button>
  </div>
  <div class="col-2 mb-3">
    <button class="btn btn-primary btn-block colorSelect"></button>
  </div>
  <div class="col-2 mb-3">
    <button class="btn btn-danger btn-block colorSelect"></button>
  </div>
  <div class="col-2 mb-3">
    <button class="btn btn-info btn-block colorSelect"></button>
  </div>
  <div class="col-2 mb-3">
    <button class="btn btn-light border btn-block colorSelect"></button>
  </div>
  <div class="col-2 mb-3">
    <button class="btn btn-success btn-block colorSelect"></button>
  </div>
</div>
