<div class="container pt-4">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-7">
          <!-- <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <p class="uppercase text-muted mb-1 bold small">
                Review This Idea
              </p>
            </li>
            <li class="list-inline-item">
              <p class="uppercase text-muted mb-1 bold small">Stats</p>
            </li>
          </ul> -->
          <!-- <div class="card mb-3">
            <div class="card-body p-2">
              <div class="row">
                <div class="col-12">
                  <app-question-answer></app-question-answer>
                </div>
              </div>
            </div>
          </div> -->
          <p class="uppercase text-muted mb-1 bold small">Collaborate</p>
          <div class="card shadow-sm mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <p>
                    We're already seeing this in several other industries and
                    think it's time for us to try it out. VR can immerse
                    consumers providing them with new experiences of a product
                    or service. Designed to provide a sensory experience, it
                    captures the attention and imagination of a consumer quite
                    unlike any other technology and marketers with vision are
                    making the most of its uniqueness.
                  </p>
                </div>
              </div>
              <app-media-feature></app-media-feature>
            </div>
          </div>
          <app-review-responses></app-review-responses>
        </div>
        <div class="col-5 pl-0">
          <p class="uppercase text-muted mb-1 bold small">Review this Idea</p>
          <app-review-complete></app-review-complete>
          <div class="card shadow-sm mb-3">
            <div class="card-body">
              <app-idea-stage-progress></app-idea-stage-progress>
            </div>
          </div>
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <p class="small uppercase text-muted bold mb-1">Activity -</p>
            </li>
            <li class="list-inline-item" ngbDropdown>
              <p
                class="small uppercase bold inverseLink mb-1 removeCaret"
                ngbDropdownToggle
              >
                Filter By Comments (55)
                <fa-icon
                  [icon]="['fas', 'caret-down']"
                  class="text-muted"
                ></fa-icon>
              </p>
              <div ngbDropdownMenu class="shadow pt-0">
                <button class="btn-sm pl-2" ngbDropdownItem>
                  All Activity (72)
                </button>
                <button class="btn-sm pl-2" ngbDropdownItem>
                  Comments (55)
                </button>
                <button class="btn-sm pl-2" ngbDropdownItem>
                  Updates (2)
                </button>
                <button class="btn-sm pl-2" ngbDropdownItem>
                  Notes (10)
                </button>
                <button class="btn-sm pl-2" ngbDropdownItem>
                  Stage and Status Changes (5)
                </button>
              </div>
            </li>
          </ul>
          <div class="card mb-3">
            <div class="card-body">
              <app-comments-container></app-comments-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
