<app-opportunity-page-loader *ngIf="isLoading"> </app-opportunity-page-loader>
<div class="modal-body darkModalBody rounded pt-0 pb-1" *ngIf="!isLoading">
  <app-idea-top-container
    *ngIf="idea"
    [idea]="idea"
    [topScore]="topScore"
    [voteCount]="upvotes"
    [followerData]="followersData"
    [tab]="tab"
    [commentCount]="commentCount"
    [userOpportunityPermissions]="userOpportunityPermissions"
    [isModel]="true"
    [ideaUpvoters]="ideaUpvoters"
    [upvoteData]="upvoteDetail"
    [permissions]="permissionsData"
    (updateIdea)="updateIdea()"
    (switchTab)="switchTab($event)"
    (archive)="archiveIdea()"
  >
  </app-idea-top-container>
  <!-- start of old summary tab -->
  <button
    type="button"
    class="ideaModalClose"
    aria-label="Close"
    (click)="close()"
  >
    <fa-icon [icon]="['fas', 'times']" class="text-muted iconLarge"></fa-icon>
  </button>
  <div class="row">
    <div class="col-12">
      <!-- modalPageHeight -->
      <div class="row pb-0 mt-2" style="min-height: 68vh;">
        <div class="col-12">
          <!-- Start summary Tab -->
          <div *ngIf="tab == tabs.summary.key" class="container">
            <div class="row pt-3">
              <div
                class="col-12 col-md-8 order-2 order-md-1 removePaddingOnMobile"
              >
                <!-- alerts -->
                <div class="row">
                  <div class="col-12 removePaddingOnMobile">
                    <div class="alert alert-success p-2 d-none">
                      <div class="row">
                        <div class="col-8">
                          <p class="mb-0 small">
                            This stage is now completed. Please change the stage
                            of this idea to keep it progressing.
                          </p>
                        </div>
                        <div class="col-4">
                          <ul class="list-inline mb-0 float-right">
                            <li class="list-inline-item">
                              <span
                                class="badge badge-danger badgePadding cardAnimation pointer"
                                ngbTooltip="Move this idea to the parking lot."
                                style="border-radius: 50px;"
                              >
                                <fa-icon
                                  [icon]="['fas', 'times-circle']"
                                ></fa-icon>
                                Archive
                              </span>
                            </li>
                            <li class="list-inline-item">
                              <span
                                class="badge badge-success badgePadding cardAnimation pointer"
                                ngbTooltip="Progress this idea to the next stage."
                                style="border-radius: 50px;"
                              >
                                <fa-icon
                                  [icon]="['fas', 'check-circle']"
                                ></fa-icon>
                                Progress
                              </span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end alerts -->
                <div class="card mb-3 shadow-sm order-1 order-sm-1">
                  <div
                    class="card-header bg-white border-bottom-0 pb-0 px-0 px-md-3"
                  >
                    <p
                      class="small bold montserrat uppercase text-muted mb-1 pt-1"
                    >
                      {{ 'IdeaPage.MoreAbout' | translationPipe }}
                      {{ idea?.opportunityType?.name }}
                    </p>
                  </div>
                  <div
                    class="card-body pt-2 px-0 px-md-3"
                    [ngClass]="{ hiddenHeight: hide }"
                  >
                    <p class="text-medium mb-2">
                      <span *ngIf="!idea.readMore">
                        <span
                          [innerHTML]="
                            (idea?.descriptionHtml || '').substring(0, 750)
                              | dynamicTranslation
                          "
                        ></span>
                        <span
                          class="link pointer"
                          *ngIf="
                            idea?.description !== '' &&
                            idea?.description.length > 751
                          "
                          (click)="idea.readMore = true"
                        >
                          &nbsp;&nbsp;&nbsp;
                          {{ 'SharedText.ReadMore' | translationPipe }}
                        </span>
                      </span>
                      <span *ngIf="idea.readMore">
                        <span
                          [innerHTML]="
                            (idea?.descriptionHtml || '').substring(0, 5000)
                              | dynamicTranslation
                          "
                        ></span>
                        <span
                          class="link pointer"
                          (click)="idea.readMore = false"
                        >
                          &nbsp;&nbsp;&nbsp;
                          {{ 'SharedText.ReadLess' | translationPipe }}
                        </span>
                      </span>
                      <!-- <a
                        class="text-primary"
                        *ngIf="
                          idea?.description !== '' &&
                          idea?.description.length > 205
                        "
                        (click)="ideaPage()"
                      >
                        read more...
                      </a> -->
                      <span *ngIf="idea?.description === ''">
                        {{ 'SharedText.NoDescription' | translationPipe }}
                      </span>
                    </p>
                    <!-- <ul class="breadcrumb pl-0 bg-transparent">
                      <li>One</li><li>Two</li><li>Three</li>
                    </ul> -->
                    <!-- <ng-template #tagInformation>
                      <div class="row pt-1 pb-1">
                        <div class="col-4 pr-0">
                          <ul class="list-unstyled text-center mb-0">
                            <li>
                              <label class="mb-0">422</label>
                              <p
                                class="small mb-0 uppercase"
                                style="font-size: 0.5rem;"
                              >
                                Followers
                              </p>
                            </li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled text-center mb-0">
                            <li>
                              <label class="mb-0">25</label>
                              <p
                                class="small mb-0 uppercase"
                                style="font-size: 0.5rem;"
                              >
                                Ideas
                              </p>
                            </li>
                          </ul>
                        </div>
                        <div class="col-4 pl-0">
                          <ul class="list-unstyled text-center mb-0">
                            <li>
                              <label class="mb-0">10</label>
                              <p
                                class="small mb-0 uppercase"
                                style="font-size: 0.5rem;"
                              >
                                Comments
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </ng-template> -->
                    <li class="list-inline-item">
                      <!-- <span
                        class="badge badge-light tag border pointer"
                        *ngIf="!idea?.tags?.length"
                      >
                        <fa-icon
                          [icon]="['fas', 'plus']"
                          class="text-muted"
                        ></fa-icon>
                        Add Tags
                      </span> -->
                      <ul
                        class="list-inline mb-0 mb-3"
                        *ngIf="idea?.tags.length"
                      >
                        <li
                          class="list-inline-item mb-0"
                          *ngFor="let tag of idea?.tags"
                        >
                          <!-- (click)="gotoSearch()" -->
                          <span
                            class="badge badge-light tag border font-weight-normal tagPadding"
                            [ngbPopover]=""
                            [openDelay]="100"
                            triggers="mouseenter"
                            [autoClose]="true"
                            popoverClass="popoverStyle"
                            container="body"
                          >
                            <fa-icon
                              [icon]="['fas', 'hashtag']"
                              class="text-muted tagIcon"
                            ></fa-icon
                            >{{ tags[tag] }}
                            <!-- <fa-icon
                              [icon]="['fas', 'times']"
                              class="text-muted align-middle removeTag"
                              placement="right"
                              ngbTooltip="Remove Tag"
                            ></fa-icon> -->
                          </span>
                        </li>
                      </ul>
                    </li>
                    <!-- end of tags component -->
                    <div class="mb-3">
                      <p class="text-medium bold mb-2 mt-2">
                        {{ 'IdeaPage.Attachments' | translationPipe }}
                      </p>
                      <!-- start of files and media -->
                      <app-media-feature
                        [files]="files"
                        [from]="'idea'"
                        [userOpportunityPermissions]="
                          userOpportunityPermissions
                        "
                        (update)="editIdeaImages()"
                      ></app-media-feature>
                      <!-- end of files and media -->
                    </div>
                    <div class="mt-2">
                      <app-custom-fields
                        [customFields]="customFields"
                        [view]="true"
                        (fieldsData)="updateSummaryCustomFieldData($event)"
                      ></app-custom-fields>
                    </div>
                  </div>
                  <div
                    class="card-footer addHover viewMore"
                    (click)="hide = !hide"
                  >
                    <p class="text-center mb-0 text-medium link bold">
                      <fa-icon
                        [icon]="['fas', hide ? 'angle-down' : 'angle-up']"
                      ></fa-icon>
                      {{ hide ? 'View More' : 'View Less' }}
                    </p>
                  </div>
                </div>
                <!-- *ngIf="false" -->
                <ul class="list-inline mb-1">
                  <li class="list-inline-item">
                    <p
                      class="uppercase bold montserrat text-medium mb-0 text-muted"
                      *ngIf="linkedOpportunties.length"
                    >
                      Relationships
                    </p>
                  </li>
                  <li class="list-inline-item float-right">
                    <button
                      class="btn btn-light border btn-xs"
                      (click)="toggleAddLink()"
                      *ngIf="
                        idea?.opportunityType?.enableLinking &&
                        userOpportunityPermissions?.linkOpportunities
                      "
                    >
                      <fa-icon [icon]="['fas', 'link']"></fa-icon>
                      Add New
                    </button>
                  </li>
                </ul>
                <div class="row">
                  <div class="col-12">
                    <app-linked-add
                      *ngIf="addLinkedOpportunity"
                      [oppoTypeId]="idea?.opportunityType?.id"
                      [oppoId]="idea?.id"
                      (updateLinkedOppoList)="updateLinkedOppoList($event)"
                      (hideLinkOption)="hideLinkOption($event)"
                    ></app-linked-add>
                  </div>
                </div>
                <div class="card shadow-sm mb-3">
                  <div class="card-body p-0">
                    <!-- start of one type of linked post type -->
                    <div
                      class="card rounded-bottom-0 border-bottom-0 border-0"
                      *ngFor="let item of linkedOppoGrouped | keyvalue"
                    >
                      <div class="card-body p-0">
                        <div class="row my-1">
                          <div class="col-12">
                            <ul class="list-inline mb-0 py-2">
                              <span
                                (click)="toggleShowLinks()"
                                class="inverseLinkDark"
                              >
                                <li
                                  class="list-inline-item"
                                  style="margin-left: 0.5rem;"
                                >
                                  <fa-icon
                                    [icon]="['fas', 'angle-down']"
                                    class="adjustFloat"
                                    *ngIf="!showLinkedList"
                                    style="
                                      font-size: 1.1rem;
                                      line-height: 0.9rem;
                                      position: relative;
                                      top: 0.1rem;
                                    "
                                  ></fa-icon>
                                  <fa-icon
                                    [icon]="['fas', 'angle-up']"
                                    class="adjustFloat"
                                    *ngIf="showLinkedList"
                                    style="
                                      font-size: 1.1rem;
                                      line-height: 0.9rem;
                                      position: relative;
                                      top: 0.1rem;
                                    "
                                  ></fa-icon>
                                </li>
                                <li class="list-inline-item">
                                  <p class="text-medium bold mb-0">
                                    {{
                                      item.key +
                                        ' (' +
                                        item?.value?.length +
                                        ')'
                                    }}
                                  </p>
                                </li>
                              </span>
                            </ul>
                          </div>
                        </div>
                        <!-- <div class="row">
                          <div class="col-12">
                            <app-linked-add
                              *ngIf="addLinkedOpportunity"
                            ></app-linked-add>
                          </div>
                        </div> -->
                        <div class="row">
                          <div class="col-12">
                            <app-linked-list
                              *ngIf="showLinkedList || addLinkedOpportunity"
                              [linkedOpportunities]="item.value"
                              (updateLinkedOppoList)="
                                updateLinkedOppoList($event)
                              "
                            ></app-linked-list>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="card rounded-top-0 border-left-0 border-right-0 border-bottom-0 d-none"
                    >
                      <div class="card-body p-0">
                        <div class="row my-1">
                          <div class="col-12">
                            <ul class="list-inline mb-0 py-2">
                              <span
                                (click)="toggleShowMerged()"
                                class="inverseLinkDark"
                              >
                                <li
                                  class="list-inline-item"
                                  style="margin-left: 0.5rem;"
                                >
                                  <fa-icon
                                    [icon]="['fas', 'angle-down']"
                                    class="adjustFloat"
                                    *ngIf="!showMergedList"
                                    style="
                                      font-size: 1.1rem;
                                      line-height: 0.9rem;
                                      position: relative;
                                      top: 0.1rem;
                                    "
                                  ></fa-icon>
                                  <fa-icon
                                    [icon]="['fas', 'angle-up']"
                                    class="adjustFloat"
                                    *ngIf="showMergedList"
                                    style="
                                      font-size: 1.1rem;
                                      line-height: 0.9rem;
                                      position: relative;
                                      top: 0.1rem;
                                    "
                                  ></fa-icon>
                                </li>
                                <li class="list-inline-item">
                                  <p class="text-medium bold mb-1">
                                    Merged Submissions (2)
                                  </p>
                                </li>
                              </span>
                              <li class="list-inline-item float-right">
                                <ul class="list-inline mb-0">
                                  <li class="list-inline-item mr-3">
                                    <span class="inverseLink small">
                                      10 Suggested Merges
                                    </span>
                                  </li>
                                  <li class="list-inline-item mr-2">
                                    <app-merged-add></app-merged-add>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                            <div
                              class="card bg-light shadow-sm rounded-top-0"
                              *ngIf="showMergedList"
                            >
                              <div class="card-body text-medium p-0">
                                <app-merged-list></app-merged-list>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end of merged opportunities -->
                  </div>
                </div>
                <div class="card shadow-sm mb-3">
                  <div
                    class="card-header bg-white border-bottom-0 pb-0 px-0 px-md-3"
                  >
                    <p class="small bold uppercase text-muted mb-1 montserrat">
                      {{ 'IdeaPage.Comments' | translationPipe }}
                    </p>
                  </div>
                  <div class="card-body px-0 px-md-3 pt-0 pt-md-3">
                    <app-comments-container
                      [permissions]="permissionsData"
                      [entityConfig]="{
                        entityObjectId: idea?.id,
                        entityType: entityType?.id
                      }"
                      [userOpportunityPermissions]="userOpportunityPermissions"
                    ></app-comments-container>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 pl-3 pl-md-2 order-2 order-md-2">
                <div class="row">
                  <div
                    class="removePaddingOnMobile"
                    [ngClass]="ideaUpvoters?.length ? 'col-8' : 'col-12'"
                  >
                    <div *ngIf="permissionsData?.allowVoting">
                      <app-upvote
                        [entity]="idea"
                        [upvoteData]="ideaUpvoters"
                        [upvotes]="upvotes"
                        (upvoteActionEmitter)="removeUpvoter($event)"
                      >
                      </app-upvote>
                    </div>
                    <div *ngIf="!permissionsData?.allowVoting">
                      <button
                        class="btn w-100 btn-block btn-disabled border text-muted montserrat disabled"
                      >
                        <fa-icon
                          [icon]="['fas', 'thumbs-up']"
                          class="text-muted"
                        ></fa-icon>
                        {{ 'SharedText.VotingDisabled' | translationPipe }}
                        ({{ ideaUpvoters?.length }})
                      </button>
                    </div>
                  </div>
                  <div class="col-4 pl-4 pl-md-2 adjustFloatUp">
                    <div
                      container="body"
                      ngbTooltip="{{
                        'SharedText.UpvotedBy' | translationPipe
                      }} {{ renderIdeaUpvoters(ideaUpvoters) }}"
                    >
                      <app-social-images
                        [upvoters]="ideaUpvoters"
                        [followers]="followersData"
                        [entityType]="entityType"
                      >
                      </app-social-images>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 removePaddingOnMobile">
                    <hr />
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-12">
                    <div class="media">
                      <div ngbTooltip="Upvoted by {{ renderIdeaUpvoters(ideaUpvoters) }}">
                        <app-social-images
                          [upvoters]="ideaUpvoters"
                          [followers]="followersData"
                          [entityType]="entityType"
                        >
                        </app-social-images>
                      </div>
                      <div class="media-body ml-2">
                        <p class="small inverseLink mb-0">
                          Upvoted by
                          {{ renderIdeaUpvoters(ideaUpvoters) }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-12 removePaddingOnMobile">
                    <app-idea-stage-progress
                      [idea]="idea"
                      [ideaEntity]="entityType"
                      [followerData]="followersData"
                      [stageAssignees]="stageAssignees"
                      [stageStats]="stageStats"
                      [userOpportunityPermissions]="userOpportunityPermissions"
                      (updatedIdea)="updateIdea()"
                      (tab)="switchTab($event)"
                      [userOpportunityPermissions]="userOpportunityPermissions"
                    ></app-idea-stage-progress>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 removePaddingOnMobile">
                    <p class="mb-2 bold">
                      {{ idea?.opportunityType?.name }} Collaborators
                    </p>
                    <app-idea-team-container
                      [idea]="idea"
                      [userOpportunityPermissions]="userOpportunityPermissions"
                      (updated)="teamUpdated($event)"
                    ></app-idea-team-container>
                  </div>
                </div>
                <!-- <div class="card shadow-sm mb-3">
                  <div class="card-body px-3 pt-2 pb-0">
                    <div class="row">
                      <div class="col-12">
                        <div
                          class="row mt-2"
                          *ngIf="permissionsData?.allowVoting"
                        >
                          <div class="col-12">
                            <app-upvote
                              [entity]="idea"
                              [upvoteData]="ideaUpvoters"
                              [upvotes]="upvotes"
                              (upvoteActionEmitter)="removeUpvoter($event)"
                            >
                            </app-upvote>
                          </div>
                        </div>
                        <hr />
                        <div class="row mb-2">
                          <div class="col-12">
                            <ul class="list-inline float-right w-100 mb-0">
                              <li
                                class="list-inline-item w-33 m-0 text-center"
                                *ngIf="
                                  userOpportunityPermissions?.followOpportunity
                                "
                              >
                                <app-follow
                                  [data]="idea"
                                  [showText]="true"
                                  [entityObject]="{
                                    id: idea?.id,
                                    typeId: entityType?.id,
                                    entity: 'idea'
                                  }"
                                  [entity]="entity"
                                  (followed)="updateIdea()"
                                ></app-follow>
                              </li>
                              <li
                                class="list-inline-item w-33 m-0 px-2 inverseLink text-center"
                                [ngClass]="{ inverseLinkSelected: idea.bookmark }"
                                *ngIf="
                                  userOpportunityPermissions?.bookmarkOpportunity
                                "
                                (click)="bookmarkIdea()"
                              >
                                <app-bookmark
                                  [data]="idea"
                                  [entityType]="entityType"
                                  (bookmarked)="idea = $event"
                                ></app-bookmark>
                              </li>
                              <li
                                *ngIf="permissionsData?.allowSharing"
                                class="list-inline-item w-33 m-0 inverseLink text-center"
                                ngbDropdown
                              >
                                <app-share [ideaId]="idea?.id"></app-share>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->

                <!-- start of commenting out -->
                <!-- <div class="card shadow-sm mb-3">
                  <div class="card-header border-bottom-0 pb-0 bg-white px-3">
                    <p class="mb-1 bold uppercase text-muted small montserrat">
                      <span (click)="workflowList()" class="inverseLink">
                        {{ idea?.workflow?.title || 'No Workflow Added' }}
                      </span>
                    </p>
                  </div>
                  <div class="card-body px-3 pt-2">
                    <div class="row">
                      <div class="col-12">
                        <app-idea-stage-progress
                          [idea]="idea"
                          [ideaEntity]="entityType"
                          [followerData]="followersData"
                          [stageAssignees]="stageAssignees"
                          [stageStats]="stageStats"
                          [userOpportunityPermissions]="
                            userOpportunityPermissions
                          "
                          (updatedIdea)="updateIdea()"
                          (tab)="switchTab($event)"
                          [userOpportunityPermissions]="
                            userOpportunityPermissions
                          "
                        ></app-idea-stage-progress>
                      </div>
                    </div>
                    <div class="row mt-2" *ngIf="permissionsData?.allowVoting">
                      <div class="col-12">
                        <app-upvote
                          [entity]="idea"
                          [upvoteData]="ideaUpvoters"
                          [upvotes]="upvotes"
                          (upvoteActionEmitter)="removeUpvoter($event)"
                        >
                        </app-upvote>
                      </div>
                    </div>
                  </div>
                  <div
                    class="card-footer"
                    *ngIf="ideaUpvoters?.length > 0"
                    style="padding-left: 1rem;"
                  >
                    <div class="row">
                      <div class="col-12">
                        <div class="media">
                          <app-social-images
                            [upvoters]="ideaUpvoters"
                            [followers]="followersData"
                            [entityType]="entityType"
                          >
                          </app-social-images>
                          <div class="media-body ml-2">
                            <p class="small inverseLink mb-0">
                              Upvoted by
                              {{ renderIdeaUpvoters(ideaUpvoters) }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <!-- <div class="card shadow-sm mb-3">
                  <div class="card-header bg-white pb-0 border-bottom-0 px-3">
                    <p class="uppercase text-muted mb-0 bold small montserrat">
                      Submitters, Owners, and Team Members
                    </p>
                  </div>
                  <div class="card-body p-3">
                    <app-idea-team-container
                      [idea]="idea"
                      [userOpportunityPermissions]="userOpportunityPermissions"
                      (updated)="teamUpdated($event)"
                    ></app-idea-team-container>
                  </div>
                </div> -->
                <!-- end of commenting out -->
              </div>
            </div>
          </div>
          <!-- End summary Tab -->
          <app-idea-files-container
            *ngIf="tab == tabs.files.key"
            [ideaId]="idea?.id"
            [userOpportunityPermissions]="userOpportunityPermissions"
          ></app-idea-files-container>
          <app-activity-container
            *ngIf="tab === tabs.activity.key"
            [currentIdea]="true"
            [ideaId]="idea?.id"
            [entityType]="entityType.id"
            (switchTab)="switchTab($event)"
          ></app-activity-container>
          <!-- <app-idea-tasks-container
            *ngIf="tab === tabs.tasks.key"
          ></app-idea-tasks-container> -->
          <app-idea-more-information-container
            *ngIf="tab === tabs.moreInfo.key"
            [idea]="idea"
            [stageAssignees]="stageAssignees"
            [stageStats]="stageStats"
            [userOpportunityPermissions]="userOpportunityPermissions"
            [stageAssignmentSettings]="stageAssignmentSettings"
          ></app-idea-more-information-container>
          <app-idea-questions-container
            *ngIf="tab === tabs.questions.key"
            [idea]="idea"
            [stageAssignees]="stageAssignees"
            [tags]="tags"
            [userOpportunityPermissions]="userOpportunityPermissions"
            [stageAssignmentSettings]="stageAssignmentSettings"
          ></app-idea-questions-container>
          <!-- <app-idea-evaluations-container
            *ngIf="tab == tabs.evaluations.key"
          ></app-idea-evaluations-container> -->
          <!-- <app-ideabox-container
            *ngIf="tab == tabs.build.key"
          ></app-ideabox-container> -->
          <!-- <app-idea-outcomes-container
            *ngIf="tab == tabs.outcomes.key"
          ></app-idea-outcomes-container> -->
        </div>
      </div>
    </div>
  </div>
</div>
