.jumboTronImage {
  background: url('https://prediction-market.s3.amazonaws.com/Staging%20test/5d55b6d95b9718001d49e718/challengePage/examonetwo.png')
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
