<!-- start of one -->
<div class="row">
  <div class="col-12">
    <p class="mb-2 text-medium bold">{{ criteria?.criteria.title }}</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-inline mb-1">
      <li class="list-inline-item">
        <p class="text-medium text-muted mb-0">
          Averaged Response
        </p>
      </li>
      <li class="list-inline-item float-right adjustFloat">
        <p class="text-medium mb-0 bold">
          {{ util.precisionTo(criteria?.avgNormalizedScore) }}
          <small class="bold">
            / {{ util.precisionTo(criteria?.totalNormalizedScore) }}
          </small>
        </p>
      </li>
    </ul>
    <ul
      class="list-inline mb-1"
      container="body"
      triggers="mouseenter"
      popoverClass="descriptionClass"
      placement="left"
    >
      <li class="list-inline-item">
        <p class="text-medium text-muted mb-0">
          Majority Said
        </p>
      </li>
      <li class="list-inline-item float-right adjustFloat">
        <p class="text-medium mb-0">
          {{ mostSelectedResponse }}
        </p>
      </li>
    </ul>
    <!-- <ng-template #showDistribution>
      <div class="progress" style="height: 30px;">
        <ng-container *ngFor="let response of criteriaObject">
          <div
            *ngIf="response.frequency"
            class="progress-bar"
            role="progressbar"
            [ngStyle]="{
              width: (response.frequency / totalResponses) * 100 + '%',
              'background-color': response.color
            }"
            aria-valuenow="15"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            {{ response.label }} ({{ response.frequency }})
          </div>
        </ng-container>
      </div>
    </ng-template> -->
    <!-- <ul class="list-inline mb-0 mt-2">
      <li class="list-inline-item removeMargins">
        <p class="link text-medium">
          <fa-icon [icon]="['fas', 'comment']"></fa-icon>
          View Responses (10)
        </p>
      </li>
    </ul> -->
  </div>
</div>
<!-- end of one -->
