<div class="row">
  <div class="fb-item col-12" [ngClass]="{ 'background-color': count !== 1, 'not-window': !window }"
    *ngFor="let a of arr">
    <div class="row mx-0">
      <div class="col-12">
        <div class="commentsSection">
          <div class="row">
            <div class="col-12">
              <div class="media mb-3">
                <app-list-loader
                  [style]="{ width: '175px', 'border-radius': '5px', height: '125px', 'margin-bottom': '0px' }"
                  class="mr-3"></app-list-loader>
                <div class="media-body">
                  <app-list-loader
                    [style]="{ width: '35%', 'border-radius': '0', height: '15px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                  <app-list-loader
                    [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                  <app-list-loader
                    [style]="{ width: '95%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                  <ul class="list-inline mb-0 mt-3">
                    <li class="list-inline-item w-30">
                      <app-list-loader
                        [style]="{ width: '100%', 'border-radius': '5px', height: '35px', 'margin-bottom': '10px' }">
                      </app-list-loader>
                    </li>
                    <li class="list-inline-item w-30">
                      <app-list-loader
                        [style]="{ width: '100%', 'border-radius': '5px', height: '35px', 'margin-bottom': '10px' }">
                      </app-list-loader>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="media mb-3">
                <app-list-loader
                  [style]="{ width: '175px', 'border-radius': '5px', height: '125px', 'margin-bottom': '0px' }"
                  class="mr-3"></app-list-loader>
                <div class="media-body">
                  <app-list-loader
                    [style]="{ width: '35%', 'border-radius': '0', height: '15px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                  <app-list-loader
                    [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                  <app-list-loader
                    [style]="{ width: '95%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                  <ul class="list-inline mb-0 mt-3">
                    <li class="list-inline-item w-30">
                      <app-list-loader
                        [style]="{ width: '100%', 'border-radius': '5px', height: '35px', 'margin-bottom': '10px' }">
                      </app-list-loader>
                    </li>
                    <li class="list-inline-item w-30">
                      <app-list-loader
                        [style]="{ width: '100%', 'border-radius': '5px', height: '35px', 'margin-bottom': '10px' }">
                      </app-list-loader>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="media mb-3">
                <app-list-loader
                  [style]="{ width: '175px', 'border-radius': '5px', height: '125px', 'margin-bottom': '0px' }"
                  class="mr-3"></app-list-loader>
                <div class="media-body">
                  <app-list-loader
                    [style]="{ width: '35%', 'border-radius': '0', height: '15px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                  <app-list-loader
                    [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                  <app-list-loader
                    [style]="{ width: '95%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
                  </app-list-loader>
                  <ul class="list-inline mb-0 mt-3">
                    <li class="list-inline-item w-30">
                      <app-list-loader
                        [style]="{ width: '100%', 'border-radius': '5px', height: '35px', 'margin-bottom': '10px' }">
                      </app-list-loader>
                    </li>
                    <li class="list-inline-item w-30">
                      <app-list-loader
                        [style]="{ width: '100%', 'border-radius': '5px', height: '35px', 'margin-bottom': '10px' }">
                      </app-list-loader>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
