<label>Configure Your Group Field</label>
<div class="card bg-light shadow-sm mb-3">
  <div class="card-body p-2">
    <div class="form-row">
      <div class="form-group col-8 mb-0">
        <label class="font-weight-normal">Pre-Select Responses</label>
        <p class="small text-muted">
          If enabled, only specific groups that you select will be able to be
          chosen.
        </p>
      </div>
      <div class="form-group col-4 mb-0">
        <div class="custom-control custom-switch mr-auto float-right">
          <input
            type="checkbox"
            class="custom-control-input pointer"
            id="preselectOptions"
            (click)="preselectedEnabled = !preselectedEnabled"
          />
          <label class="custom-control-label font-weight-normal" for="preselectOptions"
            >
              <span *ngIf="preselectedEnabled" class="pl-1">{{ 'ChallengePost.Labels.Enabled' | translationPipe }}</span>
              <span *ngIf="!preselectedEnabled">Disabled</span>
            </label
          >
        </div>
      </div>
    </div>
    <div class="form-group mb-0" *ngIf="preselectedEnabled">
      <label class="font-weight-normal"
        >Choose Groups Who Can be Selected</label
      >
      <app-search-groups></app-search-groups>
      <p class="small text-muted">
        Select the users or groups that will be selectable when users complete this field.
      </p>
    </div>
  </div>
</div>
<!-- <label>Field Preview - User Select Field</label>
  <div class="card bg-white mb-3">
    <div class="card-body p-2">
      <label class="font-weight-normal">
        Field Label
        <fa-icon [icon]="['fas', 'info-circle']" class="text-muted" placement="right" ngbTooltip="Field description if it exists"></fa-icon>
      </label>
      <app-search-groups></app-search-groups>
    </div>
  </div> -->
