@import '~src/variables';
@import '~src/variables-custom';
.badgeStyle {
  font-size: 12px;
  color: #6c757d;
  font-weight: 400;
  line-height: 15px;
  border-radius: 4px;
  padding: 3px 8px 2px;
  background-color: #eaf2f1;
  font-family: 'Open Sans', sans-serif;
  margin: 0 3px;
  border: 1px solid #aab3b2;
  float: left;
}

.leaderboardBadge {
  color: white;
  width: 2.5rem;
  background: linear-gradient(140deg, $primary 0, #0092b2 90%);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
