<div class="row">
  <div class="col-12">
    <div class="row py-5 border-bottom">
      <div class="col-12">
        <div class="text-center">
          insert jumbotron top here
        </div>
      </div>
    </div>
    <div class="row bg-light py-5">
      <div class="col-12">
        <div class="row">
          <div class="col-10 offset-1">
            <div class="row pb-4">
              <div class="col-12">
                <h3 class="text-center montserrat bold">How it Works</h3>
                <p class="text-center text-muted">Submit ideas on ways to improve growth and operations at COMMUNITYNAME for the
                  chance to earn
                  recognition
                  and win prizes.</p>
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-4">
                <ul class="list-unstyled text-center">
                  <li class="mb-4">
                    <fa-icon [icon]="['fas', 'lightbulb-on']" style="padding: 1rem;"
                      class="shadow-sm activityFeedProfileImage text-white iconLarge rounded-circle bg-primary">
                    </fa-icon>
                  </li>
                  <li>
                    <h5 class="montserrat">
                      Post Your Ideas
                    </h5>
                  </li>
                  <li>
                    <p class="text-medium text-muted" style="line-height: 1.7rem;">
                      Post your ideas on challenge topics for the chance to bring your ideas to life.
                    </p>
                  </li>
                </ul>
              </div>
              <div class="col-4">
                <ul class="list-unstyled text-center">
                  <li class="mb-4">
                    <fa-icon [icon]="['fas', 'heart']" style="padding: 1rem;"
                      class="shadow-sm activityFeedProfileImage text-white iconLarge rounded-circle bg-primary">
                    </fa-icon>
                  </li>
                  <li>
                    <h5 class="montserrat">
                      Give and Receive Support
                    </h5>
                  </li>
                  <li>
                    <p class="text-medium text-muted" style="line-height: 1.7rem;">
                      Help great ideas get noticed by voting for them or leaving feedback to help them improve.
                    </p>
                  </li>
                </ul>
              </div>
              <div class="col-4">
                <ul class="list-unstyled text-center">
                  <li class="mb-4">
                    <fa-icon [icon]="['fas', 'trophy']" style="padding: 1rem;"
                      class="shadow-sm activityFeedProfileImage text-white iconLarge rounded-circle bg-primary">
                    </fa-icon>
                  </li>
                  <li>
                    <h5 class="montserrat">
                      Earn Recognition
                    </h5>
                  </li>
                  <li>
                    <p class="text-medium text-muted" style="line-height: 1.7rem;">
                      Receive recognition for winning challenges, providing feedback, and helping bring ideas to life.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-5 border-top">
      <div class="col-12">
        <div class="text-center">
          insert SECOND SEPARATELY EDITABLE jumbotron top here (ie: jumbtron at the top of page and jumbtron at bottom
          of page can
          have separate content in them)
        </div>
      </div>
    </div>
  </div>
</div>
