<!-- stage specific settings decision -->
<div class="card mb-3">
  <div class="card-header">
    <div class="row">
      <div class="col-12 col-md-8">
        <p class="uppercase bold text-muted mb-0">
          Stage Specific Settings - Decision / Survey
        </p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="alert alert-info">
      <p class="small mb-0">
        Allow stakeholders to make a quick decision and automatically send an
        opportunity to a stage depending on their response.
      </p>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="uppercase text-muted bold mb-0">Add Response Options</p>
        <form>
          <div class="form-row">
            <div class="form-group col-6">
              <!-- <app-search-fields></app-search-fields> -->
            </div>
          </div>
        </form>

        <p class="uppercase text-muted bold mb-0">Completion Settings</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="uppercase text-muted bold mb-0">Rules</p>
        <form>
          <div class="form-row">
            <div class="col-3">
              <span>If</span>
              <input type="text" class="form-control form-control-sm" />
              then
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end stage specific settings decision -->
