<!-- start of open action items -->
<div class="card shadow-sm mb-3">
  <div class="card-header bg-white border-bottom-0">
    <p class="small text-muted bold montserrat uppercase mb-0">
      Open Action Items (10)
    </p>
  </div>
  <div class="card-body px-2 py-0">
    <div class="row">
      <div class="col-12">
        <div class="media">
          <img
            class="rounded-circle mr-3 ml-2 mt-2"
            src="https://via.placeholder.com/40x40"
          />
          <div class="media-body">
            <p class="mb-1 pt-2 notificationTextSize text-wrap">
              Evaluate Idea [#25] opportunityTitle
            </p>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <p class="small text-muted mb-2">
                  <fa-icon [icon]="['fas', 'list']"></fa-icon> Evaluate
                </p>
              </li>
              <li class="list-inline-item">
                <p class="small text-muted mb-2">
                  <fa-icon [icon]="['fas', 'clock']"></fa-icon> Due in 5 Days
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-1" />
    <div class="row">
      <div class="col-12">
        <div class="media">
          <img
            class="rounded-circle mr-3 ml-2 mt-2"
            src="https://via.placeholder.com/40x40"
          />
          <div class="media-body">
            <p class="mb-1 pt-2 notificationTextSize text-wrap">
              Evaluate Idea [#25] opportunityTitle
            </p>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <p class="small text-muted mb-2">
                  <fa-icon [icon]="['fas', 'list']"></fa-icon> Evaluate
                </p>
              </li>
              <li class="list-inline-item">
                <p class="small text-muted mb-2">
                  <fa-icon [icon]="['fas', 'clock']"></fa-icon> Due in 5 Days
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-1" />
    <div class="row">
      <div class="col-12">
        <div class="media">
          <img
            class="rounded-circle mr-3 ml-2 mt-2"
            src="https://via.placeholder.com/40x40"
          />
          <div class="media-body">
            <p class="mb-1 pt-2 notificationTextSize text-wrap">
              Evaluate Idea [#25] opportunityTitle
            </p>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <p class="small text-muted mb-2">
                  <fa-icon [icon]="['fas', 'list']"></fa-icon> Evaluate
                </p>
              </li>
              <li class="list-inline-item">
                <p class="small text-muted mb-2">
                  <fa-icon [icon]="['fas', 'clock']"></fa-icon> Due in 5 Days
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-1" />
  </div>
  <!-- <div class="card-footer cardAnimation text-center">
    <p class="small bold inverseLink mb-0">View All</p>
  </div> -->
</div>
<!-- end of open action items -->
