<div class="container-fluid">
  <div class="row pageTopPadding">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="row">
        <div class="col-12">
          <ngb-tabset>
            <ngb-tab title="Course Content Setup">
              <ng-template ngbTabContent>
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="media">
                          <fa-icon
                            [icon]="['fas', 'bullseye']"
                            class="mr-2 text-tertiary small iconLarge"
                          ></fa-icon>
                          <div class="media-body">
                            <h4>The Silver Box</h4>
                            <p class="mb-0">This is the description</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        clone / edit title & desc
                      </div>
                    </div>
                  </div>
                  <div class="card-footer pt-0 pb-0">
                    <!-- start of one level -->
                    <div class="row pt-1 pb-1 border-bottom">
                      <div class="col-9">
                        <div class="media">
                          <ul class="list-unstyled mb-0 text-center mt-1 mr-4">
                            <li class="removeLineHeight">
                              <fa-icon [icon]="['fas', 'angle-up']"></fa-icon>
                            </li>
                            <li class="removeLineHeight">
                              <fa-icon [icon]="['fas', 'ellipsis-h']"></fa-icon>
                            </li>
                            <li class="removeLineHeight">
                              <fa-icon [icon]="['fas', 'angle-down']"></fa-icon>
                            </li>
                          </ul>
                          <div class="media-body">
                            <h5 class="mb-0 pt-1">Level One - Describe</h5>
                            <ul class="list-inline mb-0">
                              <li class="list-inline-item">
                                <a class="small mb-0 text-primary pointer">
                                  <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                                  Edit
                                </a>
                              </li>
                              <li class="list-inline-item">
                                <a class="small mb-0 text-danger pointer">
                                  <fa-icon
                                    [icon]="['fas', 'times-circle']"
                                  ></fa-icon>
                                  Remove
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <a class="text-primary pointer float-right pt-2 mt-1">
                          View Sections (10)
                          <fa-icon
                            [icon]="['fas', 'angle-down']"
                            class="pl-1"
                          ></fa-icon>
                        </a>
                      </div>
                    </div>
                    <!-- end of one level -->
                    <!-- start of one section -->
                    <div class="row pt-1 pb-1 dottedBottomBorder">
                      <div class="col-9">
                        <div class="media">
                          <ul class="list-unstyled mb-0 text-center mt-1 mr-4">
                            <li class="removeLineHeight">
                              <fa-icon [icon]="['fas', 'angle-up']"></fa-icon>
                            </li>
                            <li class="removeLineHeight">
                              <fa-icon [icon]="['fas', 'ellipsis-h']"></fa-icon>
                            </li>
                            <li class="removeLineHeight">
                              <fa-icon [icon]="['fas', 'angle-down']"></fa-icon>
                            </li>
                          </ul>
                          <div class="media-body">
                            <!-- <label class="mb-0 pt-1">1A) Describe Your Idea</label> -->
                            <p class="mb-0 pt-1 text-muted bold uppercase">
                              1A) Describe Your Idea
                            </p>
                            <ul class="list-inline mb-0">
                              <li class="list-inline-item">
                                <a class="small mb-0 text-primary pointer">
                                  <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                                  Edit
                                </a>
                              </li>
                              <li class="list-inline-item">
                                <a class="small mb-0 text-danger pointer">
                                  <fa-icon
                                    [icon]="['fas', 'times-circle']"
                                  ></fa-icon>
                                  Remove
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <a class="text-primary pointer float-right pt-2 mt-1">
                        </a>
                      </div>
                    </div>
                    <!-- end of one section -->
                    <!-- start of one section -->
                    <div class="row pt-1 pb-1 dottedBottomBorder">
                      <div class="col-9">
                        <div class="media">
                          <ul class="list-unstyled mb-0 text-center mt-1 mr-4">
                            <li class="removeLineHeight">
                              <fa-icon [icon]="['fas', 'angle-up']"></fa-icon>
                            </li>
                            <li class="removeLineHeight">
                              <fa-icon [icon]="['fas', 'ellipsis-h']"></fa-icon>
                            </li>
                            <li class="removeLineHeight">
                              <fa-icon [icon]="['fas', 'angle-down']"></fa-icon>
                            </li>
                          </ul>
                          <div class="media-body">
                            <!-- <label class="mb-0 pt-1">1A) Describe Your Idea</label> -->
                            <p class="mb-0 pt-1 text-muted bold uppercase">
                              1B) Describe the Problems Your Idea Solves
                            </p>
                            <ul class="list-inline mb-0">
                              <li class="list-inline-item">
                                <a class="small mb-0 text-primary pointer">
                                  <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                                  Edit
                                </a>
                              </li>
                              <li class="list-inline-item">
                                <a class="small mb-0 text-danger pointer">
                                  <fa-icon
                                    [icon]="['fas', 'times-circle']"
                                  ></fa-icon>
                                  Remove
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <a class="text-primary pointer float-right pt-2 mt-1">
                        </a>
                      </div>
                    </div>
                    <!-- end of one section -->
                  </div>
                </div>
                <!-- end of card -->
                <!-- Add New Topic -->
                <div class="row mb-4">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header pt-2 pb-2">
                        <div class="row">
                          <div class="col-5">
                            <p class="mb-0 pt-2 uppercase text-muted bold">
                              1.1 Learn About Customer Personas
                            </p>
                          </div>
                          <div class="col-7">
                            <ul class="list-inline mb-0 float-right pt-1">
                              <li class="list-inline-item">
                                <fa-icon
                                  [icon]="['fas', 'play']"
                                  class="text-secondary iconLarge"
                                ></fa-icon>
                              </li>
                              <li class="list-inline-item">
                                <fa-icon
                                  [icon]="['fas', 'horizontal-rule']"
                                  class="text-muted iconLarge mr-2 ml-2"
                                ></fa-icon>
                              </li>
                              <li class="list-inline-item">
                                <fa-icon
                                  [icon]="['fas', 'bolt']"
                                  class="text-muted iconLarge"
                                ></fa-icon>
                              </li>
                              <li class="list-inline-item">
                                <fa-icon
                                  [icon]="['fas', 'horizontal-rule']"
                                  class="text-muted iconLarge mr-2 ml-2"
                                ></fa-icon>
                              </li>
                              <li class="list-inline-item">
                                <fa-icon
                                  [icon]="['fas', 'play']"
                                  class="text-muted iconLarge"
                                ></fa-icon>
                              </li>
                              <li class="list-inline-item">
                                <fa-icon
                                  [icon]="['fas', 'horizontal-rule']"
                                  class="text-muted iconLarge mr-2 ml-2"
                                ></fa-icon>
                              </li>
                              <li class="list-inline-item">
                                <fa-icon
                                  [icon]="['fas', 'bolt']"
                                  class="text-muted iconLarge"
                                ></fa-icon>
                              </li>
                              <li class="list-inline-item">
                                <fa-icon
                                  [icon]="['fas', 'horizontal-rule']"
                                  class="text-muted iconLarge mr-2 ml-2"
                                ></fa-icon>
                              </li>
                              <li class="list-inline-item">
                                <fa-icon
                                  [icon]="['fas', 'edit']"
                                  class="text-muted iconLarge"
                                ></fa-icon>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-6">
                            <div class="row">
                              <div class="col-12">
                                <iframe
                                  width="100%"
                                  height="315"
                                  src="https://www.youtube.com/embed/gwjSehCFo3c"
                                  frameborder="0"
                                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                  allowfullscreen
                                ></iframe>
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                              <div class="col-12">
                                <form>
                                  <div class="form-group">
                                    <label>Topic Title</label>
                                    <input type="text" class="form-control" />
                                  </div>
                                  <div class="form-group">
                                    <label>Topic Description</label>
                                    <app-markup-editor></app-markup-editor>
                                    <textarea
                                      class="form-control"
                                      rows="10"
                                    ></textarea>
                                  </div>
                                </form>
                                <button
                                  class="btn btn-primary float-right btn-block mt-3"
                                >
                                  Continue
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End add new topic -->
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Canvas and Tools">
              <ng-template ngbTabContent>
                User can add templates from a list AND add MULTIPLE templates
                (ie: business model canvas and the customer journey map). This
                determines what is available in the course content and
                potentially the custom field sections we can potentially hook
                into.
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Settings">
              <ng-template ngbTabContent>
                <p></p>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
