<!-- <span
  class="badge ml-2 adjustFloatUp"
  [ngClass]="experienceRoles[customField.editRolesText].bg"
  [ngbTooltip]="experienceRoles[customField.editRolesText].editTooltip"
>
  <fa-icon [icon]="['fas', 'edit']"></fa-icon>
  {{ customField.editRolesText }}
</span> -->

<span
  style="font-size: 65%;"
  class="badge ml-2 adjustFloatUp font-weight-normal d-none"
  [ngClass]="experienceRoles[customField.visibilityRolesText].bg"
  [ngbTooltip]="experienceRoles[customField.visibilityRolesText].viewTooltip"
>
  <fa-icon [icon]="['fas', 'eye']"></fa-icon>
  {{ customField.visibilityRolesText }}
</span>
