<div class="alert alert-warning rounded-0 mb-0 negativeAlertMargins">
  <p class="text-center mb-0">
    Your insight is in draft mode. You need to take it live for others to see
    it.<button class="btn btn-sm btn-warning ml-2">Publish This Insight</button>
  </p>
</div>
<!-- view when published / not in edit mode -->
<div class="container pageTopPadding">
  <div class="row">
    <div class="col-8">
      <div class="card mb-4">
        <div class="card-header p-0">
          <img
            class="w-100 rounded-top"
            src="https://prediction-market.s3.amazonaws.com/Staging%20test/5d55b6d95b9718001d49e718/challengePage/ideawake-healthcare-innovation-bottom-image.png"
          />
        </div>
        <div class="card-body pt-0">
          <div
            class="row bg-light border-bottom pt-3 pb-3 mb-4 negativeSideMargins"
          >
            <div class="col-12">
              <ul class="list-inline mb-0">
                <li class="list-inline-item pr-2">
                  <p class="inverseLink uppercase bold mb-0">
                    <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
                    Add to
                  </p>
                </li>
                <li class="list-inline-item pr-2">
                  <p class="inverseLink uppercase bold mb-0">
                    <fa-icon [icon]="['fas', 'share-alt']"></fa-icon>
                    Share
                  </p>
                </li>
                <li class="list-inline-item pr-2">
                  <p class="inverseLink uppercase bold mb-0">
                    <fa-icon [icon]="['fas', 'bookmark']"></fa-icon>
                    Bookmark
                  </p>
                </li>
                <li class="list-inline-item pr-2">
                  <p class="inverseLink uppercase bold mb-0">
                    <fa-icon [icon]="['fas', 'rss']"></fa-icon>
                    Follow
                  </p>
                </li>
                <li class="list-inline-item pr-2 float-right">
                  <p class="inverseLink uppercase bold mb-0">
                    <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                    Edit Post
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h4>The Uber for X</h4>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <span class="tagLink">
                    <fa-icon [icon]="['fas', 'hashtag']"></fa-icon>aginginplace
                  </span>
                </li>
                <li class="list-inline-item">
                  <span class="tagLink">
                    <fa-icon [icon]="['fas', 'hashtag']"></fa-icon>aginginplace
                  </span>
                </li>
              </ul>
              <p>
                On demand service from your smartphone has travelled far beyond
                taxis. Now everything from from vet services, to dog walking, to
                food delivery, and even haircuts can be ordered in real time
                from your phone. What consumer needs still exist that we can
                help address with new types of on-demand convenience? Check out
                all the different “Uber for X” offerings out there today
                <a
                  href="https://www.producthunt.com/e/uber-for-x"
                  target="_blank"
                  >on this Product Hunt list.</a
                >
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card bg-light pointer mb-3">
                <div class="card-body pt-3 pb-3">
                  <p class="uppercase text-muted mb-0 small">
                    residentialsystems.com
                  </p>
                  <h6 class="mb-0 pt-1">Preparing for the "Silver Tsunami"</h6>
                </div>
              </div>
              <div class="card bg-light pointer mb-3">
                <div class="card-body pt-3 pb-3">
                  <p class="uppercase text-muted mb-0 small">producthunt.com</p>
                  <h6 class="mb-0 pt-1">The Uber for X - Master List</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          <p class="uppercase text-muted mb-0 bold">Relationships</p>
        </div>
        <div class="card-body p-0 mt-3">
          <ngb-tabset type="tabs">
            <ngb-tab>
              <ng-template ngbTabTitle>
                Connection Graph
              </ng-template>
              <ng-template ngbTabContent>
                <img
                  class="w-100 p-5"
                  src="https://tkipf.github.io/graph-convolutional-networks/images/karate.png"
                />
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <fa-icon [icon]="['fas', 'lightbulb']"></fa-icon> Opportunities
                (55)
              </ng-template>
              <ng-template ngbTabContent>
                List of opportunities
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <fa-icon [icon]="['fas', 'atom']"></fa-icon> Insights (55)
              </ng-template>
              <ng-template ngbTabContent>
                List of insights
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <fa-icon [icon]="['fas', 'flask']"></fa-icon> Experiments (55)
              </ng-template>
              <ng-template ngbTabContent>
                List of insights
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-4">
        <div class="card-header">
          <p class="uppercase text-muted mb-0 bold">Relationships</p>
        </div>
        <div class="card-body p-0">
          <img
            class="w-100 p-3"
            src="https://tkipf.github.io/graph-convolutional-networks/images/karate.png"
          />
          <ul class="list-group list-group-flush">
            <li class="list-group-item inverseLink">
              <fa-icon [icon]="['fas', 'lightbulb']"></fa-icon> Linked
              Opportunities
              <span class="bold mb-0 float-right">55</span>
            </li>
            <li class="list-group-item inverseLink">
              <fa-icon [icon]="['fas', 'atom']"></fa-icon> Linked Insights
              <span class="bold mb-0 float-right">55</span>
            </li>
            <li class="list-group-item inverseLink">
              <fa-icon [icon]="['fas', 'flask']"></fa-icon> Linked Experiments
              <span class="bold mb-0 float-right">55</span>
            </li>
            <li class="list-group-item inverseLink">
              <fa-icon [icon]="['fas', 'user']"></fa-icon> Linked Users
              <span class="bold mb-0 float-right">55</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- view when published / not in edit mode -->
