<div class="card shadow-sm mb-3">
  <div class="card-header bg-white px-3 border-bottom-0">
    <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <p class="uppercase bold montserrat text-medium mb-0">
          This is the Title of Gadget (Counter Tile)
        </p>
        <p class="text-muted small mt-1 mb-0">
          Date Range: Last 30 Days
        </p>
      </li>
      <li class="list-inline-item float-right">
        <span (click)="editCounter = !editCounter">
          Edit
        </span>
        <app-widget-manage></app-widget-manage>
      </li>
    </ul>
  </div>
  <div class="card-body pt-0">
    <div class="row" *ngIf="!editCounter">
      <div class="col-12">
        <h2 class="mb-0 bold montserrat">25</h2>
      </div>
    </div>
    <div class="row" *ngIf="editCounter">
      <div class="col-12">
        <form>
          <div class="form-group">
            <label>Gadget Title</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter a title for your gadget..."
            />
          </div>
          <div class="form-group">
            <div ngbDropdown>
              <label class="mb-1"
                >Select Data Points to Display in Time Series</label
              >
              <div class="card bg-light mb-3">
                <div class="card-body p-2">
                  <!-- <input
                              type="text"
                              class="form-control mb-2"
                              placeholder="Search Fields..."
                            /> -->
                  <div
                    class="custom-control custom-checkbox"
                    (click)="postTypeSubmissions = !postTypeSubmissions"
                  >
                    <input type="checkbox" class="custom-control-input" />
                    <label class="custom-control-label font-weight-normal"
                      >Post Type Submissions</label
                    >
                  </div>
                  <div class="ml-4 py-1" *ngIf="postTypeSubmissions">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" />
                      <label class="custom-control-label font-weight-normal"
                        >Ideas</label
                      >
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" />
                      <label class="custom-control-label font-weight-normal"
                        >Learnings</label
                      >
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" />
                      <label class="custom-control-label font-weight-normal"
                        >Companies</label
                      >
                    </div>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <label class="custom-control-label font-weight-normal"
                      >NG Repeat Number Based Custom Fields (Time Savings /
                      Revenue / Etc)</label
                    >
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <label class="custom-control-label font-weight-normal"
                      >Votes</label
                    >
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <label class="custom-control-label font-weight-normal"
                      >Reviews</label
                    >
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <label class="custom-control-label font-weight-normal"
                      >Comments</label
                    >
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <label class="custom-control-label font-weight-normal"
                      >Shares</label
                    >
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <label class="custom-control-label font-weight-normal"
                      >Views</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 mb-0">
              <div ngbDropdown>
                <label class="mb-2"
                  >Filter the Results Displayed in this Graph</label
                >
                <div ngbDropdown>
                  <div
                    class="removeCaret py-2 pl-2 pr-3 border bg-white rounded addHover"
                    ngbDropdownToggle
                  >
                    Select Filters
                    <span class="float-right">
                      <fa-icon
                        [icon]="['fas', 'sort']"
                        class="text-muted"
                      ></fa-icon>
                    </span>
                  </div>
                  <div ngbDropdownMenu class="shadow p-2">
                    <div class="filtersMobile">
                      <div class="mr-2">
                        <div class="alert alert-info py-1 px-2 mb-2">
                          <p class="small mb-0" style="line-height: 1.25rem;">
                            Filters will activate on the page as you select
                            them. To hide filtering options, simply click
                            anywhere outside of this dropdown.
                          </p>
                        </div>
                        app idea filters is commented out but included right
                        below this line
                        <!-- <app-idea-filters
                                              [entity]="ideaEntity"
                                              [pageType]="'card'"
                                              [appFilters]="appliedFilters"
                                              (filterApplied)="
                                                filterOpportunities($event)
                                              "
                                            >
                                            </app-idea-filters> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="card bg-light mt-3">
              <div class="card-body p-3">
                <p class="small uppercase bold mb-1">
                  Selected Filters
                </p>
                ng-repeat selected filters here just like we have on the ideas
                list pages
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="mb-1">Select Time Period</label>
            <p>
              INSERT THE SAME COMPONENT AS THE IDEA-FILTER-TIME WIDGET ON THE
              IDEA LIST PAGES HERE!!!
            </p>
          </div>
          <div class="form-group">
            <label class="mb-2">Select Aggregation</label>
            <div
              class="btn-group btn-group-sm btn-block border rounded"
              role="group"
              aria-label="Basic example"
            >
              <button type="button" class="btn btn-light active">
                Count
              </button>
              <button type="button" class="btn btn-light">Sum</button>
            </div>
          </div>
          <hr class="my-4" />
          <div class="form-group mb-0 mt-3">
            <div class="float-right">
              <button class="btn btn-light border mr-2">
                Cancel
              </button>
              <button class="btn btn-primary">
                Save Changes
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
