<div class="row">
  <div class="fb-item col-12" [ngClass]="{ 'background-color': count !== 1, 'not-window': !window }"
    *ngFor="let a of arr">
    <div class="row mx-0">
      <div class="col-12 px-0">
        <div class="commentsSection">
          <div class="row text-center">
            <div class="col-12">
              <app-list-loader [style]="{ width: '40%', 'border-radius': '0', height: '35px', 'margin-bottom': '20px' }">
              </app-list-loader>
              <app-list-loader [style]="{ width: '80%', 'border-radius': '0', height: '15px', 'margin-bottom': '10px' }">
              </app-list-loader>
              <app-list-loader [style]="{ width: '70%', 'border-radius': '0', height: '15px', 'margin-bottom': '0px' }">
              </app-list-loader>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
