@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~src/variables';
@import '~src/variables-custom';

.challengeBackgroundTop {
  background: url('https://prediction-market.s3.amazonaws.com/Staging%20test/5d55b6d95b9718001d49e718/challenges/ideawakehcone.png')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.challengeTitle {
  line-height: 3rem;
  font-weight: lighter;
}

.adjustLabel {
  position: relative;
  bottom: 0.07rem;
}

p.challengeDescription {
  line-height: 2.25rem;
}

.banner {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.position-relative {
  position: relative;
}

.newHomeDivTwo {
  -webkit-box-shadow: inset 4px 10px 134px 165px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 4px 10px 134px 165px rgba(0, 0, 0, 0.75);
  box-shadow: inset 4px 10px 134px 165px rgba(0, 0, 0, 0.75);
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: white;
  // font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  // background-color: #f3f3f4 !important;
  background-color: transparent;
  border-color: $primary;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0.5rem;
  // letter-spacing: 1px;
  border-bottom: 3px solid $primary;
  margin-bottom: 0;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-item.show .nav-link {
  color: #ffffff;
  // font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  // background-color: #f3f3f4 !important;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0.5rem;
  // letter-spacing: 1px;
  border-bottom: none;
  margin-bottom: 0;
}

.nav-tabs .nav-link,
.nav-tabs .nav-item.show .nav-link {
  color: white;
  // font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: transparent !important;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0.5rem;
  letter-spacing: 1px;
  border-bottom: none;
  margin-bottom: 0;
}

.nav-pills-challenge .nav-link.active,
.nav-pills-challenge .nav-item.show .nav-link {
  color: white;
  // font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  // background-color: #f3f3f4 !important;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0.5rem;
  letter-spacing: 1px;
  border-bottom: 3px solid white;
  margin-bottom: 0;
}

.nav-pills-challenge .nav-link:hover,
.nav-pills-challenge .nav-item.show .nav-link {
  color: white;
  // font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  // background-color: #f3f3f4 !important;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0.5rem;
  letter-spacing: 1px;
  border-bottom: 3px solid white;
  margin-bottom: 0;
}

.nav-pills-challenge .nav-link,
.nav-pills-challenge .nav-item.show .nav-link {
  color: $gray-100;
  // font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: transparent !important;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0.5rem;
  letter-spacing: 1px;
  border-bottom: none;
  margin-bottom: 0;
}

// secondary navigation

.nav-pills-secondary .nav-link.active,
.nav-pills-secondary .nav-item.show .nav-link {
  color: #434343;
  // font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f3f3f4 !important;
  border-radius: 0.25rem;
  // margin-right: 0.5rem;
  // letter-spacing: 1px;
  border-bottom: none;
  margin-bottom: 0;
}

.nav-pills-secondary .nav-link:hover,
.nav-pills-secondary .nav-item.show .nav-link {
  color: #434343;
  // font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f3f3f4 !important;
  border-radius: 0.25rem;
  // margin-right: 0.5rem;
  // letter-spacing: 1px;
  border-bottom: 3px solid white;
  margin-bottom: 0;
}

.nav-pills-secondary .nav-link,
.nav-pills-secondary .nav-item.show .nav-link {
  color: #434343;
  // font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: transparent !important;
  border-radius: 0.25rem;
  // margin-right: 0.5rem;
  // letter-spacing: 1px;
  border-bottom: none;
  margin-bottom: 0;
}

.hide-navigation {
  display: none;
}

// extra small devices

.topCallout {
  position: fixed;
  top: 3.5rem;
  width: 100%;
  left: 0;
  height: 70px;
  border: 1px solid $defaultBorder;
  background-color: #fff;
  z-index: 200;
  padding-top: 0.85rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .topCallout {
    position: fixed;
    top: 3.5rem;
    width: 100%;
    left: 0;
    height: 70px;
    border: 1px solid $defaultBorder;
    background-color: #fff;
    z-index: 200;
    padding-top: 0.85rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .topCallout {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 70px;
    border: 1px solid $defaultBorder;
    background-color: #fff;
    z-index: 200;
    padding-top: 0.85rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .topCallout {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 70px;
    border: 1px solid $defaultBorder;
    background-color: #fff;
    z-index: 200;
    padding-top: 0.85rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .topCallout {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 70px;
    border: 1px solid $defaultBorder;
    background-color: #fff;
    z-index: 200;
    padding-top: 0.85rem;
  }
}
