<div class="row">
  <div class="col-12">
    <div class="media">
      <img src="" class="updateImage" />
      <div class="media-body">
        <h6 class="inverseLinkDark mb-0 bold montserrat">
          This is the update title
        </h6>
        <p class="small mb-2 text-muted">
          This is the update description this is the update description
          description this is the update description
        </p>
        <ul class="list-inline mb-1 small w-100">
          <li class="list-inline-item">
            <p class="small mb-0">
              <fa-icon [icon]="['fas', 'bullseye']" class="text-info"></fa-icon>
              Challenge
            </p>
          </li>
          <li class="list-inline-item">
            <p class="small mb-0">
              <fa-icon [icon]="['fas', 'eye']" class="text-muted"></fa-icon> All
              Participants
            </p>
          </li>
          <li class="list-inline-item float-right" style="margin-top: 0.2rem;">
            <p class="small mb-0">
              <fa-icon [icon]="['fas', 'clock']" class="text-muted"></fa-icon> 2
              Days Ago
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr class="mt-1 mb-3" />
<div class="row">
  <div class="col-12">
    <div class="media">
      <img src="" class="updateImage" />
      <div class="media-body">
        <h6 class="inverseLinkDark mb-2 bold montserrat">
          This is the update title
        </h6>
        <!-- <p class="small mb-2 text-muted">
          This is the update description this is the update description
          description this is the update description
        </p> -->
        <ul class="list-inline mb-1 small w-100">
          <li class="list-inline-item">
            <p class="small mb-0">
              <fa-icon [icon]="['fas', 'bullseye']" class="text-info"></fa-icon>
              Challenge
            </p>
          </li>
          <li class="list-inline-item">
            <p class="small mb-0">
              <fa-icon [icon]="['fas', 'eye']" class="text-muted"></fa-icon> All
              Participants
            </p>
          </li>
          <li class="list-inline-item float-right" style="margin-top: 0.2rem;">
            <p class="small mb-0">
              <fa-icon [icon]="['fas', 'clock']" class="text-muted"></fa-icon> 2
              Days Ago
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr class="mt-1 mb-3" />
<div class="row">
  <div class="col-12">
    <div class="media">
      <img src="" class="updateImage" />
      <div class="media-body">
        <h6 class="inverseLinkDark mb-0 bold montserrat">
          This is the update title
        </h6>
        <p class="small mb-2 text-muted">
          This is the update description this is the update description
          description this is the update description
        </p>
        <ul class="list-inline mb-1 small w-100">
          <li class="list-inline-item">
            <p class="small mb-0">
              <fa-icon [icon]="['fas', 'bullseye']" class="text-info"></fa-icon>
              Challenge
            </p>
          </li>
          <li class="list-inline-item">
            <p class="small mb-0">
              <fa-icon [icon]="['fas', 'eye']" class="text-muted"></fa-icon> All
              Participants
            </p>
          </li>
          <li class="list-inline-item float-right" style="margin-top: 0.2rem;">
            <p class="small mb-0">
              <fa-icon [icon]="['fas', 'clock']" class="text-muted"></fa-icon> 2
              Days Ago
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr class="mt-0 mb-3" />
