.scroll-box {
  height: 28vh;
  overflow-y: auto;
}
a.float-right.text-secondary.pointer {
  font-size: 16px;
  font-weight: bold;
  color: #00aa8a !important;
}
.txt-error {
  color: red;
  font-size: 13px;
  line-height: 17px;
}
