<div class="container pageTopPadding">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center mb-0">
            Invite Others to Test Out Your New Community
          </h4>
        </div>
        <div class="card-body pb-2">
          <form [formGroup]="communitySendInviteForm" (ngSubmit)="onSubmit()">
            <div class="scroll-box">
              <div class="form-group">
                <label>
                  Select Role
                </label>
                <select class="form-control" [formControl]="role">
                  <option *ngFor="let r of communityRoles" [value]="r.id">{{
                    r.title
                  }}</option>
                </select>
              </div>
              <div
                class="form-group"
                *ngFor="let email of emails.controls; let i = index"
              >
                <label *ngIf="!i">Enter Email Addresses</label>
                <input
                  type="text"
                  [formControl]="emails.controls[i]"
                  class="form-control form-control-lg"
                  placeholder="name@example.com"
                  #inviteEmail
                />
                <div [hidden]="emailErrors[i]" class="txt-error">
                  Not a valid Email address
                </div>
              </div>
            </div>
            <div class="form-group pb-2">
              <a
                class="float-right text-secondary pointer"
                (click)="addEmail()"
              >
                <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon> Add Another
              </a>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">
                Send Invites
              </button>
            </div>
            <div class="form-group text-center">
              Or, <a routerLink="/">Skip for now</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
