<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- <div class="row bg-dark text-muted workflowContainerPadding">
        <div class="col-12">
          <app-challenge-top [challenge]="challenge"></app-challenge-top>
        </div>
      </div> -->
      <div class="row">
        <div class="col-12">
          <div class="row mt-3">
            <div class="col-12">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mt-1">
                  <!-- <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <p class="text-medium">
                        <a routerLink="">
                          Challenges
                        </a>
                      </p>
                    </li>
                    <li class="list-inline-item">
                      <fa-icon
                        [icon]="['fas', 'angle-right']"
                        class="text-muted small"
                      ></fa-icon>
                    </li>
                    <li class="list-inline-item">
                      <p class="text-medium">
                        <a routerLink="">
                          Challenge title...
                        </a>
                      </p>
                    </li>
                    <li class="list-inline-item">
                      <fa-icon
                        [icon]="['fas', 'angle-right']"
                        class="text-muted small"
                      ></fa-icon>
                    </li>
                    <li class="list-inline-item">
                      <p class="text-medium text-muted">
                        Analytics
                      </p>
                    </li>
                  </ul> -->
                  <h4 class="mb-0 montserrat bold">Challenge Analytics</h4>
                </li>
                <li class="list-inline-item float-right">
                  <ul class="list-inline mb-0">
                    <!-- <li class="list-inline-item mr-3">
                      <span class="inverseLink text-medium">
                        <fa-icon [icon]="['fas', 'share-alt']"></fa-icon>
                        Share
                      </span>
                    </li>
                    <li class="list-inline-item mr-3">
                      <span class="inverseLink text-medium">
                        <fa-icon [icon]="['fas', 'file-pdf']"></fa-icon>
                        Export to PDF
                      </span>
                    </li> -->
                    <!-- <li class="list-inline-item" ngbTooltip="Coming Soon!">
                      <button class="btn btn-light border btn-sm disabled">
                        <fa-icon [icon]="['fas', 'file-spreadsheet']" class="text-muted"></fa-icon>
                        Export to XLS
                        <fa-icon [icon]="['fas', 'arrow-down']" class="text-muted small"></fa-icon>
                      </button>
                    </li> -->
                    <!-- <li class="list-inline-item">
                      <app-idea-filter-time></app-idea-filter-time>
                    </li> -->
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <hr class="my-2" />
          <div class="row mt-3 mb-3 d-none">
            <div class="col-3">
              <div class="card shadow-sm">
                <div class="card-body py-3">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <p class="mb-3 bold small text-muted uppercase">
                        Submissions
                      </p>
                    </li>
                    <li class="list-inline-item float-right adjustFloatUp">
                      <span class="text-primary bold">
                        <fa-icon [icon]="['fas', 'arrow-up']"></fa-icon>
                        13.5%
                      </span>
                    </li>
                  </ul>
                  <div class="row">
                    <div class="col-12">
                      <h4 class="montserrat mb-1">
                        3,250<span
                          class="text-muted adjustFloatUp"
                          style="font-size: 65%"
                        >
                          / 5,250</span
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card shadow-sm">
                <div class="card-body py-3">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <p class="mb-3 bold small text-muted uppercase">Ideas</p>
                    </li>
                    <li class="list-inline-item float-right adjustFloatUp">
                      <span class="text-danger bold">
                        <fa-icon [icon]="['fas', 'arrow-down']"></fa-icon>
                        13.5%
                      </span>
                    </li>
                  </ul>
                  <div class="row">
                    <div class="col-12">
                      <h4 class="montserrat mb-1">
                        3,250<span
                          class="text-muted adjustFloatUp"
                          style="font-size: 65%"
                        >
                          / 5,250</span
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card shadow-sm">
                <div class="card-body py-3">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <p class="mb-3 bold small text-muted uppercase">Ideas</p>
                    </li>
                    <li class="list-inline-item float-right adjustFloatUp">
                      <span class="text-danger bold">
                        <fa-icon [icon]="['fas', 'arrow-down']"></fa-icon>
                        13.5%
                      </span>
                    </li>
                  </ul>
                  <div class="row">
                    <div class="col-12">
                      <h4 class="montserrat mb-1">
                        3,250<span
                          class="text-muted adjustFloatUp"
                          style="font-size: 65%"
                        >
                          / 5,250</span
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card shadow-sm">
                <div class="card-body py-3">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <p class="mb-3 bold small text-muted uppercase">Ideas</p>
                    </li>
                    <li class="list-inline-item float-right adjustFloatUp">
                      <span class="text-danger bold">
                        <fa-icon [icon]="['fas', 'arrow-down']"></fa-icon>
                        13.5%
                      </span>
                    </li>
                  </ul>
                  <div class="row">
                    <div class="col-12">
                      <h4 class="montserrat mb-1">
                        3,250<span
                          class="text-muted adjustFloatUp"
                          style="font-size: 65%"
                        >
                          / 5,250</span
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3 mb-3">
            <div class="col-3 d-none">
              <div class="card shadow-sm mb-3">
                <div class="card-body py-3">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <p class="mb-3 bold small text-muted uppercase">Ideas</p>
                    </li>
                    <li class="list-inline-item float-right adjustFloatUp">
                      <span class="text-danger bold">
                        <fa-icon [icon]="['fas', 'arrow-down']"></fa-icon>
                        13.5%
                      </span>
                    </li>
                  </ul>
                  <div class="row">
                    <div class="col-12">
                      <h4 class="montserrat mb-1">
                        3,250<span
                          class="text-muted adjustFloatUp"
                          style="font-size: 65%"
                        >
                          / 5,250</span
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card shadow-sm mb-3">
                <div class="card-body py-3">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <p class="mb-3 bold small text-muted uppercase">Ideas</p>
                    </li>
                    <li class="list-inline-item float-right adjustFloatUp">
                      <span class="text-danger bold">
                        <fa-icon [icon]="['fas', 'arrow-down']"></fa-icon>
                        13.5%
                      </span>
                    </li>
                  </ul>
                  <div class="row">
                    <div class="col-12">
                      <h4 class="montserrat mb-1">
                        3,250<span
                          class="text-muted adjustFloatUp"
                          style="font-size: 65%"
                        >
                          / 5,250</span
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card shadow-sm mb-3">
                <div class="card-body py-3">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <p class="mb-3 bold small text-muted uppercase">Ideas</p>
                    </li>
                    <li class="list-inline-item float-right adjustFloatUp">
                      <span class="text-danger bold">
                        <fa-icon [icon]="['fas', 'arrow-down']"></fa-icon>
                        13.5%
                      </span>
                    </li>
                  </ul>
                  <div class="row">
                    <div class="col-12">
                      <h4 class="montserrat mb-1">
                        3,250<span
                          class="text-muted adjustFloatUp"
                          style="font-size: 65%"
                        >
                          / 5,250</span
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card shadow-sm mb-3">
                <div class="card-body py-3">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <p class="mb-3 bold small text-muted uppercase">Ideas</p>
                    </li>
                    <li class="list-inline-item float-right adjustFloatUp">
                      <span class="text-danger bold">
                        <fa-icon [icon]="['fas', 'arrow-down']"></fa-icon>
                        13.5%
                      </span>
                    </li>
                  </ul>
                  <div class="row">
                    <div class="col-12">
                      <h4 class="montserrat mb-1">
                        3,250<span
                          class="text-muted adjustFloatUp"
                          style="font-size: 65%"
                        >
                          / 5,250</span
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-8">
              <app-activity-summary
                [analytics]="challengeActivitySummary"
              ></app-activity-summary>
            </div>

            <div class="col-4">
              <app-engagement-analytics
                [analytics]="challengeActorEngagement"
              ></app-engagement-analytics>
              <!-- top ideas here! allow user to drill down and edit criteria in real time -->
            </div>
          </div>
          <!-- <div class="row mt-3 mb-3">
            <div class="col-8">
              <div class="card shadow-sm">
                <div class="card-body py-3">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <p class="mb-3 bold small text-muted uppercase">
                        Engagement
                      </p>
                    </li>
                    <li class="list-inline-item float-right adjustFloatUp">
                      <span class="text-primary bold">
                        <fa-icon [icon]="['fas', 'arrow-up']"></fa-icon>
                        13.5%
                      </span>
                    </li>
                  </ul>
                  <div class="row">
                    <div class="col-6">
                      <img src="https://i.imgur.com/b01rJzN.png" class="w-100">
                    </div>
                    <div class="col-6">
                      <div class="row">
                        <div class="col-12">
                          <div class="card shadow-sm">
                            <div class="card-body py-3">
                              <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                  <p class="mb-3 bold small text-muted uppercase">
                                    Users Targeted
                                  </p>
                                </li>
                              </ul>
                              <div class="row">
                                <div class="col-12">
                                  <h4 class="montserrat mb-1">
                                    3,250
                                  </h4>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card shadow-sm mb-3">
                <div class="card-header pb-2 pt-2">
                  <p class="uppercase bold text-muted mb-0 small">Ideas by Status</p>
                </div>
                <div class="card-body p-0">
                  <img
                    src="https://cdn2.hubspot.net/hubfs/2313941/Ideawake%203.0%20Screenshots/Ideas%20by%20Status%20for%20Home%20%20Userprofile%20%20Group.png"
                    class="w-100" />
                </div>
              </div>
            </div>
          </div> -->
          <div class="row mt-3 mb-3">
            <div class="col-12">
              <div class="card-deck">
                <!-- Top Group -->
                <div class="card shadow-sm">
                  <app-top-engaged-group
                    [height]="'423px'"
                    [type]="topUserType.CHALLENGE"
                    [challengeId]="challengeId"
                  ></app-top-engaged-group>
                </div>
                <!-- Top Group End -->
                <div class="card shadow-sm">
                  <div class="card-header bg-white border-bottom-0 px-3">
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item">
                        <p
                          class="mb-3 bold small text-muted uppercase montserrat"
                        >
                          Top Engaged Locations
                        </p>
                      </li>
                      <li class="list-inline-item float-right adjustFloatUp">
                        <app-widget-manage></app-widget-manage>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body px-0 pt-3 pb-0">
                    <div class="row">
                      <div class="col-12">
                        <app-geolocation-map
                          [analytics]="challengeLocationBasedPoints"
                        ></app-geolocation-map>
                      </div>
                    </div>
                    <app-geolocation-datatable
                      [analytics]="challengeLocationBasedPoints"
                    ></app-geolocation-datatable>
                  </div>
                  <div class="card-footer bg-white border-top-0">
                    <a
                      class="btn btn-outline-primary btn-sm shadow-sm btn-block"
                      routerLink="/community/analytics"
                    >
                      View All Locations
                      <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                    </a>
                  </div>
                </div>
                <div class="card shadow-sm">
                  <app-top-engaged-user
                    [height]="'423px'"
                    [challengeId]="challengeId"
                    [type]="topUserType.CHALLENGE"
                  ></app-top-engaged-user>
                </div>
              </div>
              <!-- end deck -->
            </div>
          </div>
          <!-- <div class="row mt-3 mb-3">
            <div class="col-12">
              <div class="card shadow-sm">
                <div class="card-body py-3">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <p class="mb-3 bold small text-muted uppercase montserrat">
                        Evaluate Submissions
                      </p>
                    </li>
                    <li class="list-inline-item float-right adjustFloatUp">
                      <app-widget-manage></app-widget-manage>
                    </li>
                  </ul>
                  <div class="row">
                    <div class="col-8">
                      <div class="row">
                        <div class="col-12">
                          <div class="card-group shadow-sm bg-light mb-3">
                            <div class="card bg-light">
                              <div class="card-body text-center p-1">
                                <h4 class="montserrat mb-1 mt-2">15</h4>
                                <p class="small text-muted mb-0">Outcomes</p>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-body text-center p-1">
                                <h4 class="montserrat mb-1 mt-2">$1,250</h4>
                                <p class="small text-muted mb-0">Dollar Value</p>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-body text-center p-1">
                                <h4 class="montserrat mb-1 mt-2">1,500</h4>
                                <p class="small text-muted mb-0">Hours Saved</p>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-body text-center p-1">
                                <h4 class="montserrat mb-1 mt-2">$1,250</h4>
                                <p class="small text-muted mb-0">Cost Savings</p>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-body text-center p-1">
                                <h4 class="montserrat mb-1 mt-2">$11,100</h4>
                                <p class="small text-muted mb-0">Revenue Growth</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <table class="table small">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Outcomes Recorded</th>
                            <th scope="col">Dollar Value</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Wisconsin</td>
                            <td>Otto</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-4">
                      <div class="card shadow-sm mb-3">
                        <div class="card-header bg-white border-bottom-0 pb-2 pt-2">
                          <p class="uppercase bold text-muted mb-0 small">Ideas by Status</p>
                        </div>
                        <div class="card-body p-0">
                          <img
                            src="https://cdn2.hubspot.net/hubfs/2313941/Ideawake%203.0%20Screenshots/Ideas%20by%20Status%20for%20Home%20%20Userprofile%20%20Group.png"
                            class="w-100" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row mt-3 mb-3 d-none">
            <div class="col-12">
              <div class="card shadow-sm">
                <div class="card-body py-3">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <p
                        class="mb-3 bold small text-muted uppercase montserrat"
                      >
                        Impact and Outcomes
                      </p>
                    </li>
                    <li class="list-inline-item float-right adjustFloatUp">
                      <app-widget-manage></app-widget-manage>
                    </li>
                  </ul>
                  <div class="row">
                    <div class="col-6">
                      <div class="row">
                        <div class="col-12">
                          <div class="card-group shadow-sm bg-light mb-3">
                            <div class="card">
                              <div class="card-body text-center p-1">
                                <h4 class="montserrat mb-1 mt-2">15</h4>
                                <p class="small text-muted mb-0">Outcomes</p>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-body text-center p-1">
                                <h4 class="montserrat mb-1 mt-2">$1,250</h4>
                                <p class="small text-muted mb-0">
                                  Dollar Value
                                </p>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-body text-center p-1">
                                <h4 class="montserrat mb-1 mt-2">1,500</h4>
                                <p class="small text-muted mb-0">Hours Saved</p>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-body text-center p-1">
                                <h4 class="montserrat mb-1 mt-2">$1,250</h4>
                                <p class="small text-muted mb-0">
                                  Cost Savings
                                </p>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-body text-center p-1">
                                <h4 class="montserrat mb-1 mt-2">$11,100</h4>
                                <p class="small text-muted mb-0">
                                  Revenue Growth
                                </p>
                              </div>
                            </div>
                          </div>
                          <!-- end card group -->
                        </div>
                      </div>
                      <table class="table small">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Outcomes Recorded</th>
                            <th scope="col">Dollar Value</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">122</th>
                            <td>Opportunity Title</td>
                            <td>10</td>
                            <td>$1,500</td>
                          </tr>
                          <tr>
                            <th scope="row">122</th>
                            <td>Opportunity Title</td>
                            <td>10</td>
                            <td>$1,500</td>
                          </tr>
                          <tr>
                            <th scope="row">122</th>
                            <td>Opportunity Title</td>
                            <td>10</td>
                            <td>$1,500</td>
                          </tr>
                          <tr>
                            <th scope="row">122</th>
                            <td>Opportunity Title</td>
                            <td>10</td>
                            <td>$1,500</td>
                          </tr>
                        </tbody>
                      </table>
                      <button
                        class="btn btn-outline-primary btn-sm shadow-sm btn-block"
                      >
                        View All Outcomes
                        <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                      </button>
                    </div>
                    <div class="col-6">
                      <img
                        src="https://i.imgur.com/JLGOT5d.png"
                        class="w-100"
                      />
                      <img
                        src="https://i.imgur.com/GblO27m.png"
                        class="w-100"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
