<ul class="list-inline mb-0">
  <li class="list-inline-item">
    <div class="media">
      <img
        [defaultImage]="defaultImage"
        [lazyLoad]="'https://via.placeholder.com/30x30'"
        class="mr-2 rounded-circle"
      />
      <div class="media-body">
        <p class="mb-0 text-medium bold" style="line-height: 1rem;">
          First Last Name
        </p>
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-0">
            <p class="small mb-0 text-muted">User</p>
          </li>
          <li class="list-inline-item ml-1 mr-1">
            <fa-icon
              [icon]="['fas', 'circle']"
              class="small separatorIcon text-muted"
            ></fa-icon>
          </li>
          <li class="list-inline-item mr-0">
            <p class="small mb-0 text-muted">Administrator</p>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li class="list-inline-item">
    <div class="media">
      <img
        [defaultImage]="defaultImage"
        [lazyLoad]="'https://via.placeholder.com/30x30'"
        class="mr-2 rounded-circle"
      />
      <div class="media-body">
        <p class="mb-0 text-medium bold" style="line-height: 1rem;">
          Group Name
        </p>
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-0">
            <p class="small mb-0 text-muted">Group</p>
          </li>
          <li class="list-inline-item ml-1 mr-1">
            <fa-icon
              [icon]="['fas', 'circle']"
              class="small separatorIcon text-muted"
            ></fa-icon>
          </li>
          <li class="list-inline-item mr-0">
            <p class="small mb-0 text-muted">100 Members</p>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li class="list-inline-item">
    <div class="media">
      <img
        [defaultImage]="defaultImage"
        [lazyLoad]="'https://via.placeholder.com/30x30'"
        class="mr-2 rounded-circle"
      />
      <div class="media-body">
        <p class="mb-0 text-medium bold" style="line-height: 1rem;">
          Role Name
        </p>
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-0">
            <p class="small mb-0 text-muted">Role</p>
          </li>
          <li class="list-inline-item ml-1 mr-1">
            <fa-icon
              [icon]="['fas', 'circle']"
              class="small separatorIcon text-muted"
            ></fa-icon>
          </li>
          <li class="list-inline-item mr-0">
            <p class="small mb-0 text-muted">100 Members</p>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
