<div class="row d-flex pageTopPadding" style="height: 100vh;">
  <div class="col-12 col-md-8 offset-md-2">
    <div class="my-auto align-middle text-center">
      <fa-icon
        [icon]="['fas', 'desktop']"
        class="text-muted iconExtraLarge mb-3"
      ></fa-icon>
      <h2>It Looks Like You're on a Shared Computer...</h2>
      <p class="lead">
        Please log out of the shared computer and login with your company
        account so that you can earn points and track the ideas you submit,
        comments you make, and votes you place.
      </p>

      <a class="btn btn-primary btn-lg" routerLink="/auth/login">
        Login with My Account
      </a>
    </div>
  </div>
</div>
