.completed {
  text-decoration: line-through;
}

.notCompleted {
  text-decoration: none;
}

.featureImageBackground {
  background-image: url('https://ideawake-test.s3.amazonaws.com/attachments/opportunity/1590357873424background2.png');
}
