<!-- start of view once user has completed a review -->
<div class="card">
  <div class="card-body">
    <!-- start of one -->
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-8">
            <h5 class="mb-3">Criteria Title</h5>
            <ul class="list-inline mb-0 mt-2">
              <li class="list-inline-item">
                <p class="text-primary uppercase small bold">
                  <fa-icon
                    [icon]="['fas', 'info-circle']"
                    class="text-muted"
                  ></fa-icon>
                  1 Response
                </p>
              </li>
              <li class="list-inline-item">
                <p class="text-primary uppercase small bold">
                  <fa-icon
                    [icon]="['fas', 'comment']"
                    class="text-muted"
                  ></fa-icon>
                  0 Comments
                </p>
              </li>
            </ul>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-12">
                <ul class="list-inline mb-0">
                  <li
                    class="list-inline-item"
                    placement="top"
                    ngbTooltip="Custom Label"
                  >
                    <!-- <fa-icon
                      [icon]="icon"
                      (mouseenter)="onMouseEnter()"
                      (mouseleave)="onMouseLeave()"
                      class="reviewIconComplete text-secondary pointer"
                    ></fa-icon> -->
                  </li>
                  <li
                    class="list-inline-item"
                    placement="top"
                    ngbTooltip="Custom Label"
                  >
                    <!-- <fa-icon
                      [icon]="icon"
                      (mouseenter)="onMouseEnter()"
                      (mouseleave)="onMouseLeave()"
                      class="reviewIconComplete text-secondary pointer"
                    ></fa-icon> -->
                  </li>
                  <li
                    class="list-inline-item"
                    placement="top"
                    ngbTooltip="Custom Label"
                  >
                    <!-- <fa-icon
                      [icon]="icon"
                      (mouseenter)="onMouseEnter()"
                      (mouseleave)="onMouseLeave()"
                      class="reviewIconComplete text-secondary pointer"
                    ></fa-icon> -->
                  </li>
                  <li
                    class="list-inline-item"
                    placement="top"
                    ngbTooltip="Custom Label"
                  >
                    <!-- <fa-icon
                      [icon]="icon"
                      (mouseenter)="onMouseEnter()"
                      (mouseleave)="onMouseLeave()"
                      class="reviewIconComplete text-secondary pointer"
                    ></fa-icon> -->
                  </li>
                  <li
                    class="list-inline-item"
                    placement="top"
                    ngbTooltip="Custom Label"
                  >
                    <!-- <fa-icon
                      [icon]="icon"
                      (mouseenter)="onMouseEnter()"
                      (mouseleave)="onMouseLeave()"
                      class="reviewIconComplete text-secondary pointer"
                    ></fa-icon> -->
                  </li>
                </ul>
                <p class="text-center mb-0 mt-1 text-medium">3 Average Score</p>
              </div>
            </div>
          </div>
        </div>
        <!-- start of show comments and individual responses -->
        <div class="row">
          <div class="col-12">
            showing specific comments section
          </div>
        </div>
        <!-- end of show comments and individual responses -->
      </div>
    </div>
    <!-- end of one -->
    <hr />
  </div>
</div>
