<app-profile-top-container></app-profile-top-container>
<div class="row pt-4 mb-4">
  <div class="container">
    <div class="col-12">
      <div class="row">
        <div class="col-4">
          <h4>Content I'm Following (25)</h4>
        </div>
        <div class="col-8">
          <ul class="nav nav-pills nav-fill mb-0">
            <li class="nav-item mr-2">
              <a
                class="nav-link active small filterItemActive flex-fill"
                href="#"
              >
                All Following (10)
              </a>
            </li>
            <li class="nav-item mr-2">
              <a class="nav-link small filterItem" href="#">
                Challenges (15)
              </a>
            </li>
            <li class="nav-item mr-2">
              <a class="nav-link small filterItem" href="#">
                Opportunities (15)
              </a>
            </li>
            <li class="nav-item mr-2">
              <a class="nav-link small filterItem" href="#">
                Insights (5)
              </a>
            </li>
            <li class="nav-item mr-2">
              <a class="nav-link small filterItem" href="#">
                Users (5)
              </a>
            </li>
            <li class="nav-item mr-2">
              <a class="nav-link small filterItem" href="#">
                Tags (5)
              </a>
            </li>
          </ul>
        </div>
      </div>
      <hr class="mt-2" />
      <div class="card-deck">
        <!-- start of one -->
        <div
          class="card cardAnimation pointer"
          routerLink="/idea-page-container"
        >
          <div class="card-header p-0">
            <img
              class="w-100 cardTopImage"
              src="https://prediction-market.s3.amazonaws.com/Staging%20test/5d55b6d95b9718001d49e718/challengePage/ideawake-healthcare-innovation-bottom-image.png"
            />
          </div>
          <div class="card-body pl-3 pr-3">
            <h6 class="text-center">The Uber for "X"</h6>
            <ul class="list-inline text-center">
              <li class="list-inline-item mr-0">
                <p class="mb-0 text-muted small">Insight</p>
              </li>
              <li class="list-inline-item ml-2 mr-2">
                <fa-icon
                  [icon]="['fas', 'circle']"
                  class="small separatorIcon text-muted"
                ></fa-icon>
              </li>
              <li class="list-inline-item mr-0">
                <p class="mb-0 text-muted small">Emerging Technology</p>
              </li>
            </ul>
            <span class="tagLink small mr-2">
              #aginginplace
            </span>
            <span class="tagLink small mr-2">
              #testing
            </span>
            <span class="tagLink small mr-2">
              #tag
            </span>
            <span class="tagLink small mr-2">+4</span>
          </div>
          <div class="card-footer pl-2 pr-2">
            <div class="row">
              <div class="col-12">
                <button class="btn btn-outline-primary btn-sm btn-block">
                  <fa-icon [icon]="['fas', 'check']" class="ml-1"></fa-icon>
                  Following
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of one -->
        <!-- start of one -->
        <div class="card cardAnimation pointer" routerLink="/profile-container">
          <div class="card-header pt-2 text-center cardProfileTop">
            <img
              src="https://media.licdn.com/dms/image/C4D03AQGT4h8usocyiw/profile-displayphoto-shrink_200_200/0?e=1579132800&v=beta&t=QcSE0CAvN-wayyq_udaMPemlkXGTyXIsChQr9PM-NBY"
              class="rounded-circle featuredProfileImage"
            />
          </div>
          <div class="card-body pl-3 pr-3">
            <h6 class="text-center increaseLineHeight">Mike McGowan</h6>
            <ul class="list-inline text-center">
              <li class="list-inline-item mr-0">
                <p class="mb-0 text-muted small">User</p>
              </li>
              <li class="list-inline-item ml-2 mr-2">
                <fa-icon
                  [icon]="['fas', 'circle']"
                  class="small separatorIcon text-muted"
                ></fa-icon>
              </li>
              <li class="list-inline-item mr-0">
                <p class="mb-0 text-muted small">Moderator</p>
              </li>
            </ul>
            insert skill tags
          </div>
          <div class="card-footer pl-2 pr-2">
            <div class="row">
              <div class="col-12">
                <button class="btn btn-outline-primary btn-sm btn-block">
                  <fa-icon [icon]="['fas', 'check']" class="ml-1"></fa-icon>
                  Following
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of one -->
        <!-- start of one -->
        <div
          class="card cardAnimation pointer"
          routerLink="/idea-page-container"
        >
          <div class="card-header p-0">
            <img
              class="w-100 cardTopImage"
              src="https://prediction-market.s3.amazonaws.com/Staging%20test/5d55b6d95b9718001d49e718/challenges/examonetwo.png"
            />
          </div>
          <div class="card-body pl-3 pr-3">
            <h6 class="text-center increaseLineHeight">
              Leverage VR to Engage Clients Remotely
            </h6>
            <ul class="list-inline text-center">
              <li class="list-inline-item mr-0">
                <p class="mb-0 text-muted small">Opportunity</p>
              </li>
              <li class="list-inline-item ml-2 mr-2">
                <fa-icon
                  [icon]="['fas', 'circle']"
                  class="small separatorIcon text-muted"
                ></fa-icon>
              </li>
              <li class="list-inline-item mr-0">
                <p class="mb-0 text-muted small">Pilot</p>
              </li>
            </ul>
            insert tags
          </div>
          <div class="card-footer pl-2 pr-2">
            <div class="row">
              <div class="col-12">
                <button class="btn btn-outline-primary btn-sm btn-block">
                  <fa-icon [icon]="['fas', 'check']" class="ml-1"></fa-icon>
                  Following
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of one -->
        <!-- start of one -->
        <div
          class="card cardAnimation pointer"
          routerLink="/idea-page-container"
        >
          <div class="card-header p-0">
            <img
              class="w-100 cardTopImage"
              src="https://drive.google.com/uc?export=view&id=1D5-OySRN_sMN-VvU0QTVnyx6yQ7ZGPym"
            />
          </div>
          <div class="card-body d-flex flex-column pl-3 pr-3">
            <h6 class="text-center increaseLineHeight">#aginginplace</h6>
            <ul class="list-inline text-center">
              <li class="list-inline-item mr-0">
                <p class="mb-0 text-muted small">Tag</p>
              </li>
            </ul>
          </div>
          <div class="card-footer pl-2 pr-2">
            <div class="row">
              <div class="col-12">
                <button class="btn btn-outline-primary btn-sm btn-block">
                  <fa-icon [icon]="['fas', 'check']" class="ml-1"></fa-icon>
                  Following
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of one -->
      </div>
      <!-- end of card deck -->
    </div>
  </div>
</div>
