<!-- <div class="row">
  <div class="col-4">
    <div class="card addHover pointer shadow-sm cardAnimation" routerLink="challenges/post"
      (click)="modal.dismiss('Cross click')" ngbTooltip="Click to Select This Template">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-12">
            <img class="w-100 rounded-top templateImage"
              src="https://prediction-market.s3.amazonaws.com/Staging%20test/5d55b6d95b9718001d49e718/challenges/ideawakehcone.png" />
          </div>
        </div>
        <div class="p-3">
          <div class="row">
            <div class="col-12">
              <p class="small mb-0 uppercase text-muted">
                Tagone, tagtwo, tagthree
              </p>
              <label class="font-weight-normal text-medium challengeTitle mb-3 mt-1">
                How might we reduce patient anxiety before, during, and
                after care takes place?
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card addHover pointer shadow-sm cardAnimation" routerLink="challenges/post"
      (click)="modal.dismiss('Cross click')" ngbTooltip="Click to Select This Template">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-12">
            <img class="w-100 rounded-top templateImage"
              src="https://prediction-market.s3.amazonaws.com/Staging%20test/5d55b6d95b9718001d49e718/challenges/ideawakehcone.png" />
          </div>
        </div>
        <div class="p-3">
          <div class="row">
            <div class="col-12">
              <p class="small mb-0 uppercase text-muted">
                Tagone, tagtwo, tagthree
              </p>
              <label class="font-weight-normal text-medium challengeTitle mb-3 mt-1">
                How might we reduce patient anxiety before, during, and
                after care takes place?
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card addHover pointer shadow-sm cardAnimation" routerLink="challenges/post"
      (click)="modal.dismiss('Cross click')" ngbTooltip="Click to Select This Template">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-12">
            <img class="w-100 rounded-top templateImage"
              src="https://prediction-market.s3.amazonaws.com/Staging%20test/5d55b6d95b9718001d49e718/challenges/ideawakehcone.png" />
          </div>
        </div>
        <div class="p-3">
          <div class="row">
            <div class="col-12">
              <p class="small mb-0 uppercase text-muted">
                Tagone, tagtwo, tagthree
              </p>
              <label class="font-weight-normal text-medium challengeTitle mb-3 mt-1">
                How might we reduce patient anxiety before, during, and
                after care takes place?
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<ul class="list-inline mb-0">
  <li class="list-inline-item">
    <p class="uppercase bold text-muted mb-0">Insight Widget Title</p>
  </li>
  <li class="list-inline-item float-right">
    <a routerLink="/idea/cards">
      <p class="bold inverseLink mb-0">View All</p>
    </a>
  </li>
</ul>
<hr class="mt-2 mb-3" />
<div class="row">
  <div class="col-3 mb-2">
    <div class="card pointer shadow-sm cardAnimation">
      <div class="card-body p-0 text-center">
        <fa-icon
          [icon]="['fas', 'atom']"
          class="text-secondary iconExtraLarge"
        ></fa-icon>
      </div>
    </div>
    <p class="bold montserrat mb-3 mt-2 text-center">
      Insight Category
    </p>
  </div>
  <div class="col-3 mb-2">
    <div class="card pointer shadow-sm cardAnimation">
      <div class="card-body p-0 text-center">
        <fa-icon
          [icon]="['fas', 'atom']"
          class="text-secondary iconExtraLarge"
        ></fa-icon>
      </div>
    </div>
    <p class="bold montserrat mb-3 mt-2 text-center">
      Insight Category
    </p>
  </div>
  <div class="col-3 mb-2">
    <div class="card pointer shadow-sm cardAnimation">
      <div class="card-body p-0 text-center">
        <fa-icon
          [icon]="['fas', 'atom']"
          class="text-secondary iconExtraLarge"
        ></fa-icon>
      </div>
    </div>
    <p class="bold montserrat mb-3 mt-2 text-center">
      Insight Category
    </p>
  </div>
  <div class="col-3 mb-2">
    <div class="card pointer shadow-sm cardAnimation">
      <div class="card-body p-0 text-center">
        <fa-icon
          [icon]="['fas', 'atom']"
          class="text-secondary iconExtraLarge"
        ></fa-icon>
      </div>
    </div>
    <p class="bold montserrat mb-3 mt-2 text-center">
      Insight Category
    </p>
  </div>
  <div class="col-3 mb-2">
    <div class="card pointer shadow-sm cardAnimation">
      <div class="card-body p-0 text-center">
        <fa-icon
          [icon]="['fas', 'atom']"
          class="text-secondary iconExtraLarge"
        ></fa-icon>
      </div>
    </div>
    <p class="bold montserrat mb-3 mt-2 text-center">
      Insight Category
    </p>
  </div>
  <div class="col-3 mb-2">
    <div class="card pointer shadow-sm cardAnimation">
      <div class="card-body p-0 text-center">
        <fa-icon
          [icon]="['fas', 'atom']"
          class="text-secondary iconExtraLarge"
        ></fa-icon>
      </div>
    </div>
    <p class="bold montserrat mb-3 mt-2 text-center">
      Insight Category
    </p>
  </div>
  <div class="col-3 mb-2">
    <div class="card pointer shadow-sm cardAnimation">
      <div class="card-body p-0 text-center">
        <fa-icon
          [icon]="['fas', 'atom']"
          class="text-secondary iconExtraLarge"
        ></fa-icon>
      </div>
    </div>
    <p class="bold montserrat mb-3 mt-2 text-center">
      Insight Category
    </p>
  </div>
  <div class="col-3 mb-2">
    <div class="card pointer shadow-sm cardAnimation">
      <div class="card-body p-0 text-center">
        <fa-icon
          [icon]="['fas', 'atom']"
          class="text-secondary iconExtraLarge"
        ></fa-icon>
      </div>
    </div>
    <p class="bold montserrat mb-3 mt-2 text-center">
      Insight Category
    </p>
  </div>
</div>

<ul class="list-inline mb-0">
  <li class="list-inline-item">
    <p class="uppercase bold text-muted mb-0">Opportunity Widget Title</p>
  </li>
  <li class="list-inline-item float-right">
    <a routerLink="/idea/cards">
      <p class="bold inverseLink mb-0">View All</p>
    </a>
  </li>
</ul>
<hr class="mt-2 mb-3" />
<div class="row">
  <div class="col-3 mb-2">
    <div class="card pointer shadow-sm cardAnimation">
      <div class="card-body p-0 text-center">
        <fa-icon
          [icon]="['fas', 'lightbulb']"
          class="text-primary iconExtraLarge"
        ></fa-icon>
      </div>
    </div>
    <p class="bold montserrat mb-3 mt-2 text-center">
      Insight Category
    </p>
  </div>
  <div class="col-3 mb-2">
    <div class="card pointer shadow-sm cardAnimation">
      <div class="card-body p-0 text-center">
        <fa-icon
          [icon]="['fas', 'lightbulb']"
          class="text-secondary iconExtraLarge"
        ></fa-icon>
      </div>
    </div>
    <p class="bold montserrat mb-3 mt-2 text-center">
      Opp Category
    </p>
  </div>
  <div class="col-3 mb-2">
    <div class="card pointer shadow-sm cardAnimation">
      <div class="card-body p-0 text-center">
        <fa-icon
          [icon]="['fas', 'atom']"
          class="text-secondary iconExtraLarge"
        ></fa-icon>
      </div>
    </div>
    <p class="bold montserrat mb-3 mt-2 text-center">
      Opp Category
    </p>
  </div>
  <div class="col-3 mb-2">
    <div class="card pointer shadow-sm cardAnimation">
      <div class="card-body p-0 text-center">
        <fa-icon
          [icon]="['fas', 'rocket']"
          class="text-tertiary iconExtraLarge"
        ></fa-icon>
      </div>
    </div>
    <p class="bold montserrat mb-3 mt-2 text-center">
      Opp Category
    </p>
  </div>
  <div class="col-3 mb-2">
    <div class="card pointer shadow-sm cardAnimation">
      <div class="card-body p-0 text-center">
        <fa-icon
          [icon]="['fas', 'atom']"
          class="text-secondary iconExtraLarge"
        ></fa-icon>
      </div>
    </div>
    <p class="bold montserrat mb-3 mt-2 text-center">
      Opp Category
    </p>
  </div>
  <div class="col-3 mb-2">
    <div class="card pointer shadow-sm cardAnimation">
      <div class="card-body p-0 text-center">
        <fa-icon
          [icon]="['fas', 'atom']"
          class="text-secondary iconExtraLarge"
        ></fa-icon>
      </div>
    </div>
    <p class="bold montserrat mb-3 mt-2 text-center">
      Opp Category
    </p>
  </div>
  <div class="col-3 mb-2">
    <div class="card pointer shadow-sm cardAnimation">
      <div class="card-body p-0 text-center">
        <fa-icon
          [icon]="['fas', 'atom']"
          class="text-secondary iconExtraLarge"
        ></fa-icon>
      </div>
    </div>
    <p class="bold montserrat mb-3 mt-2 text-center">
      Opp Category
    </p>
  </div>
  <div class="col-3 mb-2">
    <div class="card pointer shadow-sm cardAnimation">
      <div class="card-body p-0 text-center">
        <fa-icon
          [icon]="['fas', 'atom']"
          class="text-secondary iconExtraLarge"
        ></fa-icon>
      </div>
    </div>
    <p class="bold montserrat mb-3 mt-2 text-center">
      Opp Category
    </p>
  </div>
</div>
