@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~src/variables';
@import '~src/variables-custom';

.selectStakeholder {
  background-color: $white;
  color: $gray-900;
}

.selectStakeholder:hover {
  background-color: $primary;
  color: $white;
}

.selectStakeholder.active {
  background-color: $primary;
  color: $white;
}

.selectStakeholder .icon {
  color: $gray-600;
}

.selectStakeholder:hover .icon {
  color: $white !important;
}

.selectStakeholder.active .icon {
  color: $white;
}
