<div class="row">
  <div class="col-12 col-md-8">
    <div class="card shadow-sm mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-12 col-md-8">
            <p class="uppercase bold mb-0">
              Stage Specific Settings - Refine
            </p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <!-- <div class="alert alert-info shadow-sm text-medium mb-4">
          <div class="media">
            <fa-icon
              [icon]="['fas', 'info-circle']"
              class="iconLarge mr-3"
            ></fa-icon>
            <div class="media-body">
              Add additional information for stakeholders to complete around an
              opportunity when it enters into this phase.
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-12 flex-column">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <label class="bold montserrat pt-1 mb-0 align-baseline">
                  Select Fields You'd Like to Collect
                </label>
              </li>
              <li class="list-inline-item float-right adjustFloatUp">
                <app-custom-field-create
                  (updated)="newFieldCreated($event)"
                ></app-custom-field-create>
              </li>
            </ul>
          </div>
        </div>
        <app-custom-field-submission-form
          [refreshList]="updateList"
          [heading]="null"
          [description]="null"
          (selectedFields)="mapOpportunityTypeFields($event)"
          [selectedCustomFields]="selectedCustomFields"
        >
        </app-custom-field-submission-form>
      </div>
    </div>
  </div>
  <div class="col-4 d-none d-sm-block">
    <!-- <div class="alert alert-info shadow-sm">
      <div class="row">
        <div class="col-12">
          <p class="mb-0 bold">Stage Info</p>
          <hr class="mt-2 mb-3">
          Show high level / summary information about the stage
          here...
        </div>
      </div>
    </div> -->
  </div>
</div>
