<div class="container">
  <div class="row">
    <!-- <div class="col-3">
      testing
    </div> -->
    <div class="col-12">
      <div class="row pt-4">
        <div class="col-12">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <p class="uppercase montserrat text-muted bold mb-1">
                    Activity -
                  </p>
                </li>
                <li class="list-inline-item" ngbDropdown>
                  <p
                    class="uppercase montserrat bold inverseLink mb-1 removeCaret"
                    ngbDropdownToggle
                  >
                    Filter By {{ selectedFilter.name }}
                    <fa-icon
                      [icon]="['fas', 'caret-down']"
                      class="text-muted"
                    ></fa-icon>
                  </p>
                  <div ngbDropdownMenu class="shadow pt-0">
                    <button
                      *ngFor="let activity of activityTypes"
                      (click)="filterActivity(activity)"
                      class="btn-sm pl-2"
                      ngbDropdownItem
                    >
                      {{ activity.name }} ({{
                        counts[activity.abbreviation] || 0
                      }})
                    </button>
                  </div>
                </li>
              </ul>
            </li>
            <li class="list-inline-item float-right">
              <ul class="list-inline">
                <li class="list-inline-item float-right pointer" ngbDropdown>
                  <a
                    class="small montserrat inverseLink mb-1"
                    id="commentSort"
                    ngbDropdownToggle
                  >
                    Sort By - {{ sorting[selectedSort] }}
                  </a>
                  <div ngbDropdownMenu class="shadow">
                    <button
                      *ngFor="let key of objectKeys(sorting)"
                      class="btn-sm"
                      (click)="sort(key)"
                      ngbDropdownItem
                    >
                      {{ sorting[key] }}
                    </button>
                  </div>
                </li>
              </ul>
            </li>
          </ul>

          <div class="card">
            <div class="card-body p-3">
              <ng-container *ngFor="let activity of activities">
                <div class="pt-3 pb-3 px-3">
                  <div class="media">
                    <div
                      class="activityIcon rounded-circle bg-primary mr-3 mt-1"
                    >
                      <fa-icon
                        [icon]="[
                          'fas',
                          icons[activity.actionType?.abbreviation]
                        ]"
                        class="text-white align-middle text-center"
                      >
                      </fa-icon>
                    </div>
                    <div class="media-body">
                      <div class="row">
                        <div class="col-12">
                          <p
                            *ngIf="
                              activity?.aggregatedCount &&
                                activity?.aggregatedCount > 1;
                              else elseBlock
                            "
                            class="text-medium mb-2"
                          >
                            <span
                              *ngFor="
                                let user of activity?.aggregatedData;
                                let i = index
                              "
                            >
                              <a
                                routerLink="/profile/view/{{ user.userId }}"
                                class="inverseLinkDark"
                                >{{
                                  isThisMe(user.userId) ? 'You' : user.userName
                                }}</a
                              >
                              <span
                                *ngIf="i < activity?.aggregatedData.length - 2"
                                >,&nbsp;</span
                              >
                              <span
                                *ngIf="
                                  i == activity?.aggregatedData.length - 2 &&
                                  activity?.aggregatedData.length ==
                                    activity?.aggregatedCount
                                "
                                >&nbsp;and&nbsp;</span
                              >
                            </span>
                            <span
                              *ngIf="
                                activity?.aggregatedCount >
                                activity?.aggregatedData.length
                              "
                            >
                              and
                              {{
                                activity?.aggregatedCount -
                                  activity?.aggregatedData.length
                              }}
                              others
                            </span>
                            <span
                              *ngIf="
                                activity.actionType?.abbreviation ==
                                  actionTypes.comment;
                                else elseTitle
                              "
                            >
                              posted comment on this idea
                              <div>
                                <button
                                  class="btn btn-primary btn-sm"
                                  (click)="switchTabToSummary()"
                                >
                                  Reply
                                </button>
                              </div>
                            </span>
                            <ng-template #elseTitle>{{
                              pastWord[activity.actionType?.abbreviation]
                            }}</ng-template>
                          </p>
                          <ng-template #elseBlock>
                            <p class="text-medium mb-2">
                              <a
                                routerLink="/profile/view/{{
                                  activity.actorUserId
                                }}"
                                class="inverseLinkDark"
                                >{{
                                  isThisMe(activity.actorUserId)
                                    ? 'You'
                                    : activity.actorUserName
                                }}</a
                              >
                              {{
                                isThisMe(activity.actorUserId) ? 'have' : ' has'
                              }}
                              <span
                                *ngIf="
                                  activity.actionType?.abbreviation ==
                                  actionTypes.follow
                                "
                              >
                                followed this idea
                              </span>
                              <span
                                *ngIf="
                                  activity.actionType?.abbreviation ==
                                  actionTypes.upvote
                                "
                              >
                                upvoted this idea
                              </span>
                              <span
                                *ngIf="
                                  activity.actionType?.abbreviation ==
                                  actionTypes.edit
                                "
                              >
                                edited this idea
                              </span>
                              <span
                                *ngIf="
                                  activity.actionType?.abbreviation ==
                                  actionTypes.comment
                                "
                              >
                                posted a comment on this idea
                                <div class="card mb-2 bg-light">
                                  <div class="card-body p-2">
                                    <p class="text-medium mb-1 text-muted">
                                      {{ activity.entityTitle }}
                                    </p>
                                    <span
                                      class="badge badge-primary badgePadding pointer"
                                      (click)="switchTabToSummary()"
                                      >Reply to Comment</span
                                    >
                                  </div>
                                </div>
                              </span>
                              <span
                                *ngIf="
                                  activity.actionType?.abbreviation ==
                                  actionTypes.post
                                "
                              >
                                posted this idea
                              </span>
                            </p>
                          </ng-template>
                          <app-social-images></app-social-images>
                          <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-0">
                              <p class="mb-0 small text-muted">
                                <fa-icon
                                  [icon]="['fas', 'clock']"
                                  class="text-muted"
                                ></fa-icon>
                                {{ activity.createdAt | timeAgo }}
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <div
                *ngIf="resultCount > activities?.length"
                class="bg-light text-center border-bottom pt-1 pb-1"
              >
                <label
                  *ngIf="!isSearching"
                  class="small bold pl-3 link"
                  (click)="loadMore()"
                  >Load More ...</label
                >
                <fa-icon
                  *ngIf="isSearching"
                  [icon]="['fas', 'spinner']"
                  [spin]="true"
                ></fa-icon>
              </div>
            </div>
          </div>

          <br />
          <!-- multiple followers -->
          <!-- <div class="card rounded-bottom-0">
            <div class="card-body pt-3 pb-3 px-3">
              <div class="media">
                <div class="activityIcon rounded-circle bg-primary mr-3 mt-1">
                  <fa-icon [icon]="['fas', 'rss']" class="text-white align-middle text-center"></fa-icon>
                </div>
                <div class="media-body">
                  <div class="row">
                    <div class="col-12">
                      <p class="text-medium mb-2">
                        First Name, FirstName, FirstName and 10 others followed
                        ideaName
                      </p>
                      <app-social-images></app-social-images>
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-0">
                          <p class="mb-0 small text-muted">
                            <fa-icon [icon]="['fas', 'clock']" class="text-muted"></fa-icon>
                            10 Days Ago
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- end -->
          <!-- multiple views -->
          <!-- <div class="card rounded-0 border-top-0">
            <div class="card-body pt-3 pb-3 px-3">
              <div class="media">
                <div class="activityIcon rounded-circle bg-primary mr-3 mt-1">
                  <fa-icon [icon]="['fas', 'eye']" class="text-white align-middle text-center"></fa-icon>
                </div>
                <div class="media-body">
                  <div class="row">
                    <div class="col-12">
                      <p class="text-medium mb-2">
                        First Name, FirstName, FirstName and 10 others viewed
                        ideaName
                      </p>
                      <app-social-images></app-social-images>
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-0">
                          <p class="mb-0 small text-muted">
                            <fa-icon [icon]="['fas', 'clock']" class="text-muted"></fa-icon>
                            10 Days Ago
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- end -->
          <!-- multiple votes -->
          <!-- <div class="card rounded-0 border-top-0">
            <div class="card-body pt-3 pb-3 px-3">
              <div class="media">
                <div class="mr-3 mt-1">
                  <div class="activityIcon rounded-circle bg-primary border-white" style="z-index: 5000;">
                    <fa-icon [icon]="['fas', 'thumbs-up']" class="text-white align-middle text-center"></fa-icon>
                  </div>
                </div>
                <div class="media-body">
                  <div class="row">
                    <div class="col-12">
                      <p class="text-medium mb-2">
                        First Name, FirstName, FirstName and 10 others voted for
                        ideaName
                      </p>
                      <app-social-images></app-social-images>
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-0">
                          <p class="mb-0 small text-muted">
                            <fa-icon [icon]="['fas', 'clock']" class="text-muted"></fa-icon>
                            10 Days Ago
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- end -->
          <!-- new scorecard review -->
          <!-- <div class="card rounded-0 border-top-0">
            <div class="card-body pt-3 pb-3 px-3">
              <div class="media">
                <div class="activityIcon rounded-circle bg-primary mr-3 mt-1">
                  <fa-icon [icon]="['fas', 'star']" class="text-white align-middle text-center"></fa-icon>
                </div>
                <div class="media-body">
                  <p class="text-medium mb-1">
                    <a routerLink="/profile-container" class="inverseLinkDark">FirstName</a>
                    completed a review on ideaName
                  </p>
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-0">
                      <p class="mb-0 small text-muted">
                        <fa-icon [icon]="['fas', 'clock']" class="text-muted"></fa-icon>
                        10 Days Ago
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div> -->
          <!-- end -->
          <!-- new status change -->
          <!-- <div class="card rounded-0 border-top-0">
            <div class="card-body pt-3 pb-3 px-3">
              <div class="media">
                <div class="activityIcon rounded-circle bg-primary mr-3 mt-1">
                  <fa-icon [icon]="['fas', 'conveyor-belt-alt']" class="text-white align-middle text-center"></fa-icon>
                </div>
                <div class="media-body">
                  <p class="text-medium mb-1">
                    <a routerLink="/profile-container" class="inverseLinkDark">FirstName</a>
                    updated the status of this idea from previousStatus to
                    newStatus
                  </p>
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-0">
                      <p class="mb-0 small text-muted">
                        <fa-icon [icon]="['fas', 'clock']" class="text-muted"></fa-icon>
                        10 Days Ago
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div> -->
          <!-- end -->
          <!-- edit idea -->
          <!-- <div class="card rounded-0 border-top-0">
            <div class="card-body pt-3 pb-3 px-3">
              <div class="media">
                <div class="activityIcon rounded-circle bg-primary mr-3 mt-1">
                  <fa-icon [icon]="['fas', 'edit']" class="text-white align-middle text-center"></fa-icon>
                </div>
                <div class="media-body">
                  <p class="text-medium mb-1">
                    <a routerLink="/profile-container" class="inverseLinkDark">FirstName</a>
                    edited this idea
                  </p>
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-0">
                      <p class="mb-0 small text-muted">
                        <fa-icon [icon]="['fas', 'clock']" class="text-muted"></fa-icon>
                        10 Days Ago
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div> -->
          <!-- end -->
          <!-- this idea merged into another idea -->
          <!-- <div class="card rounded-0 border-top-0">
            <div class="card-body pt-3 pb-3 px-3">
              <div class="media">
                <div class="activityIcon rounded-circle bg-primary mr-3 mt-1">
                  <fa-icon [icon]="['fas', 'code-merge']" class="text-white align-middle text-center"></fa-icon>
                </div>
                <div class="media-body">
                  <p class="text-medium mb-1">
                    <a routerLink="/profile-container" class="inverseLinkDark">FirstName</a>
                    merged this idea into <app-idea-title></app-idea-title>
                  </p>
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-0">
                      <p class="mb-0 small text-muted">
                        <fa-icon [icon]="['fas', 'clock']" class="text-muted"></fa-icon>
                        10 Days Ago
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div> -->
          <!-- end -->
          <!-- other idea merged into this idea -->
          <!-- <div class="card rounded-0 border-top-0">
            <div class="card-body pt-3 pb-3 px-3">
              <div class="media">
                <div class="activityIcon rounded-circle bg-primary mr-3 mt-1">
                  <fa-icon [icon]="['fas', 'code-merge']" class="text-white align-middle text-center"></fa-icon>
                </div>
                <div class="media-body">
                  <p class="text-medium mb-1">
                    <a routerLink="/profile-container" class="inverseLinkDark">FirstName</a>
                    merged <app-idea-title></app-idea-title> into this idea
                  </p>
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-0">
                      <p class="mb-0 small text-muted">
                        <fa-icon [icon]="['fas', 'clock']" class="text-muted"></fa-icon>
                        10 Days Ago
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div> -->
          <!-- end -->
          <!-- this idea linked to another idea -->
          <!-- <div class="card rounded-0 border-top-0">
            <div class="card-body pt-3 pb-3 px-3">
              <div class="media">
                <div class="activityIcon rounded-circle bg-primary mr-3 mt-1">
                  <fa-icon [icon]="['fas', 'link']" class="text-white align-middle text-center"></fa-icon>
                </div>
                <div class="media-body">
                  <p class="text-medium mb-1">
                    <a routerLink="/profile-container" class="inverseLinkDark">FirstName</a>
                    linked this idea to
                    <app-idea-title></app-idea-title>
                  </p>
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-0">
                      <p class="mb-0 small text-muted">
                        <fa-icon [icon]="['fas', 'clock']" class="text-muted"></fa-icon>
                        10 Days Ago
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div> -->
          <!-- end -->
          <!-- this idea linked to another idea -->
          <!-- <div class="card rounded-0 border-top-0">
            <div class="card-body pt-3 pb-3 px-3">
              <div class="media">
                <div class="activityIcon rounded-circle bg-primary mr-3 mt-1">
                  <fa-icon [icon]="['fas', 'link']" class="text-white align-middle text-center"></fa-icon>
                </div>
                <div class="media-body">
                  <p class="text-medium mb-1">
                    <a routerLink="/profile-container" class="inverseLinkDark">FirstName</a>
                    linked <app-idea-title></app-idea-title> to this idea
                  </p>
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-0">
                      <p class="mb-0 small text-muted">
                        <fa-icon [icon]="['fas', 'clock']" class="text-muted"></fa-icon>
                        10 Days Ago
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div> -->
          <!-- end -->
          <!-- new reply to your comment -->
          <!-- <div class="card rounded-0 border-top-0">
            <div class="card-body pt-3 pb-3 px-3">
              <div class="media">
                <div class="activityIcon rounded-circle bg-primary mr-3 mt-1">
                  <fa-icon [icon]="['fas', 'comment']" class="text-white align-middle text-center"></fa-icon>
                </div>
                <div class="media-body">
                  <div class="row">
                    <div class="col-12">
                      <p class="text-medium mb-2">
                        First Last Name posted a comment on
                        <a class="inverseLinkDark" routerLink="/idea-page-container">[#250] Leverage VR to Engage
                          Clients Remotely</a>
                      </p>
                      <div class="card mb-2 bg-light">
                        <div class="card-body p-2">
                          <p class="text-medium mb-1 text-muted">
                            This is the comment body This is the comment body
                            This is the comment body This is the comment body
                            This is the comment body This is the comment body
                          </p>
                          <button class="btn btn-primary btn-sm">Reply</button>
                          <span class="badge badge-primary badgePadding pointer" routerLink="/idea-page-container">Reply
                            to Comment</span>
                        </div>
                      </div>
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-0">
                          <p class="mb-0 small text-muted">
                            <fa-icon [icon]="['fas', 'clock']" class="text-muted"></fa-icon>
                            10 Days Ago
                          </p>
                        </li>
                        <li class="list-inline-item ml-2 mr-2">
                          <fa-icon [icon]="['fas', 'circle']" class="small separatorIcon text-muted"></fa-icon>
                        </li>
                        <li class="list-inline-item mr-0">
                          <p class="mb-0 small text-muted">
                            You Submitted This Idea
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- end -->
        </div>
      </div>
    </div>
    <!-- <div class="col-3">
      insert tasks
    </div> -->
  </div>
</div>
