<app-challenge-top></app-challenge-top>
<app-challenge-navigation></app-challenge-navigation>
<div class="container-fluid">
  <div class="row pt-4">
    <div class="col-10 offset-md-1">
      <div class="row">
        <div class="col-12 col-md-8">
          <!-- insert featured users here if enabled -->

          <!-- end of featured users here if enabled -->
          <app-leaderboard-list></app-leaderboard-list>
        </div>
        <div class="col-12 col-md-4">
          <app-profile-missions></app-profile-missions>
          <!-- start of prizes users has access to -->
          <app-prize-list></app-prize-list>

          <!-- end of prizes users have access to -->
        </div>
      </div>
    </div>
  </div>
</div>
