<!-- start of one -->
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <p class="link mb-1">
          Assign Owner to Idea
          <fa-icon
            [icon]="['fas', 'info-circle']"
            class="text-muted text-medium ml-1"
            ngbTooltip="instructions for action item if they exist"
          ></fa-icon>
        </p>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-6">
        <ul class="list-inline mb-0">
          <li class="list-inline-item removeMargins">
            <img
              class="userImage rounded-circle"
              ngbTooltip="Full Name"
              src="https://ideawake-test.s3.amazonaws.com/attachments/users/a33e5080-79ab-11ea-931d-6bab431a940f.png"
            />
          </li>
          <li class="list-inline-item removeMargins">
            <img
              class="userImage rounded-circle"
              ngbTooltip="Full Name"
              src="https://ideawake-test.s3.amazonaws.com/attachments/users/a33e5080-79ab-11ea-931d-6bab431a940f.png"
            />
          </li>
          <li class="list-inline-item removeMargins">
            <img
              class="userImage rounded-circle"
              ngbTooltip="Full Name"
              src="https://ideawake-test.s3.amazonaws.com/attachments/users/a33e5080-79ab-11ea-931d-6bab431a940f.png"
            />
          </li>
          <li class="list-inline-item removeMargins">
            <img
              class="userImage rounded-circle"
              ngbTooltip="Full Name"
              src="https://ideawake-test.s3.amazonaws.com/attachments/users/a33e5080-79ab-11ea-931d-6bab431a940f.png"
            />
          </li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="list-inline mb-0 float-right pt-2">
          <li class="list-inline-item">
            <p class="small text-muted mb-0" ngbTooltip="Due Date">
              <fa-icon [icon]="['fas', 'clock']"></fa-icon>
              10/25/20
            </p>
          </li>
          <li class="list-inline-item ml-2">
            <p class="small text-muted mb-0" ngbTooltip="Percentage Completed">
              <fa-icon [icon]="['fas', 'percentage']"></fa-icon>
              10/25
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end of one -->
<hr class="my-2" />
<!-- start of one -->
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <p class="link mb-1">
          Complete A3 Template
          <fa-icon
            [icon]="['fas', 'info-circle']"
            class="text-muted text-medium"
            ngbTooltip="instructions for action item if they exist"
          ></fa-icon>
        </p>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-6">
        <ul class="list-inline mb-0">
          <li class="list-inline-item removeMargins">
            <img
              class="userImage rounded-circle"
              ngbTooltip="Full Name"
              src="https://ideawake-test.s3.amazonaws.com/attachments/users/a33e5080-79ab-11ea-931d-6bab431a940f.png"
            />
          </li>
          <li class="list-inline-item removeMargins">
            <img
              class="userImage rounded-circle"
              ngbTooltip="Full Name"
              src="https://ideawake-test.s3.amazonaws.com/attachments/users/a33e5080-79ab-11ea-931d-6bab431a940f.png"
            />
          </li>
          <li class="list-inline-item removeMargins">
            <img
              class="userImage rounded-circle"
              ngbTooltip="Full Name"
              src="https://ideawake-test.s3.amazonaws.com/attachments/users/a33e5080-79ab-11ea-931d-6bab431a940f.png"
            />
          </li>
          <li class="list-inline-item removeMargins">
            <img
              class="userImage rounded-circle"
              ngbTooltip="Full Name"
              src="https://ideawake-test.s3.amazonaws.com/attachments/users/a33e5080-79ab-11ea-931d-6bab431a940f.png"
            />
          </li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="list-inline mb-0 float-right pt-2">
          <li class="list-inline-item">
            <p class="small text-muted mb-0" ngbTooltip="Due Date">
              <fa-icon [icon]="['fas', 'clock']"></fa-icon>
              10/25/20
            </p>
          </li>
          <li class="list-inline-item ml-2">
            <p class="small text-muted mb-0" ngbTooltip="Percentage Completed">
              <fa-icon [icon]="['fas', 'percentage']"></fa-icon>
              10/25
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end of one -->
<hr class="my-2" />
<!-- start of one -->
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <p class="link mb-1">
          Submit designs for this idea
          <fa-icon
            [icon]="['fas', 'info-circle']"
            class="text-muted text-medium"
            ngbTooltip="instructions for action item if they exist"
          ></fa-icon>
        </p>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-6">
        <ul class="list-inline mb-0">
          <li class="list-inline-item removeMargins">
            <img
              class="userImage rounded-circle"
              ngbTooltip="Full Name"
              src="https://ideawake-test.s3.amazonaws.com/attachments/users/a33e5080-79ab-11ea-931d-6bab431a940f.png"
            />
          </li>
          <li class="list-inline-item removeMargins">
            <img
              class="userImage rounded-circle"
              ngbTooltip="Full Name"
              src="https://ideawake-test.s3.amazonaws.com/attachments/users/a33e5080-79ab-11ea-931d-6bab431a940f.png"
            />
          </li>
          <li class="list-inline-item removeMargins">
            <img
              class="userImage rounded-circle"
              ngbTooltip="Full Name"
              src="https://ideawake-test.s3.amazonaws.com/attachments/users/a33e5080-79ab-11ea-931d-6bab431a940f.png"
            />
          </li>
          <li class="list-inline-item removeMargins">
            <img
              class="userImage rounded-circle"
              ngbTooltip="Full Name"
              src="https://ideawake-test.s3.amazonaws.com/attachments/users/a33e5080-79ab-11ea-931d-6bab431a940f.png"
            />
          </li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="list-inline mb-0 float-right pt-2">
          <li class="list-inline-item">
            <p class="small text-muted mb-0" ngbTooltip="Due Date">
              <fa-icon [icon]="['fas', 'clock']"></fa-icon>
              10/25/20
            </p>
          </li>
          <li class="list-inline-item ml-2">
            <p class="small text-muted mb-0" ngbTooltip="Percentage Completed">
              <fa-icon [icon]="['fas', 'percentage']"></fa-icon>
              10/25
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end of one -->
<hr class="my-2" />

<!-- There are no additional open action items at this time. -->
