.removeMargins {
  margin-right: -0.6rem;
}

.userImage {
  border: 2px solid white;
  max-width: 2rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.circleIcon {
  font-size: 5px;
  position: relative;
  bottom: 0.15rem;
}
