<div class="card shadow-sm mt-3">
  <div class="card-header">
    <div class="row">
      <div class="col-9">
        <p class="small mb-0 text-muted bold uppercase">Selected Questions</p>
      </div>
      <!-- <div class="col-5">
        <p class="small mb-0 text-muted bold uppercase">Possible Responses</p>
      </div> -->
      <div class="col-3">
        <p class="small mb-0 text-muted bold uppercase">Actions</p>
      </div>
    </div>
  </div>
  <div class="card-body py-0">
    <!-- start of one -->
    <div class="row py-3 dottedBottomBorder">
      <div class="col-12">
        <div class="row">
          <div class="col-8">
            <p class="mb-0 bold">
              This is question title
              <fa-icon
                [icon]="['fas', 'info-circle']"
                class="text-muted"
                ngbTooltip="This is the question description if it exists..."
              ></fa-icon>
            </p>
          </div>
          <div class="col-4">
            <div class="float-right">
              <button class="btn btn-xs btn-light border mr-1">
                <fa-icon [icon]="['fas', 'edit']" class="text-muted"></fa-icon>
                Edit
              </button>
              <span ngbDropdown>
                <button class="btn btn-xs btn-light border" ngbDropdownToggle>
                  <fa-icon
                    [icon]="['fas', 'times-circle']"
                    class="text-muted"
                  ></fa-icon>
                  Remove
                </button>
                <div ngbDropdownMenu class="pt-0 setMinWidth">
                  <div
                    class="bg-light text-center py-1 mb-3 border-bottom rounded-top"
                  >
                    <label class="text-muted mb-0 small bold"
                      >Remove This Question</label
                    >
                  </div>
                  <div class="px-3" style="max-width: 15rem;">
                    <p class="text-medium text-center">
                      Are you sure you would like to remove this question?
                    </p>
                    <button
                      class="btn-sm btn-outline-primary btn-block removeCaret"
                    >
                      <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
                      Remove Question
                    </button>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mb-1">
                <span class="badge badge-light badgePadding border shadow-sm"
                  >Yes Implement this Idea</span
                >
              </li>
              <li class="list-inline-item mb-1">
                <span class="badge badge-light badgePadding border shadow-sm"
                  >No don't implement this idea</span
                >
              </li>
              <li class="list-inline-item mb-1">
                <span class="badge badge-light badgePadding border shadow-sm"
                  >Needs More Information</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end of one -->
    <!-- start of one -->
    <div class="row py-3 dottedBottomBorder">
      <div class="col-12">
        <div class="row">
          <div class="col-8">
            <p class="mb-0 bold">
              This is question title
              <fa-icon
                [icon]="['fas', 'info-circle']"
                class="text-muted"
                ngbTooltip="This is the question description if it exists..."
              ></fa-icon>
            </p>
          </div>
          <div class="col-4">
            <div class="float-right">
              <button class="btn btn-xs btn-light border mr-1">
                <fa-icon [icon]="['fas', 'edit']" class="text-muted"></fa-icon>
                Edit
              </button>
              <span ngbDropdown>
                <button class="btn btn-xs btn-light border" ngbDropdownToggle>
                  <fa-icon
                    [icon]="['fas', 'times-circle']"
                    class="text-muted"
                  ></fa-icon>
                  Remove
                </button>
                <div ngbDropdownMenu class="pt-0 setMinWidth">
                  <div
                    class="bg-light text-center py-1 mb-3 border-bottom rounded-top"
                  >
                    <label class="text-muted mb-0 small bold"
                      >Remove This Question</label
                    >
                  </div>
                  <div class="px-3" style="max-width: 15rem;">
                    <p class="text-medium text-center">
                      Are you sure you would like to remove this question?
                    </p>
                    <button
                      class="btn-sm btn-outline-primary btn-block removeCaret"
                    >
                      <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
                      Remove Question
                    </button>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mb-1">
                <span class="badge badge-light badgePadding border shadow-sm"
                  >Yes Implement this Idea</span
                >
              </li>
              <li class="list-inline-item mb-1">
                <span class="badge badge-light badgePadding border shadow-sm"
                  >No don't implement this idea</span
                >
              </li>
              <li class="list-inline-item mb-1">
                <span class="badge badge-light badgePadding border shadow-sm"
                  >Needs More Information</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end of one -->
    <!-- start of one -->
    <div class="row py-3 dottedBottomBorder">
      <div class="col-12">
        <div class="row">
          <div class="col-8">
            <p class="mb-0 bold">
              This is question title
              <fa-icon
                [icon]="['fas', 'info-circle']"
                class="text-muted"
                ngbTooltip="This is the question description if it exists..."
              ></fa-icon>
            </p>
          </div>
          <div class="col-4">
            <div class="float-right">
              <button class="btn btn-xs btn-light border mr-1">
                <fa-icon [icon]="['fas', 'edit']" class="text-muted"></fa-icon>
                Edit
              </button>
              <span ngbDropdown>
                <button class="btn btn-xs btn-light border" ngbDropdownToggle>
                  <fa-icon
                    [icon]="['fas', 'times-circle']"
                    class="text-muted"
                  ></fa-icon>
                  Remove
                </button>
                <div ngbDropdownMenu class="pt-0 setMinWidth">
                  <div
                    class="bg-light text-center py-1 mb-3 border-bottom rounded-top"
                  >
                    <label class="text-muted mb-0 small bold"
                      >Remove This Question</label
                    >
                  </div>
                  <div class="px-3" style="max-width: 15rem;">
                    <p class="text-medium text-center">
                      Are you sure you would like to remove this question?
                    </p>
                    <button
                      class="btn-sm btn-outline-primary btn-block removeCaret"
                    >
                      <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
                      Remove Question
                    </button>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mb-1">
                <span class="badge badge-light badgePadding border shadow-sm"
                  >Yes Implement this Idea</span
                >
              </li>
              <li class="list-inline-item mb-1">
                <span class="badge badge-light badgePadding border shadow-sm"
                  >No don't implement this idea</span
                >
              </li>
              <li class="list-inline-item mb-1">
                <span class="badge badge-light badgePadding border shadow-sm"
                  >Needs More Information</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end of one -->
  </div>
</div>
