<div class="row mx-0">
  <div class="fb-item col-12" [ngClass]="{ 'background-color': count !== 1, 'not-window': !window }"
    *ngFor="let a of arr">
    <div class="row mx-0">
      <div class="col-12 pl-0">
        <div class="commentsSection pt-4">
          <div class="row mx-0 py-3">
            <div class="col-12">
              <app-list-loader [style]="{ width: '35%', 'border-radius': '0', height: '15px', 'margin-bottom': '0px' }">
              </app-list-loader>
              <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
              </app-list-loader>
              <app-list-loader [style]="{ width: '95%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
              </app-list-loader>
            </div>
          </div>
        </div>
        <div class="commentsSection">
          <div class="row mx-0 py-3">
            <div class="col-12">
              <app-list-loader [style]="{ width: '35%', 'border-radius': '0', height: '15px', 'margin-bottom': '0px' }">
              </app-list-loader>
              <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
              </app-list-loader>
              <app-list-loader [style]="{ width: '95%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
              </app-list-loader>
            </div>
          </div>
        </div>
        <div class="commentsSection">
          <div class="row mx-0 py-3">
            <div class="col-12">
              <app-list-loader [style]="{ width: '35%', 'border-radius': '0', height: '15px', 'margin-bottom': '0px' }">
              </app-list-loader>
              <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
              </app-list-loader>
              <app-list-loader [style]="{ width: '95%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
              </app-list-loader>
            </div>
          </div>
        </div>
        <div class="commentsSection">
          <div class="row mx-0 py-3">
            <div class="col-12">
              <app-list-loader [style]="{ width: '35%', 'border-radius': '0', height: '15px', 'margin-bottom': '0px' }">
              </app-list-loader>
              <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
              </app-list-loader>
              <app-list-loader [style]="{ width: '95%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
              </app-list-loader>
            </div>
          </div>
        </div>
        <div class="commentsSection">
          <div class="row mx-0 py-3">
            <div class="col-12">
              <app-list-loader [style]="{ width: '35%', 'border-radius': '0', height: '15px', 'margin-bottom': '0px' }">
              </app-list-loader>
              <app-list-loader [style]="{ width: '100%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
              </app-list-loader>
              <app-list-loader [style]="{ width: '95%', 'border-radius': '0', height: '10px', 'margin-bottom': '0px' }">
              </app-list-loader>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
